<div class="donnorbox-container-small my-4">
  <script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
  <iframe src="https://donorbox.org/embed/kde-community?default_interval=o&hide_donation_meter=true" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="550px" width="100%" style="max-width: 500px; min-width: 310px; max-height:none!important; border-radius: 15px;"></iframe>
</div>
