<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/bluedevil-5.12.6.tar.xz">bluedevil-5.12.6</a></td>
   <td align="right">146kB</td>
   <td><tt>24d6b9c52fac97473d66c8b717f27fd00323e64fa8c2b2eb4c814f4214096e9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/breeze-5.12.6.tar.xz">breeze-5.12.6</a></td>
   <td align="right">21MB</td>
   <td><tt>690d43ccca786e562b1933a0beca5740e196691b784645c4b5fb5eb953b49f3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/breeze-grub-5.12.6.tar.xz">breeze-grub-5.12.6</a></td>
   <td align="right">2.9MB</td>
   <td><tt>12f7d5f1567eb6ed3e75f9a89b8716306c2b94183358b3b93c34613d79ba93f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/breeze-gtk-5.12.6.tar.xz">breeze-gtk-5.12.6</a></td>
   <td align="right">208kB</td>
   <td><tt>07dfe5530256337512fc905d97d71aa62addcf4ff1df8b80b5ae20b2ac62c8d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/breeze-plymouth-5.12.6.tar.xz">breeze-plymouth-5.12.6</a></td>
   <td align="right">103kB</td>
   <td><tt>df47d5619d6ce226f2b0ac621b71e1b80a1a3ca1374462bb6fa17d5147d03e29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/discover-5.12.6.tar.xz">discover-5.12.6</a></td>
   <td align="right">9.7MB</td>
   <td><tt>5b1b0c464a81fc316422fc19bfa47eafdc22da851ef23aae1b90af42cd582621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/drkonqi-5.12.6.tar.xz">drkonqi-5.12.6</a></td>
   <td align="right">718kB</td>
   <td><tt>f645e107dd0af36d3aa14a98f192cad6f1f061c98d568eb6ba3ca755545c660d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/kactivitymanagerd-5.12.6.tar.xz">kactivitymanagerd-5.12.6</a></td>
   <td align="right">83kB</td>
   <td><tt>e3dbdfe350366434a39f99c5e01e10a47a6ce4a4c174b2e75d2ade61387bb28b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/kde-cli-tools-5.12.6.tar.xz">kde-cli-tools-5.12.6</a></td>
   <td align="right">564kB</td>
   <td><tt>0096117db14e54c8ec44f465017edd512988c909a575724aa4839372e6b6ee97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/kdecoration-5.12.6.tar.xz">kdecoration-5.12.6</a></td>
   <td align="right">34kB</td>
   <td><tt>f00137667bcc05f89d25b93050d3854ee46abe43122380a35aea133d1cd14633</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/kde-gtk-config-5.12.6.tar.xz">kde-gtk-config-5.12.6</a></td>
   <td align="right">153kB</td>
   <td><tt>f4840ee09f381a810cdd399eee0709025b4def7a78a6d1197efc9411bffca43c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/kdeplasma-addons-5.12.6.tar.xz">kdeplasma-addons-5.12.6</a></td>
   <td align="right">554kB</td>
   <td><tt>ff042b67c9723a8a8ea6c7c0045ceb0ce62be4ae69e256301231e61072ddf36f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/kgamma5-5.12.6.tar.xz">kgamma5-5.12.6</a></td>
   <td align="right">59kB</td>
   <td><tt>8a7537f4d47d0be45ea9b98e2f56a1532760d1d2d035fb6997072dd3c0b5c8fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/khotkeys-5.12.6.tar.xz">khotkeys-5.12.6</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b19998dd2a92d814656496234bdc4f32705b25aff58c1b9b3c5309738fe93dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/kinfocenter-5.12.6.tar.xz">kinfocenter-5.12.6</a></td>
   <td align="right">1.2MB</td>
   <td><tt>1ed65aa6251129e4b3893dc55a83011910fcee1a420d70a925712874ed775bb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/kmenuedit-5.12.6.tar.xz">kmenuedit-5.12.6</a></td>
   <td align="right">641kB</td>
   <td><tt>d754ad63f0ffa08b7a1c48b54d11b58bdf03fc33641fac2b5fa4cadbe46cdc84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/kscreen-5.12.6.tar.xz">kscreen-5.12.6</a></td>
   <td align="right">115kB</td>
   <td><tt>489e53a915ce422da338613abeef2f90b2d94524d1282f525e54115b01ec313b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/kscreenlocker-5.12.6.tar.xz">kscreenlocker-5.12.6</a></td>
   <td align="right">116kB</td>
   <td><tt>de08c7ac96d74e8f8e8f2605890ecf117bd209e41b9708e2ba0ff3ef88d19faf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/ksshaskpass-5.12.6.tar.xz">ksshaskpass-5.12.6</a></td>
   <td align="right">20kB</td>
   <td><tt>a9899057c2a0b9fae2c914a12797dd700f5ec454578a1a20a1058f7165b41610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/ksysguard-5.12.6.tar.xz">ksysguard-5.12.6</a></td>
   <td align="right">479kB</td>
   <td><tt>d6269b60847d9fd3e3ceed1db3c48563e49fce9355fe92e4b402d7a2554f9a3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/kwallet-pam-5.12.6.tar.xz">kwallet-pam-5.12.6</a></td>
   <td align="right">18kB</td>
   <td><tt>47bf313f56d3c8d817d73a45599c7733026896c9d66e391d8e353c0f8e042311</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/kwayland-integration-5.12.6.tar.xz">kwayland-integration-5.12.6</a></td>
   <td align="right">18kB</td>
   <td><tt>9bb70922dcf9d8c1e542e65ad8149e8f33144ea77af3f4deeccf0218ea86d879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/kwin-5.12.6.tar.xz">kwin-5.12.6</a></td>
   <td align="right">6.2MB</td>
   <td><tt>a263736f3505ae365ada3421a57b957c7f189cb3d1c86c811ed3702e3e68f1da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/kwrited-5.12.6.tar.xz">kwrited-5.12.6</a></td>
   <td align="right">19kB</td>
   <td><tt>3fedba3d55e4d8acfd5ada638f4f77ca8021e86423e606f8efee2ca0946dcabe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/libkscreen-5.12.6.tar.xz">libkscreen-5.12.6</a></td>
   <td align="right">92kB</td>
   <td><tt>8d8db57ad2a7b89e7083edf5492ef8f6f7c1693705d5c31ecbec6f56c2739747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/libksysguard-5.12.6.tar.xz">libksysguard-5.12.6</a></td>
   <td align="right">555kB</td>
   <td><tt>35ff7ea7853958441b042f31f76d6611dd7aa26122b76da9754361af7d4edb3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/milou-5.12.6.tar.xz">milou-5.12.6</a></td>
   <td align="right">56kB</td>
   <td><tt>28f125b68ac7784cda1c590ca1fea5b60ef0bda81a362875e5ab06f21b4ede0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/oxygen-5.12.6.tar.xz">oxygen-5.12.6</a></td>
   <td align="right">4.2MB</td>
   <td><tt>f8aabea5620537ca972a94a4729b29d5dcac09b5cb94b3ab7a8d2533bfb875a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/plasma-desktop-5.12.6.tar.xz">plasma-desktop-5.12.6</a></td>
   <td align="right">8.7MB</td>
   <td><tt>b9f2607050829f4d4febe6b8313f2ee0eb70837b3d4fc1c48183e3bd5a371cd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/plasma-integration-5.12.6.tar.xz">plasma-integration-5.12.6</a></td>
   <td align="right">52kB</td>
   <td><tt>266fabce56552dabd9c4778a9f81cd9a36b5d00e11a33c68666f8a9bccdf68dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/plasma-nm-5.12.6.tar.xz">plasma-nm-5.12.6</a></td>
   <td align="right">688kB</td>
   <td><tt>9b5bae6137a981dbe54f7a73d42f462950b2967424e2693e6c6d06ef9983f246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/plasma-pa-5.12.6.tar.xz">plasma-pa-5.12.6</a></td>
   <td align="right">85kB</td>
   <td><tt>e44798d894ac4cb9a787e356a85654f76f3106e56e389f4ac3f032c5b6f6c81e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/plasma-sdk-5.12.6.tar.xz">plasma-sdk-5.12.6</a></td>
   <td align="right">238kB</td>
   <td><tt>7d8e48dd1314de7aae1f9854432067c6d4434f3dc0e0fb594b01ff00e4e39e59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/plasma-tests-5.12.6.tar.xz">plasma-tests-5.12.6</a></td>
   <td align="right">1kB</td>
   <td><tt>54fabf424b260c08b8166d4299c969b3c1cc098f64d5583e55a3fd9a6cb81ebe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/plasma-vault-5.12.6.tar.xz">plasma-vault-5.12.6</a></td>
   <td align="right">102kB</td>
   <td><tt>7b3c2035be5123cca772c243ce89de2aaf65bf563939d2eee917bd0eb3a82b79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/plasma-workspace-5.12.6.tar.xz">plasma-workspace-5.12.6</a></td>
   <td align="right">4.3MB</td>
   <td><tt>103cc07767771f9237d92c74c424f056b238b6bc28483ff87bc602407a92b75e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/plasma-workspace-wallpapers-5.12.6.tar.xz">plasma-workspace-wallpapers-5.12.6</a></td>
   <td align="right">43MB</td>
   <td><tt>5f20fa1b3aab5841473803bf5012e66f34b6e3ac010b3c79067db47f39263b47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/plymouth-kcm-5.12.6.tar.xz">plymouth-kcm-5.12.6</a></td>
   <td align="right">38kB</td>
   <td><tt>022fdf057fccabe7f491197c054633105a61a705cfebed95d8488fc1ad51ac5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/polkit-kde-agent-1-5.12.6.tar.xz">polkit-kde-agent-1-5.12.6</a></td>
   <td align="right">41kB</td>
   <td><tt>e34f56bb4bfa7ca637ac83f5ea73aae96223dbdebb6641e282c495aa1d121dd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/powerdevil-5.12.6.tar.xz">powerdevil-5.12.6</a></td>
   <td align="right">523kB</td>
   <td><tt>0699e8dc5178ccf04b285e43ed3ab99d22937cc8c2a4f49bff12ae4b2c7a3978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/sddm-kcm-5.12.6.tar.xz">sddm-kcm-5.12.6</a></td>
   <td align="right">59kB</td>
   <td><tt>5b5ef4095b6dffa27554e8e08b1a5e3d8e3abb79cb7011155005065e2151415f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/systemsettings-5.12.6.tar.xz">systemsettings-5.12.6</a></td>
   <td align="right">171kB</td>
   <td><tt>79603d670bba619de8059d71f934beef35f67b8678a801d132b60704e8e4661e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/user-manager-5.12.6.tar.xz">user-manager-5.12.6</a></td>
   <td align="right">532kB</td>
   <td><tt>41b8774857703cd927c66220db62d60d72b79b0592140c637bf06e39a09abf31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.12.6/xdg-desktop-portal-kde-5.12.6.tar.xz">xdg-desktop-portal-kde-5.12.6</a></td>
   <td align="right">30kB</td>
   <td><tt>8cc4b5a4ba98c6b9e8cf6e9640b021d3f0242c90107f4534743cc6ecb8b8bd35</tt></td>
</tr>

</table>
