<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/bluedevil-5.16.3.tar.xz">bluedevil-5.16.3</a></td>
   <td align="right">154kB</td>
   <td><tt>f22234c0561e143c03114943ccfaec962195b3aef55ffbc8a5ba2b8f722cd4bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/breeze-5.16.3.tar.xz">breeze-5.16.3</a></td>
   <td align="right">15MB</td>
   <td><tt>f11b5d0118c7530d244b3455219d86fc40888cb7e7f6a74684464a1d1b7db2e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/breeze-grub-5.16.3.tar.xz">breeze-grub-5.16.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6a25f456121c17a2f3275220d1fe0af8438484918b2d1678ddd39ed020b99176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/breeze-gtk-5.16.3.tar.xz">breeze-gtk-5.16.3</a></td>
   <td align="right">46kB</td>
   <td><tt>52cbe5c7757fb395e3e7e35c12918017a80d64d9f13c32ce6cdfacd440ecaa64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/breeze-plymouth-5.16.3.tar.xz">breeze-plymouth-5.16.3</a></td>
   <td align="right">103kB</td>
   <td><tt>4fc6ca444449d42874009af1f79ba408c6a37d2c08722c05a97b9a268a447ce6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/discover-5.16.3.tar.xz">discover-5.16.3</a></td>
   <td align="right">9.9MB</td>
   <td><tt>1cbceecf8c7489a33a62b6efc5b1acf338f35e53db5d12fc2476e0374a0033cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/drkonqi-5.16.3.tar.xz">drkonqi-5.16.3</a></td>
   <td align="right">727kB</td>
   <td><tt>118afd1d85fd78e34faac0bd6aa548edb501f16d733ea9f0a28630c817496fda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/kactivitymanagerd-5.16.3.tar.xz">kactivitymanagerd-5.16.3</a></td>
   <td align="right">82kB</td>
   <td><tt>6a8cb887c4ca74d209e38db40ce04b2e0fe1d9e9a625c8490945184dfa41dfc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/kde-cli-tools-5.16.3.tar.xz">kde-cli-tools-5.16.3</a></td>
   <td align="right">573kB</td>
   <td><tt>ee68a8f958e1ce503252689d66eeb9897bad6b7e44f760c654d49225b3d55cd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/kde-gtk-config-5.16.3.tar.xz">kde-gtk-config-5.16.3</a></td>
   <td align="right">150kB</td>
   <td><tt>0477b3763e85acd2780306e0fd3fe309ee86805a512d0d3b150cab24c5153fd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/kdecoration-5.16.3.tar.xz">kdecoration-5.16.3</a></td>
   <td align="right">41kB</td>
   <td><tt>31b49d600280d6b2c23d37edc219976d87e38e1c7fd62b5dc9dbc36d365bb5ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/kdeplasma-addons-5.16.3.tar.xz">kdeplasma-addons-5.16.3</a></td>
   <td align="right">579kB</td>
   <td><tt>83c6bb1c9a5928de4febc3d9ad4e6be0beb24857efcccb98e967629c28d29831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/kgamma5-5.16.3.tar.xz">kgamma5-5.16.3</a></td>
   <td align="right">77kB</td>
   <td><tt>7b609d418e670bdc75d6c2894255088aab6a7a2005afe3ec99348a49d67eb61d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/khotkeys-5.16.3.tar.xz">khotkeys-5.16.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>caa65d8b3b6567dac483acf27f62e9baefc31416aa5f991409b0304920211f4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/kinfocenter-5.16.3.tar.xz">kinfocenter-5.16.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>b123278ef644fd4c3a5af1fb29f3ab859d4dfb2717e0e5783d58927a69ad7f88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/kmenuedit-5.16.3.tar.xz">kmenuedit-5.16.3</a></td>
   <td align="right">792kB</td>
   <td><tt>2ccc8e7feea7b4d3616a7528cf65a62c5299388583afb295d0aa2379945035cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/kscreen-5.16.3.tar.xz">kscreen-5.16.3</a></td>
   <td align="right">120kB</td>
   <td><tt>3c95f590ddc3483e2828585263feb2caa3e32c59f1b92f6aca23309565d4e139</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/kscreenlocker-5.16.3.tar.xz">kscreenlocker-5.16.3</a></td>
   <td align="right">119kB</td>
   <td><tt>41f9a85f0e6a8ae9747b9022961361b44b21b0df0b5e2c1705694b88f371d377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/ksshaskpass-5.16.3.tar.xz">ksshaskpass-5.16.3</a></td>
   <td align="right">20kB</td>
   <td><tt>fbf9b535259aebd8e292d9e4db8ae5d8a2fe85658f8e95ab3b88e79f8093ea91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/ksysguard-5.16.3.tar.xz">ksysguard-5.16.3</a></td>
   <td align="right">489kB</td>
   <td><tt>f3bbc8b89bf117deab27e1e29d59f19ea1834be11d606f0be25c4a080c9766a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/kwallet-pam-5.16.3.tar.xz">kwallet-pam-5.16.3</a></td>
   <td align="right">19kB</td>
   <td><tt>e5f2a2e9650008b7d6383a9c71b70d4ec092dc48e8c1409a4570531c56f8985c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/kwayland-integration-5.16.3.tar.xz">kwayland-integration-5.16.3</a></td>
   <td align="right">18kB</td>
   <td><tt>b0e844375a7c43579311899ffb2fed2b048279b4a59de91be687c99257449670</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/kwin-5.16.3.tar.xz">kwin-5.16.3</a></td>
   <td align="right">5.9MB</td>
   <td><tt>766ae9cec1535ab7a715c20d8ef1b409063be55bb8d8d8f593de9551ee12b01a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/kwrited-5.16.3.tar.xz">kwrited-5.16.3</a></td>
   <td align="right">19kB</td>
   <td><tt>9c86575d080219a00ad9fa99b7d12acc06b2cd807bd256fc9f4d96cc8d7ab37e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/libkscreen-5.16.3.tar.xz">libkscreen-5.16.3</a></td>
   <td align="right">79kB</td>
   <td><tt>09f7dcef33dd23b7987444c25edbc1b5b91f99396c65bdafa1823d77c94b3422</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/libksysguard-5.16.3.tar.xz">libksysguard-5.16.3</a></td>
   <td align="right">565kB</td>
   <td><tt>a668348bf1bb65f991d0862fe55c182d852b02ae37ec2ddc88a70fd1477fcf6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/milou-5.16.3.tar.xz">milou-5.16.3</a></td>
   <td align="right">56kB</td>
   <td><tt>9a06e35d1bf613010301979d7ab5fbdb828943a432bc6a76c6b26ad20e5a199a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/oxygen-5.16.3.tar.xz">oxygen-5.16.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>552b008ec09d08c4704aa3ea66b2d73cf98dc35be290792d34d7962c59f51544</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/plasma-browser-integration-5.16.3.tar.xz">plasma-browser-integration-5.16.3</a></td>
   <td align="right">119kB</td>
   <td><tt>dd3ea46d3339cbd4332c3bff2eda10fea819e316c74a8dd76f43ecb9510681d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/plasma-desktop-5.16.3.tar.xz">plasma-desktop-5.16.3</a></td>
   <td align="right">9.0MB</td>
   <td><tt>2c49ce479dacd227324f5cbcb04a0f9903a79740f044eed593c0bf990d124486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/plasma-integration-5.16.3.tar.xz">plasma-integration-5.16.3</a></td>
   <td align="right">54kB</td>
   <td><tt>75d90d09cd32a4a351a43de8d84cce46920acc93519a8d8472ae357e7771c69e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/plasma-nm-5.16.3.tar.xz">plasma-nm-5.16.3</a></td>
   <td align="right">766kB</td>
   <td><tt>241ba7ee6a902f30748aaa520c556d8624381a36a04c881fc520fd4ff8db2bdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/plasma-pa-5.16.3.tar.xz">plasma-pa-5.16.3</a></td>
   <td align="right">98kB</td>
   <td><tt>e149732abd31b6958d845bb2326f65e344d6440e995d2448c997ddd707a466d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/plasma-sdk-5.16.3.tar.xz">plasma-sdk-5.16.3</a></td>
   <td align="right">244kB</td>
   <td><tt>53a5d03d83ae974032fc32414003038a1b068766eba01e831ecdb1fd91df5b15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/plasma-tests-5.16.3.tar.xz">plasma-tests-5.16.3</a></td>
   <td align="right">1kB</td>
   <td><tt>8effcd48b7c6393d649f06fc4b33854d9449435a653afb8baa228491a6db25ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/plasma-vault-5.16.3.tar.xz">plasma-vault-5.16.3</a></td>
   <td align="right">123kB</td>
   <td><tt>3e071eba3be70ace60010443b1c91ac9da0d86befa6184923867583231698fc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/plasma-workspace-5.16.3.tar.xz">plasma-workspace-5.16.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>ef1dcaff9cea12e764d743b1d0c24a7f0602a0ccaa4b62036b3885429724bd06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/plasma-workspace-wallpapers-5.16.3.tar.xz">plasma-workspace-wallpapers-5.16.3</a></td>
   <td align="right">32MB</td>
   <td><tt>27d7aaf26cf37810d022f9a0f26fea4e517c2380a5f82ef6c1238c7cd7fb5bb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/plymouth-kcm-5.16.3.tar.xz">plymouth-kcm-5.16.3</a></td>
   <td align="right">38kB</td>
   <td><tt>3301679e79e9a36c0aa785434e90c3136e4ff9b186532baf98b04f7a1febfd92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/polkit-kde-agent-1-5.16.3.tar.xz">polkit-kde-agent-1-5.16.3</a></td>
   <td align="right">41kB</td>
   <td><tt>571ea645d1c1ca0f3f00406ca5029663a12de7823db7fed86dc9e367c0f4d16a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/powerdevil-5.16.3.tar.xz">powerdevil-5.16.3</a></td>
   <td align="right">576kB</td>
   <td><tt>75fd2fbf714f3b01a2233be5d2170e175994e38fd4daa47092f588697293a9aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/sddm-kcm-5.16.3.tar.xz">sddm-kcm-5.16.3</a></td>
   <td align="right">60kB</td>
   <td><tt>0fad91b5a7901a42df03113a2277d317ceddf048934f4aa83cd2d735bb9738a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/systemsettings-5.16.3.tar.xz">systemsettings-5.16.3</a></td>
   <td align="right">173kB</td>
   <td><tt>55a861bb75ea3e50543001bac9505fd5de2733f9b0c234d8b8e3bd7c879ee21e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/user-manager-5.16.3.tar.xz">user-manager-5.16.3</a></td>
   <td align="right">533kB</td>
   <td><tt>9d71980a976e5f37ac9e324d83e9c4de533cd4e77add66f9fdee7c5a0ec9ec0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.16.3/xdg-desktop-portal-kde-5.16.3.tar.xz">xdg-desktop-portal-kde-5.16.3</a></td>
   <td align="right">60kB</td>
   <td><tt>919e526a9e4a68c50b0dc4972713196076eecfff90445833d8f5665b0f88f1a0</tt></td>
</tr>

</table>
