
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/attica-5.39.0.tar.xz">attica-5.39.0</a></td>
   <td align="right">59kB</td>
   <td><tt>68cef608c7928a068cd4294ca14dd260bf80d05d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/baloo-5.39.0.tar.xz">baloo-5.39.0</a></td>
   <td align="right">193kB</td>
   <td><tt>efc12486e102f84df1f7e9707b1475c4b2f0b984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/bluez-qt-5.39.0.tar.xz">bluez-qt-5.39.0</a></td>
   <td align="right">73kB</td>
   <td><tt>952145bf32cf36ee5383cf5282e60ac8a17a9432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/breeze-icons-5.39.0.tar.xz">breeze-icons-5.39.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>f0d401304e4e9306ba26f92b2e673d3defc00506</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/extra-cmake-modules-5.39.0.tar.xz">extra-cmake-modules-5.39.0</a></td>
   <td align="right">305kB</td>
   <td><tt>60516b87960758a96fcd305c69cfa8f230aba1b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/frameworkintegration-5.39.0.tar.xz">frameworkintegration-5.39.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>79438fc08d962971d0c43e14c73c25acfe59c552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kactivities-5.39.0.tar.xz">kactivities-5.39.0</a></td>
   <td align="right">59kB</td>
   <td><tt>32340cb37d305a0d4cb56b699d2ce2e9fd378c81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kactivities-stats-5.39.0.tar.xz">kactivities-stats-5.39.0</a></td>
   <td align="right">59kB</td>
   <td><tt>c143d4da90b83ea9262afdbf9b534c9c3535c881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kapidox-5.39.0.tar.xz">kapidox-5.39.0</a></td>
   <td align="right">386kB</td>
   <td><tt>3d4f7a7767b30acd849059734990d7455ff8cf82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/karchive-5.39.0.tar.xz">karchive-5.39.0</a></td>
   <td align="right">110kB</td>
   <td><tt>f49562a2e47b77e134997200f9494ef955908925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kauth-5.39.0.tar.xz">kauth-5.39.0</a></td>
   <td align="right">82kB</td>
   <td><tt>0864e32846a7bb96aef9b58ad112a56ef04b93ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kbookmarks-5.39.0.tar.xz">kbookmarks-5.39.0</a></td>
   <td align="right">114kB</td>
   <td><tt>9544008d408df19da468d772b0ebe21db6da33c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kcmutils-5.39.0.tar.xz">kcmutils-5.39.0</a></td>
   <td align="right">229kB</td>
   <td><tt>3062a979507066669ca125908f33cf79d3b0903b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kcodecs-5.39.0.tar.xz">kcodecs-5.39.0</a></td>
   <td align="right">213kB</td>
   <td><tt>35648d8f1c7e7c3526f6da8882305e2a92fc4ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kcompletion-5.39.0.tar.xz">kcompletion-5.39.0</a></td>
   <td align="right">115kB</td>
   <td><tt>6e7786ec210f8bc0f43356240924bd8ac1565599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kconfig-5.39.0.tar.xz">kconfig-5.39.0</a></td>
   <td align="right">229kB</td>
   <td><tt>08b2acc6e02ea03e33028657b005beaefda05662</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kconfigwidgets-5.39.0.tar.xz">kconfigwidgets-5.39.0</a></td>
   <td align="right">366kB</td>
   <td><tt>c964dddd1c0b3cd912d2393b458ba392fedfc286</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kcoreaddons-5.39.0.tar.xz">kcoreaddons-5.39.0</a></td>
   <td align="right">342kB</td>
   <td><tt>56b6e0c57e7c536868cba53ec36607974547de2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kcrash-5.39.0.tar.xz">kcrash-5.39.0</a></td>
   <td align="right">21kB</td>
   <td><tt>e232528e635d9ff3fdf6911f4b8f8d2db9359179</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kdbusaddons-5.39.0.tar.xz">kdbusaddons-5.39.0</a></td>
   <td align="right">35kB</td>
   <td><tt>da6beea83d59b1314ace8f4e441ecc6d15d4fe02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kdeclarative-5.39.0.tar.xz">kdeclarative-5.39.0</a></td>
   <td align="right">163kB</td>
   <td><tt>6da24e5a0ede60889e5c98e14e4a00834300b584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kded-5.39.0.tar.xz">kded-5.39.0</a></td>
   <td align="right">37kB</td>
   <td><tt>92402fc5c978d54b88f59f9301001ac11296819c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kdesignerplugin-5.39.0.tar.xz">kdesignerplugin-5.39.0</a></td>
   <td align="right">88kB</td>
   <td><tt>c5d96f0a68c728fca755464210d81b9d172c9815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kdesu-5.39.0.tar.xz">kdesu-5.39.0</a></td>
   <td align="right">44kB</td>
   <td><tt>7aae8f72af20314f41dd891e4a615bf8ef182622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kdewebkit-5.39.0.tar.xz">kdewebkit-5.39.0</a></td>
   <td align="right">28kB</td>
   <td><tt>ac6a7736dd7baa3bac9ea91572c3bc382deb4c10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kdnssd-5.39.0.tar.xz">kdnssd-5.39.0</a></td>
   <td align="right">55kB</td>
   <td><tt>2623dc8fecbedfde5b3cfc8bb229de2313395d8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kdoctools-5.39.0.tar.xz">kdoctools-5.39.0</a></td>
   <td align="right">411kB</td>
   <td><tt>0cabaec3c768ab2be31066fa5926b2f328e163c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kemoticons-5.39.0.tar.xz">kemoticons-5.39.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>cbdfcffa8abd55bb968dadfde7b05232f7870db1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kfilemetadata-5.39.0.tar.xz">kfilemetadata-5.39.0</a></td>
   <td align="right">214kB</td>
   <td><tt>d7f48e2e018d75b03daca02a96947e3c16afad22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kglobalaccel-5.39.0.tar.xz">kglobalaccel-5.39.0</a></td>
   <td align="right">81kB</td>
   <td><tt>af101040f89c574c445e622382bf414b18e1b78b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kguiaddons-5.39.0.tar.xz">kguiaddons-5.39.0</a></td>
   <td align="right">39kB</td>
   <td><tt>b98744e524d944fc7cab6852e56cc8bb31acfa9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/ki18n-5.39.0.tar.xz">ki18n-5.39.0</a></td>
   <td align="right">573kB</td>
   <td><tt>4ed38a581069063ad76e4be493437afe6c09fef9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kiconthemes-5.39.0.tar.xz">kiconthemes-5.39.0</a></td>
   <td align="right">200kB</td>
   <td><tt>4813f4043e32bb93c98e980e64a91263aa8fb37e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kidletime-5.39.0.tar.xz">kidletime-5.39.0</a></td>
   <td align="right">25kB</td>
   <td><tt>8d0f0be209c4f37e3fb9dbd6807e5e85106ab475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kimageformats-5.39.0.tar.xz">kimageformats-5.39.0</a></td>
   <td align="right">199kB</td>
   <td><tt>851bfac4ece184bd6cee8416bc7280371e9451fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kinit-5.39.0.tar.xz">kinit-5.39.0</a></td>
   <td align="right">118kB</td>
   <td><tt>a8e47001f84f36cbf6bc08d871142c47f190ee19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kio-5.39.0.tar.xz">kio-5.39.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b4d0b76ce47145a947abaf7bee7267ec931ecb9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kirigami2-5.39.0.tar.xz">kirigami2-5.39.0</a></td>
   <td align="right">283kB</td>
   <td><tt>c362f0bc893a4d5006cc9299ea0e86e7a53cd054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kitemmodels-5.39.0.tar.xz">kitemmodels-5.39.0</a></td>
   <td align="right">380kB</td>
   <td><tt>9245532da3134d7ce84fd34c370b421bbacf471f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kitemviews-5.39.0.tar.xz">kitemviews-5.39.0</a></td>
   <td align="right">73kB</td>
   <td><tt>ef3be8ecb1bb154663936eb103b533153a504220</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kjobwidgets-5.39.0.tar.xz">kjobwidgets-5.39.0</a></td>
   <td align="right">87kB</td>
   <td><tt>9f06c5b8b6f116ca80bf4fc3e8e7de7ce68eba14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/knewstuff-5.39.0.tar.xz">knewstuff-5.39.0</a></td>
   <td align="right">871kB</td>
   <td><tt>99af1e59d81880fd813e8ae102ea69bf8741c521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/knotifications-5.39.0.tar.xz">knotifications-5.39.0</a></td>
   <td align="right">97kB</td>
   <td><tt>06981b6fc5d73fb7bf919bf3d38b1f7b54ceef8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/knotifyconfig-5.39.0.tar.xz">knotifyconfig-5.39.0</a></td>
   <td align="right">81kB</td>
   <td><tt>b9e3ac851cc959dfbfa327d0d57c0f76372723c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kpackage-5.39.0.tar.xz">kpackage-5.39.0</a></td>
   <td align="right">122kB</td>
   <td><tt>06fc38b081fc2b5975ae52bc46cc2a0d4c9a93a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kparts-5.39.0.tar.xz">kparts-5.39.0</a></td>
   <td align="right">171kB</td>
   <td><tt>5e2cf343026d0462f204b1a8a527f2ded2f47276</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kpeople-5.39.0.tar.xz">kpeople-5.39.0</a></td>
   <td align="right">58kB</td>
   <td><tt>e9b90668538cdf30df23d781e538fafd1dd6f203</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kplotting-5.39.0.tar.xz">kplotting-5.39.0</a></td>
   <td align="right">28kB</td>
   <td><tt>c2485b57e7e6538537b848a3c46077c7d14ebe23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kpty-5.39.0.tar.xz">kpty-5.39.0</a></td>
   <td align="right">56kB</td>
   <td><tt>f9e69fe5d0f8dee39a37906e4dc0faca0f8239ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/krunner-5.39.0.tar.xz">krunner-5.39.0</a></td>
   <td align="right">59kB</td>
   <td><tt>02b4d78ef0d1c2709f7bcc59ca21555dbc1f564a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kservice-5.39.0.tar.xz">kservice-5.39.0</a></td>
   <td align="right">244kB</td>
   <td><tt>a643782d51cdfbf16a0f8d43a492c211f9f2967c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/ktexteditor-5.39.0.tar.xz">ktexteditor-5.39.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>633dee6e05e2b3f9025771418c2fe887d72fd512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/ktextwidgets-5.39.0.tar.xz">ktextwidgets-5.39.0</a></td>
   <td align="right">301kB</td>
   <td><tt>19ce59af25f3fd264c89a9c4b5f1cb07ecd3ac1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kunitconversion-5.39.0.tar.xz">kunitconversion-5.39.0</a></td>
   <td align="right">752kB</td>
   <td><tt>9463adce65d43bc49d1a7375d8a4ca2c8ed1619e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kwallet-5.39.0.tar.xz">kwallet-5.39.0</a></td>
   <td align="right">296kB</td>
   <td><tt>7d1ca57119dbaf1a70553f9419d2412e57b6a99f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kwayland-5.39.0.tar.xz">kwayland-5.39.0</a></td>
   <td align="right">270kB</td>
   <td><tt>436d2268c681ae57bb703d263f2b75b2be04663c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kwidgetsaddons-5.39.0.tar.xz">kwidgetsaddons-5.39.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>607c60c25e01d492737de94e7171b9d434a6a1fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kwindowsystem-5.39.0.tar.xz">kwindowsystem-5.39.0</a></td>
   <td align="right">164kB</td>
   <td><tt>9678c182faf176a77241589834793d0949ded47f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kxmlgui-5.39.0.tar.xz">kxmlgui-5.39.0</a></td>
   <td align="right">862kB</td>
   <td><tt>3708199a7c404eeca0f6f32d001e1ee02ae5b757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/kxmlrpcclient-5.39.0.tar.xz">kxmlrpcclient-5.39.0</a></td>
   <td align="right">28kB</td>
   <td><tt>c8a09871eb5b9385ecd30dffd427222797f362a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/modemmanager-qt-5.39.0.tar.xz">modemmanager-qt-5.39.0</a></td>
   <td align="right">96kB</td>
   <td><tt>5cffb55926602f39e69ece5a66ca531914d4beb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/networkmanager-qt-5.39.0.tar.xz">networkmanager-qt-5.39.0</a></td>
   <td align="right">159kB</td>
   <td><tt>bf15e7598baa16c2abecbc021095df2584766a18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/oxygen-icons5-5.39.0.tar.xz">oxygen-icons5-5.39.0</a></td>
   <td align="right">223MB</td>
   <td><tt>de898340b9672092e387746b6f2394264ab8898a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/plasma-framework-5.39.0.tar.xz">plasma-framework-5.39.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>7b09d947cab223851e9eea71dfdf1b59bb8844af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/prison-5.39.0.tar.xz">prison-5.39.0</a></td>
   <td align="right">13kB</td>
   <td><tt>8ca0855d01741ba65545dd225e57543811edf81f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/qqc2-desktop-style-5.39.0.tar.xz">qqc2-desktop-style-5.39.0</a></td>
   <td align="right">34kB</td>
   <td><tt>c53916476537644d799bafbd53764b3df2bf2c58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/solid-5.39.0.tar.xz">solid-5.39.0</a></td>
   <td align="right">241kB</td>
   <td><tt>e440cfeef7375422644801578fa829c8aac04dc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/sonnet-5.39.0.tar.xz">sonnet-5.39.0</a></td>
   <td align="right">278kB</td>
   <td><tt>5cef1dc070d5cd8b1865dfdcfcea1cb0eb901220</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/syntax-highlighting-5.39.0.tar.xz">syntax-highlighting-5.39.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>de38a2ed8aba1d1d4a8ec8667c9fb71cbb83ab0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.39/threadweaver-5.39.0.tar.xz">threadweaver-5.39.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>07327b0b8a8241c0be49439b85de73807df893f7</tt></td>
</tr>

</table>
