<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/akonadi-23.08.4.tar.xz">akonadi-23.08.4</a></td>
   <td align="right">1623kB</td>
   <td><tt>63fb0372e935d4cc55af14f2b869f6042ed878813f98e6660204b3bb80ed4936</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/akonadi-calendar-23.08.4.tar.xz">akonadi-calendar-23.08.4</a></td>
   <td align="right">464kB</td>
   <td><tt>b8a6b260c3230d8336382d8398e3106e308148bf0d3e9dc1dd613e9533ce5e75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/akonadi-calendar-tools-23.08.4.tar.xz">akonadi-calendar-tools-23.08.4</a></td>
   <td align="right">249kB</td>
   <td><tt>2cf7f153ef53c3b6e93720735b643354b6d98f12294d1ad5e10d99096524429f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/akonadiconsole-23.08.4.tar.xz">akonadiconsole-23.08.4</a></td>
   <td align="right">275kB</td>
   <td><tt>1b4a1333f905ede4aef374a7b81f39d86dfb469c34908eaaf94cf87edacddbf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/akonadi-contacts-23.08.4.tar.xz">akonadi-contacts-23.08.4</a></td>
   <td align="right">411kB</td>
   <td><tt>9864cc81a028002729d57a77123c90aaa39c7ce0643d82cc765f4933390db5db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/akonadi-import-wizard-23.08.4.tar.xz">akonadi-import-wizard-23.08.4</a></td>
   <td align="right">503kB</td>
   <td><tt>e239536545f748a19eb9e12e1f295b337a4621e5ebf7c734d22bedc4a119f322</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/akonadi-mime-23.08.4.tar.xz">akonadi-mime-23.08.4</a></td>
   <td align="right">163kB</td>
   <td><tt>ebb64e6d5b6b955ceaf3aef6e3b1f6cd7c856e3fe5621778238aa0937d6bfaaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/akonadi-notes-23.08.4.tar.xz">akonadi-notes-23.08.4</a></td>
   <td align="right">27kB</td>
   <td><tt>b06a906b4734925afe589d75d1741e862011f5c9a0656d51ff43ca81ce5a8c6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/akonadi-search-23.08.4.tar.xz">akonadi-search-23.08.4</a></td>
   <td align="right">107kB</td>
   <td><tt>057f2f7a18346ac21bb1444ed1413d4903bce38802df6753df7ca1dd81eafc46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/akregator-23.08.4.tar.xz">akregator-23.08.4</a></td>
   <td align="right">2268kB</td>
   <td><tt>5bdefc5dc3376bf504f97bd7209187ba591dc8ec3ee8105f3fd0768238fb4fdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/alligator-23.08.4.tar.xz">alligator-23.08.4</a></td>
   <td align="right">187kB</td>
   <td><tt>01feedd91cb74c2b4a0916b34a1ea48ec09f1244de34abf26d3cb03c37d1173d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/analitza-23.08.4.tar.xz">analitza-23.08.4</a></td>
   <td align="right">344kB</td>
   <td><tt>f32974016a30a23bd03ac157cb4385ee6f67c220ededf4200f3eaa8ec0571834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/angelfish-23.08.4.tar.xz">angelfish-23.08.4</a></td>
   <td align="right">236kB</td>
   <td><tt>faf8f06d956e69ebe0cbce1a855a83514e0f3fbc3a22ac86bd9fbd3df99befd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/arianna-23.08.4.tar.xz">arianna-23.08.4</a></td>
   <td align="right">794kB</td>
   <td><tt>1fb077535beb4d0a1cb0bb784e1ab15a4603b155946bc2940fca96a3c3153213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ark-23.08.4.tar.xz">ark-23.08.4</a></td>
   <td align="right">2947kB</td>
   <td><tt>222426ca788b3ba286c619ee6f9228e5f256d5e013d45ea7ef5d322fdb9eaa9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/artikulate-23.08.4.tar.xz">artikulate-23.08.4</a></td>
   <td align="right">1069kB</td>
   <td><tt>dcd58a8ef38fd32e7a6a240483e876ed0843dab80d81212e0e3f6e0cc604adef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/audiocd-kio-23.08.4.tar.xz">audiocd-kio-23.08.4</a></td>
   <td align="right">551kB</td>
   <td><tt>ec9f1fd293f9ec6399043fd61989ed7eb12d35473427a6716c70d5c2ca232f04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/audiotube-23.08.4.tar.xz">audiotube-23.08.4</a></td>
   <td align="right">144kB</td>
   <td><tt>798666aab9e070fe4cdb17bae864f0d2811efb7da167d51178587365c2e476c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/baloo-widgets-23.08.4.tar.xz">baloo-widgets-23.08.4</a></td>
   <td align="right">270kB</td>
   <td><tt>fe38f3ad2a4993f7cb30743908e5d9f9125b830c3876f1e70178b2c8b6721657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/blinken-23.08.4.tar.xz">blinken-23.08.4</a></td>
   <td align="right">2661kB</td>
   <td><tt>46580c129c70b08045d17831922f11d868348851bb4ba6a98a92744bea5f053d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/bomber-23.08.4.tar.xz">bomber-23.08.4</a></td>
   <td align="right">820kB</td>
   <td><tt>b36a5eb905bdf66f0e89b729d1c128b360f60e2d1b9d21482763bff9c70f437e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/bovo-23.08.4.tar.xz">bovo-23.08.4</a></td>
   <td align="right">211kB</td>
   <td><tt>42605e0001499aa7b5dda1f299812c156760eaee4cb5993bcc96e66ddadc60ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/calendarsupport-23.08.4.tar.xz">calendarsupport-23.08.4</a></td>
   <td align="right">974kB</td>
   <td><tt>7c708298bb6648c70475e8622bcdff738a5eaba286afe3369f1ea4d9d94401e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/calindori-23.08.4.tar.xz">calindori-23.08.4</a></td>
   <td align="right">374kB</td>
   <td><tt>27f17a487c2e0d3d12bbef57abbe96e30b175765483c5e86318226c36e955dea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/cantor-23.08.4.tar.xz">cantor-23.08.4</a></td>
   <td align="right">9068kB</td>
   <td><tt>a947d2b605683000d0138a406e787480bdb1743d2a9c71e0bf315627ab86d106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/cervisia-23.08.4.tar.xz">cervisia-23.08.4</a></td>
   <td align="right">1901kB</td>
   <td><tt>41be442b11e0a2eda27709c76a167f752620f5efe33ff1649a591483946c9ed6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/colord-kde-23.08.4.tar.xz">colord-kde-23.08.4</a></td>
   <td align="right">106kB</td>
   <td><tt>bbd70d538cd64147ef13b5cfc30fac0e8bd04da787c6bca62c803209d5e974a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/dolphin-23.08.4.tar.xz">dolphin-23.08.4</a></td>
   <td align="right">5634kB</td>
   <td><tt>6a630b78018f3344b70131ff2c9deaae5e626295e512ce2741958d5197888585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/dolphin-plugins-23.08.4.tar.xz">dolphin-plugins-23.08.4</a></td>
   <td align="right">267kB</td>
   <td><tt>9c411fdf09f506b9952017b41d7f46e0696ac2ae46da1489735e47d35fab33d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/dragon-23.08.4.tar.xz">dragon-23.08.4</a></td>
   <td align="right">1632kB</td>
   <td><tt>a5b504c61241c820ee5440cb09090d575f5d364238c91ce15a0c67355d12acc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/elisa-23.08.4.tar.xz">elisa-23.08.4</a></td>
   <td align="right">1772kB</td>
   <td><tt>aac8bbd15c8ae7740ae46c48e968d8b950a8f8aaa9081736c0cf08e5c99d5143</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/eventviews-23.08.4.tar.xz">eventviews-23.08.4</a></td>
   <td align="right">458kB</td>
   <td><tt>306d8bbe43326bb59b72ca9ef43abc836188ebb7ee6dfcc08479a5ffdd11857e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/falkon-23.08.4.tar.xz">falkon-23.08.4</a></td>
   <td align="right">2513kB</td>
   <td><tt>f08484b768ccc7cfc097d473c1ccc66986f839f79b5f3516a9aeba4ee7286d63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ffmpegthumbs-23.08.4.tar.xz">ffmpegthumbs-23.08.4</a></td>
   <td align="right">32kB</td>
   <td><tt>502f4310afb47a11826e42b68f828641858dbddd1d1247f7b03372878c77684b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/filelight-23.08.4.tar.xz">filelight-23.08.4</a></td>
   <td align="right">683kB</td>
   <td><tt>af19226a9e3704f8088fabf381974124fd77983b88fa047f4b37a8b9d64436c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ghostwriter-23.08.4.tar.xz">ghostwriter-23.08.4</a></td>
   <td align="right">3541kB</td>
   <td><tt>a85d969e1387426cf01d7320f1c33539ee556f891073b1083e17aea877960c71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/granatier-23.08.4.tar.xz">granatier-23.08.4</a></td>
   <td align="right">2065kB</td>
   <td><tt>b5f79de5a0f1a44f4a2f4e5368ab29aa3ce3342064b7c5332992b69ea93dddd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/grantlee-editor-23.08.4.tar.xz">grantlee-editor-23.08.4</a></td>
   <td align="right">114kB</td>
   <td><tt>cc13d0c20b3a18301be0ba5be047ee65d6bc858a2e7e3b10d42fbdb788fb9f29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/grantleetheme-23.08.4.tar.xz">grantleetheme-23.08.4</a></td>
   <td align="right">61kB</td>
   <td><tt>d81c9454d86f568218f852dbe31e67d0e547ea6d3ead5b1fe5c7267f20a5c32d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/gwenview-23.08.4.tar.xz">gwenview-23.08.4</a></td>
   <td align="right">6741kB</td>
   <td><tt>48549ba76c74d7079d935bece2d3d43186384ae5d14ffde59d55b12c9bcaad05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/incidenceeditor-23.08.4.tar.xz">incidenceeditor-23.08.4</a></td>
   <td align="right">567kB</td>
   <td><tt>8ed4056b4a1a21a287af343e4bce2e1e6ef255d43bfd1cb789ab865cb74b1e35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/itinerary-23.08.4.tar.xz">itinerary-23.08.4</a></td>
   <td align="right">625kB</td>
   <td><tt>1cfa1cfc0592c18d68e7e66a121be06ab7eabe6cbde02838620b885c4615ab49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/juk-23.08.4.tar.xz">juk-23.08.4</a></td>
   <td align="right">2033kB</td>
   <td><tt>595d2138756ab360929d3f9fc9faca0c2f65090511e86847105e8720512029ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/k3b-23.08.4.tar.xz">k3b-23.08.4</a></td>
   <td align="right">10710kB</td>
   <td><tt>30eb87c5bde8bffa2059efb609e18d08978713340d0c2c0664035378a5d9cb24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kaccounts-integration-23.08.4.tar.xz">kaccounts-integration-23.08.4</a></td>
   <td align="right">86kB</td>
   <td><tt>7bec166405cca850921e12ae86a32e1c6c35411c3baeb5d7edc7c3350d71c952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kaccounts-providers-23.08.4.tar.xz">kaccounts-providers-23.08.4</a></td>
   <td align="right">64kB</td>
   <td><tt>09c50b11845825cb0607af17dca2cececd54743b3068f1488d572d03b7288f85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kaddressbook-23.08.4.tar.xz">kaddressbook-23.08.4</a></td>
   <td align="right">3377kB</td>
   <td><tt>0d6c926fe4f6b139dbc0b84c4c87d3b5482c97d8f81b86756d1502d641504286</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kajongg-23.08.4.tar.xz">kajongg-23.08.4</a></td>
   <td align="right">4484kB</td>
   <td><tt>75c9524c23d742906a0d3551f11ec2b6ff176c75ad24f6df68b2596d5382905a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kalarm-23.08.4.tar.xz">kalarm-23.08.4</a></td>
   <td align="right">2560kB</td>
   <td><tt>21b20bc594a8d3e28959fa05102128011b9d1c9b288e568f2073c61293e8126e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kalgebra-23.08.4.tar.xz">kalgebra-23.08.4</a></td>
   <td align="right">1015kB</td>
   <td><tt>8dd74a56862dc8dd57d618ea255062e0b9e21a83a2ee0b4f5e08eb2ea2029d13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kalk-23.08.4.tar.xz">kalk-23.08.4</a></td>
   <td align="right">83kB</td>
   <td><tt>2cd6eee395ce7ff70d274ca55c99e2ad61ee8162ce34712d33eb696a6e9eecd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kalzium-23.08.4.tar.xz">kalzium-23.08.4</a></td>
   <td align="right">24064kB</td>
   <td><tt>a80c9c7170bd1f20e5332bc33caa5c369772271445f503520249d16421d37b3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kamera-23.08.4.tar.xz">kamera-23.08.4</a></td>
   <td align="right">128kB</td>
   <td><tt>8ae97b59959f1168c82bd70263813c2ccb2f06838cf79a2e3c68b1fa84501791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kamoso-23.08.4.tar.xz">kamoso-23.08.4</a></td>
   <td align="right">228kB</td>
   <td><tt>cec886f0d88f0c422db47a91aa95b9f2c9c97c4829216e2cb1ac601345ba5b65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kanagram-23.08.4.tar.xz">kanagram-23.08.4</a></td>
   <td align="right">7879kB</td>
   <td><tt>b592ad7a311a6139fdfff0191a417e74e0a37710f325e9906feface881bf1672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kapman-23.08.4.tar.xz">kapman-23.08.4</a></td>
   <td align="right">2425kB</td>
   <td><tt>1e4c5f82135160a5a5eaa1221dc670ed8cb78a3f4c67c0bd88f931c06d12d733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kapptemplate-23.08.4.tar.xz">kapptemplate-23.08.4</a></td>
   <td align="right">332kB</td>
   <td><tt>dd7f7dd7af53c663661f9d27bd6a47e0c35add4af86c175c983a7a29a443f9bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kasts-23.08.4.tar.xz">kasts-23.08.4</a></td>
   <td align="right">562kB</td>
   <td><tt>b1e659d6c79b14be594753b7eb27391554f9eabc106d4900c801c4dfbe0072a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kate-23.08.4.tar.xz">kate-23.08.4</a></td>
   <td align="right">7855kB</td>
   <td><tt>297facaab205f67f2c61b17650ef27a10b32ea699083577eeece25d0beb3fba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/katomic-23.08.4.tar.xz">katomic-23.08.4</a></td>
   <td align="right">1420kB</td>
   <td><tt>14b869b4532ba5d1a5d0ecbd4937ddebbf88fbc25410ad8d0f590476f1f17aee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kbackup-23.08.4.tar.xz">kbackup-23.08.4</a></td>
   <td align="right">390kB</td>
   <td><tt>e9237167c5641b2eb04dfe3708cf86128ef0894a8dfce37611cdff3558784d8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kblackbox-23.08.4.tar.xz">kblackbox-23.08.4</a></td>
   <td align="right">543kB</td>
   <td><tt>6f06c193466246fa806a9cc06e0f5669d0ddf2304412a8f01bbda7b4e2fceb30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kblocks-23.08.4.tar.xz">kblocks-23.08.4</a></td>
   <td align="right">2060kB</td>
   <td><tt>f8cb87a24d37259b4ca5e07ad7f907c98f031d687a974c6838d839c6679b976a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kbounce-23.08.4.tar.xz">kbounce-23.08.4</a></td>
   <td align="right">3463kB</td>
   <td><tt>af8a08c59dc6fac23f7ad00d524b69ba951f529425a84e782903a09ae563e452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kbreakout-23.08.4.tar.xz">kbreakout-23.08.4</a></td>
   <td align="right">2501kB</td>
   <td><tt>65f2c594450521cd4a743b9c0aa9c4fe3552dc6a59748218f4c9c33ed274ef33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kbruch-23.08.4.tar.xz">kbruch-23.08.4</a></td>
   <td align="right">5530kB</td>
   <td><tt>5cac59c9266d275ec3e76f321d0e9fd7799ef5d16afa0a0e41ce029dc334d3e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kcachegrind-23.08.4.tar.xz">kcachegrind-23.08.4</a></td>
   <td align="right">908kB</td>
   <td><tt>7cf17ae3b87c2b4c575f2eceddae84b412f5f6dfcee8a0f15755e6eed3d22b04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kcalc-23.08.4.tar.xz">kcalc-23.08.4</a></td>
   <td align="right">430kB</td>
   <td><tt>79491e91a86c6db92c8925f6ee1e03d6621fb1e258724101dffb0aab0940f880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kcalutils-23.08.4.tar.xz">kcalutils-23.08.4</a></td>
   <td align="right">345kB</td>
   <td><tt>a4e549be3711a409cd49ed0147ffe4f228e207e21f1fffb00ff171462d4b569d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kcharselect-23.08.4.tar.xz">kcharselect-23.08.4</a></td>
   <td align="right">375kB</td>
   <td><tt>53a093196b70a39b522e1d2120ee568a73146ff0e571dedcac9a9cce50aa8d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kclock-23.08.4.tar.xz">kclock-23.08.4</a></td>
   <td align="right">627kB</td>
   <td><tt>54dbec816ed94fbfade0607013878cd8fee2b61f97a4b58fd55964a92101cd45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kcolorchooser-23.08.4.tar.xz">kcolorchooser-23.08.4</a></td>
   <td align="right">34kB</td>
   <td><tt>0fc7e1cc602b962a8fc5ed4062094d5ca2f11dc1520fb7017c825f546442a28c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kcron-23.08.4.tar.xz">kcron-23.08.4</a></td>
   <td align="right">920kB</td>
   <td><tt>5324dcd221750983f1de38c7e4fc4139865e3bf069fe0c99e79469812e0a851b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdebugsettings-23.08.4.tar.xz">kdebugsettings-23.08.4</a></td>
   <td align="right">106kB</td>
   <td><tt>60eade88ad4dc0f64471bcfcaf349fee5a99592a8c7422a179759514300311da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdeconnect-kde-23.08.4.tar.xz">kdeconnect-kde-23.08.4</a></td>
   <td align="right">641kB</td>
   <td><tt>0bd5a45a31da21d0e5939930059fad23b608efa727db6ff020166912db78f871</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kde-dev-scripts-23.08.4.tar.xz">kde-dev-scripts-23.08.4</a></td>
   <td align="right">365kB</td>
   <td><tt>abb64790aa08029f937bdeb5890eaf60a11432a497b572648fa79bf573f5dd14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kde-dev-utils-23.08.4.tar.xz">kde-dev-utils-23.08.4</a></td>
   <td align="right">73kB</td>
   <td><tt>91c639777a876aaa675914d693fcceaa7aac056ddcdf395bac72543a0690df19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdeedu-data-23.08.4.tar.xz">kdeedu-data-23.08.4</a></td>
   <td align="right">325kB</td>
   <td><tt>527ddec1f53336d08b7aa0147e816e159dee177a5cddad4cb64a3880b7374b00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdegraphics-mobipocket-23.08.4.tar.xz">kdegraphics-mobipocket-23.08.4</a></td>
   <td align="right">12kB</td>
   <td><tt>f870fafdd9ebabfda5b9ab524a8c4acc8268ee15f2ac4d7617c362d793171de7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdegraphics-thumbnailers-23.08.4.tar.xz">kdegraphics-thumbnailers-23.08.4</a></td>
   <td align="right">48kB</td>
   <td><tt>86ef3f3585a085b50f59fc4a02f997c1a3b2519e73ed9881730842e2201f1045</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kde-inotify-survey-23.08.4.tar.xz">kde-inotify-survey-23.08.4</a></td>
   <td align="right">224kB</td>
   <td><tt>5c4e279aefb47eeec1463dfe5165edc01af7762562e3eb6555c91f62c825a07a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdenetwork-filesharing-23.08.4.tar.xz">kdenetwork-filesharing-23.08.4</a></td>
   <td align="right">471kB</td>
   <td><tt>923e5be86069da067df1814bbbb79cb8d3d8f35a5f98e1b2d183492484dd5fec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdenlive-23.08.4.tar.xz">kdenlive-23.08.4</a></td>
   <td align="right">12412kB</td>
   <td><tt>65c611090d8e16a0f3ae52700a44fbecac7ec5f136188faca38b43f34502d313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdepim-addons-23.08.4.tar.xz">kdepim-addons-23.08.4</a></td>
   <td align="right">2590kB</td>
   <td><tt>3bef596058a18f1c73456e730095a21ab4550e37bd2f4030e6cfd8fb4efaabe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdepim-runtime-23.08.4.tar.xz">kdepim-runtime-23.08.4</a></td>
   <td align="right">1825kB</td>
   <td><tt>c2c2211f8c1d0abc44523f72a414313517932c1efc236b9a81e6c4f28e7c1da1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdesdk-kio-23.08.4.tar.xz">kdesdk-kio-23.08.4</a></td>
   <td align="right">39kB</td>
   <td><tt>016050edd3f5aafe2f6e63acd7d7527f286e8a8af9d80b311a4505238e22e4ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdesdk-thumbnailers-23.08.4.tar.xz">kdesdk-thumbnailers-23.08.4</a></td>
   <td align="right">26kB</td>
   <td><tt>6a78058b0f4409c7de90629ab876fe7b029d9ce08b4b6d2adab1b4408b776b45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdevelop-23.08.4.tar.xz">kdevelop-23.08.4</a></td>
   <td align="right">8503kB</td>
   <td><tt>91d02b2bce8f29113054ccc548e6416d94065cf79919c54075bad19599357af0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdev-php-23.08.4.tar.xz">kdev-php-23.08.4</a></td>
   <td align="right">1063kB</td>
   <td><tt>20c097ff322db3d69a57d45980161ed1d72020a95fc52feb46d3fc38ba340fd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdev-python-23.08.4.tar.xz">kdev-python-23.08.4</a></td>
   <td align="right">1072kB</td>
   <td><tt>a36ec94c241714c0c1f5787bafa2381c5d4ec20a3e3696bed70d13b1bd49b293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdf-23.08.4.tar.xz">kdf-23.08.4</a></td>
   <td align="right">483kB</td>
   <td><tt>d1d16cce3125115d1b8902a708078ab672e414edf6db0ee31bc2c719a39c0c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdialog-23.08.4.tar.xz">kdialog-23.08.4</a></td>
   <td align="right">140kB</td>
   <td><tt>8dfa95f838540a61444378d6d1d46ea3c24a8a9175f23a291c286c3b2864cd78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kdiamond-23.08.4.tar.xz">kdiamond-23.08.4</a></td>
   <td align="right">4600kB</td>
   <td><tt>c9b42ba81594f3c6353ce0f3224d7eb2b0370785ec8343f3a88c377532479a0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/keditbookmarks-23.08.4.tar.xz">keditbookmarks-23.08.4</a></td>
   <td align="right">234kB</td>
   <td><tt>7a2284021bc268b58a723b77a94f9b5cf5e20029a6115ee5c4e66dac3c95bf93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/keysmith-23.08.4.tar.xz">keysmith-23.08.4</a></td>
   <td align="right">159kB</td>
   <td><tt>76100bf9a038d8bbfdcfe434c02c8362f654c70051b2c1e13055ff7b2031d585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kfind-23.08.4.tar.xz">kfind-23.08.4</a></td>
   <td align="right">336kB</td>
   <td><tt>70524ccbaac7fd6ed1325d5941d611fbaa6eb90208916a35bad85ebb380d4edf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kfourinline-23.08.4.tar.xz">kfourinline-23.08.4</a></td>
   <td align="right">723kB</td>
   <td><tt>3690d438679e21d7e9cdbbf124c913b76cb829150be3ce940cf7fc2f07adb03c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kgeography-23.08.4.tar.xz">kgeography-23.08.4</a></td>
   <td align="right">12258kB</td>
   <td><tt>8f1b6008185a0e4974959d9e1b89d14243219ed93841de498861de5c93c5db1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kget-23.08.4.tar.xz">kget-23.08.4</a></td>
   <td align="right">5435kB</td>
   <td><tt>792431445536f853102a5eaaf2f583850fcd0d919b5de6e7dedc89f8e08fb33e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kgoldrunner-23.08.4.tar.xz">kgoldrunner-23.08.4</a></td>
   <td align="right">4851kB</td>
   <td><tt>b366e5acd8ef1c93d1cd803dd73dc038c7c834756261f21e6aa691efcea7da0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kgpg-23.08.4.tar.xz">kgpg-23.08.4</a></td>
   <td align="right">2974kB</td>
   <td><tt>7504ba190ec2385bebd2dea06d0b325cc5fe9a4cb5a5f9a5cff8a961acdfa28b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/khangman-23.08.4.tar.xz">khangman-23.08.4</a></td>
   <td align="right">7269kB</td>
   <td><tt>1da11c42bd376b2d07c13e1b84ab52e52bdbf34e1a353c25dabdc4c4155442ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/khelpcenter-23.08.4.tar.xz">khelpcenter-23.08.4</a></td>
   <td align="right">4268kB</td>
   <td><tt>5194bb8ca13d2c5f3f0b34d3304890b365723c6421a0c2d8960b585f98a5ed48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kidentitymanagement-23.08.4.tar.xz">kidentitymanagement-23.08.4</a></td>
   <td align="right">160kB</td>
   <td><tt>92736693685342c724034dd5675df858678f73fc1ed04189a7841e9b2237e89b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kig-23.08.4.tar.xz">kig-23.08.4</a></td>
   <td align="right">3221kB</td>
   <td><tt>5314ae3426b6f2a58c87642f7e5456247e360b36e79d9f180224f7e4a883d3af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kigo-23.08.4.tar.xz">kigo-23.08.4</a></td>
   <td align="right">5145kB</td>
   <td><tt>cd5299cafe868a16c867e5f4410a5ca8d9b39f48e2fe6309150b6b2aaf088bb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/killbots-23.08.4.tar.xz">killbots-23.08.4</a></td>
   <td align="right">1178kB</td>
   <td><tt>e44278bfb6ae8b058f5592098efec6d4f107347d096eb27f6e6a2b916fd92cb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kimagemapeditor-23.08.4.tar.xz">kimagemapeditor-23.08.4</a></td>
   <td align="right">1080kB</td>
   <td><tt>3c38face6bccfddaa36bb9a98df34b9472962200d0001def6073e77c24657eb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kimap-23.08.4.tar.xz">kimap-23.08.4</a></td>
   <td align="right">128kB</td>
   <td><tt>5aa1050081154673adc547c2bc094285e758a25615ce45450af4fbf32f8fd40c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kio-admin-23.08.4.tar.xz">kio-admin-23.08.4</a></td>
   <td align="right">34kB</td>
   <td><tt>058f480cdd67bb1f3549bf6f7eff57911cbe648600dd7635dac5406f2e4999f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kio-extras-23.08.4.tar.xz">kio-extras-23.08.4</a></td>
   <td align="right">1455kB</td>
   <td><tt>f68cbc21cd9e9544ee75b337b9c69171ce989fde801854048aa9fc109b48cd61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kio-gdrive-23.08.4.tar.xz">kio-gdrive-23.08.4</a></td>
   <td align="right">77kB</td>
   <td><tt>a881258143d0a9fe4cd4abcc383b16ec90a668e4137abeb77f40df48c0e5309e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kio-zeroconf-23.08.4.tar.xz">kio-zeroconf-23.08.4</a></td>
   <td align="right">43kB</td>
   <td><tt>49b9fcc1cbfef1064bae6821487256e15c2e0d2bc333b0be06acb1ead33650dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kipi-plugins-23.08.4.tar.xz">kipi-plugins-23.08.4</a></td>
   <td align="right">1533kB</td>
   <td><tt>db6b81f295f07a8d814379077b270260bc703136b2b634682e7293581d65bf8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kirigami-gallery-23.08.4.tar.xz">kirigami-gallery-23.08.4</a></td>
   <td align="right">353kB</td>
   <td><tt>aae2b5e93cca6837ce742bcfe2bdf116fafd34acb2cf1595c61d0f52004bbc3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kiriki-23.08.4.tar.xz">kiriki-23.08.4</a></td>
   <td align="right">362kB</td>
   <td><tt>fc39d829f8b318101f02f994736aabe8e658f2c3c604cb8ee42f2743f1f504e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kiten-23.08.4.tar.xz">kiten-23.08.4</a></td>
   <td align="right">11070kB</td>
   <td><tt>693435807d47bb89f4e90a859b01f048ffdadf469248d36dc5bf2effafaa5990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kitinerary-23.08.4.tar.xz">kitinerary-23.08.4</a></td>
   <td align="right">1898kB</td>
   <td><tt>e1340a5c758ffc6b02b5939eaf4ed2fe9cdaeb7e6b3f54486c1ec5e3684d1824</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kjournald-23.08.4.tar.xz">kjournald-23.08.4</a></td>
   <td align="right">503kB</td>
   <td><tt>f43f1da9f885422e7f8bd8b65bf61affc68a2665e409be1fdc63ceeb7dd92f2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kjumpingcube-23.08.4.tar.xz">kjumpingcube-23.08.4</a></td>
   <td align="right">330kB</td>
   <td><tt>5db4494e1e30218f0d1ff554cc6dd39430ed08320aa497f271679895903f759e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kldap-23.08.4.tar.xz">kldap-23.08.4</a></td>
   <td align="right">179kB</td>
   <td><tt>60480eb9c4fb48045e7bd9653cc3fab8cec6f93a6fc4a32d07e4311cc2d3053e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kleopatra-23.08.4.tar.xz">kleopatra-23.08.4</a></td>
   <td align="right">2657kB</td>
   <td><tt>558e773bc55e0c265d9427bd45f9c588965e9eead4a111f0127840e233669157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/klettres-23.08.4.tar.xz">klettres-23.08.4</a></td>
   <td align="right">46724kB</td>
   <td><tt>f6167c31a049bb71153be129e76a3462526e1c717a607631f6169dff1b246098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/klickety-23.08.4.tar.xz">klickety-23.08.4</a></td>
   <td align="right">1467kB</td>
   <td><tt>67cce90f550dd428e7a9739aa814d53666304311b711e97f9bdd6c5a93010e6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/klines-23.08.4.tar.xz">klines-23.08.4</a></td>
   <td align="right">1698kB</td>
   <td><tt>a9cb2c4ab9d3cb9698d151f91df8e2b2705a1a257f3dc2607255bc6bdf464a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kmag-23.08.4.tar.xz">kmag-23.08.4</a></td>
   <td align="right">708kB</td>
   <td><tt>2d5fea10505c48eb9f90edd12637e633db5fc9271db26669dce2270ae8b2b289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kmahjongg-23.08.4.tar.xz">kmahjongg-23.08.4</a></td>
   <td align="right">4004kB</td>
   <td><tt>6057e05d12ebb16eabb417243134444c8f791c66a2a6a039a608b7d2c9a0f69d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kmail-23.08.4.tar.xz">kmail-23.08.4</a></td>
   <td align="right">7488kB</td>
   <td><tt>5ba68338667535a6b6a40c8923cb818a52b9a15ba4ee344994af429b6f6ce582</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kmail-account-wizard-23.08.4.tar.xz">kmail-account-wizard-23.08.4</a></td>
   <td align="right">181kB</td>
   <td><tt>ca20565754bfcdc0f3c00b23e0a12677cec131fbc45f28061839d3152f60c116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kmailtransport-23.08.4.tar.xz">kmailtransport-23.08.4</a></td>
   <td align="right">170kB</td>
   <td><tt>7a3e4f45b43640fdcc4a3b990c627452cbbfc241d33a0a2480d08c814da973a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kmbox-23.08.4.tar.xz">kmbox-23.08.4</a></td>
   <td align="right">28kB</td>
   <td><tt>d5298cfbd91bf18a969e52a0f0010c335e12264a53b684f20f6ff3c4d52022d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kmime-23.08.4.tar.xz">kmime-23.08.4</a></td>
   <td align="right">159kB</td>
   <td><tt>0d162a0d6c05e0ac67634c60a6539527dda3d5ecb82de7a8291511cd29ca0f13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kmines-23.08.4.tar.xz">kmines-23.08.4</a></td>
   <td align="right">987kB</td>
   <td><tt>bbde22c7ec23165819869fe38c229f0d86caeede1ce713c7179eb4cad23ed573</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kmix-23.08.4.tar.xz">kmix-23.08.4</a></td>
   <td align="right">1180kB</td>
   <td><tt>e1c0e511bb0bb8c722730d08ad41cc160016bf9401143744ac3d5f7623e35e44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kmousetool-23.08.4.tar.xz">kmousetool-23.08.4</a></td>
   <td align="right">127kB</td>
   <td><tt>25746906497328315ce5536cf77607085b5b322382a80fcb91728efeab1e278a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kmouth-23.08.4.tar.xz">kmouth-23.08.4</a></td>
   <td align="right">2042kB</td>
   <td><tt>32f5d265d28ec334a39042bdbe3918d2a8a13c4d8f73faccf577b051cff2c121</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kmplot-23.08.4.tar.xz">kmplot-23.08.4</a></td>
   <td align="right">3028kB</td>
   <td><tt>22bdbef141434ba7a51a4789fffaac00813867feb8e7efca74651a79a152bdfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/knavalbattle-23.08.4.tar.xz">knavalbattle-23.08.4</a></td>
   <td align="right">1369kB</td>
   <td><tt>8f29dd23ea2b3f6c67d60390cb3101ecf5bba95ecd84e4e97e8991288993d080</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/knetwalk-23.08.4.tar.xz">knetwalk-23.08.4</a></td>
   <td align="right">1081kB</td>
   <td><tt>3d0aadc90507a5e3f4efb02c4272faca77a2c6ae43b6c99642169f3365fa61ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/knights-23.08.4.tar.xz">knights-23.08.4</a></td>
   <td align="right">3252kB</td>
   <td><tt>2937a3003fc86d9b15d85d900969c8327bc712339047a852d9198ac35856d421</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/knotes-23.08.4.tar.xz">knotes-23.08.4</a></td>
   <td align="right">368kB</td>
   <td><tt>ed2e21768bb9c5c3d7a6e0fb5588762c02b4a0310bd60115925ee309aad4a9f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/koko-23.08.4.tar.xz">koko-23.08.4</a></td>
   <td align="right">135kB</td>
   <td><tt>3575e8cd98235fe11a179abe373c17cfd43919062c93c59329aa13b79abc368a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kolf-23.08.4.tar.xz">kolf-23.08.4</a></td>
   <td align="right">1050kB</td>
   <td><tt>5ca42550527a6e3e7fdf8eb0f59308940977539d40c051735d8fffe3e23eba57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kollision-23.08.4.tar.xz">kollision-23.08.4</a></td>
   <td align="right">301kB</td>
   <td><tt>aa0470a743357f66caaefc3d705fb539d93213328f3a55741fc780cc123294fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kolourpaint-23.08.4.tar.xz">kolourpaint-23.08.4</a></td>
   <td align="right">5654kB</td>
   <td><tt>2c2b79aca4a690dc852074bfcb76a999f22d527e1ee30d47ef103e814b19f8e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kompare-23.08.4.tar.xz">kompare-23.08.4</a></td>
   <td align="right">961kB</td>
   <td><tt>793f4acb55803b335c8928b6d3f12547aaa917ee41293990fb256920ca563c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kongress-23.08.4.tar.xz">kongress-23.08.4</a></td>
   <td align="right">575kB</td>
   <td><tt>aa27f46075de24d2cd1e6987e16ce355483385f8064d5fee31c2546d3143160f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/konqueror-23.08.4.tar.xz">konqueror-23.08.4</a></td>
   <td align="right">9844kB</td>
   <td><tt>91e6866d0227823e88f210e09a0ead97286a226631ec6fd0d769f309c4d8e6af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/konquest-23.08.4.tar.xz">konquest-23.08.4</a></td>
   <td align="right">855kB</td>
   <td><tt>f8f7eda575808c8b0630811c43f86a09ccebdd5ca0207796a56d598270a18a23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/konsole-23.08.4.tar.xz">konsole-23.08.4</a></td>
   <td align="right">1796kB</td>
   <td><tt>6c0b5bd0c749615b970adff16be226765ff9200988feaf099cc5ffda51278fb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kontact-23.08.4.tar.xz">kontact-23.08.4</a></td>
   <td align="right">855kB</td>
   <td><tt>f747ebca89c1657f8110b89106a7c98633a16c81349041cd006b481a72367389</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kontactinterface-23.08.4.tar.xz">kontactinterface-23.08.4</a></td>
   <td align="right">39kB</td>
   <td><tt>963640f077710cc96edf4cb566791ad241a2f3d05b5dfb34d6f8d6c6483c252b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kontrast-23.08.4.tar.xz">kontrast-23.08.4</a></td>
   <td align="right">206kB</td>
   <td><tt>d71d29221ba7db1bcd52e1e7ec369b272a58d0f7ee1d120d585b5a34e04c9fb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/konversation-23.08.4.tar.xz">konversation-23.08.4</a></td>
   <td align="right">4377kB</td>
   <td><tt>4fcc5db9c57bf9c609b0d4140d70c208962a8e60cc95cf26b5579f7da3cd87f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kopeninghours-23.08.4.tar.xz">kopeninghours-23.08.4</a></td>
   <td align="right">70kB</td>
   <td><tt>8f2f854c74bcef28adc1a5ee9b399d3ef8922ea616f5b7b4a84d2b083f75d670</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kopete-23.08.4.tar.xz">kopete-23.08.4</a></td>
   <td align="right">9937kB</td>
   <td><tt>1deeb3eff4e8dd874c9ac91dab78f0fdc785ae50a69ea4a28ae6d615f347e552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/korganizer-23.08.4.tar.xz">korganizer-23.08.4</a></td>
   <td align="right">2506kB</td>
   <td><tt>53f779089895b16f29712df0e9cd09a0d926d06d6092b461614ab25276cb2b83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kosmindoormap-23.08.4.tar.xz">kosmindoormap-23.08.4</a></td>
   <td align="right">371kB</td>
   <td><tt>2c7e08ba732d38b178d62840b751bba9ff5261519cb5a82257de3ea42a50fcf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kpat-23.08.4.tar.xz">kpat-23.08.4</a></td>
   <td align="right">3667kB</td>
   <td><tt>443cb2994ce36ebd9501e69aad356e9180ce11f77f979aaffa3b5446e8cef364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kpimtextedit-23.08.4.tar.xz">kpimtextedit-23.08.4</a></td>
   <td align="right">295kB</td>
   <td><tt>da55922ce882c2fed5efca00177fddd6fe503547b8942b22181961e871710de5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kpkpass-23.08.4.tar.xz">kpkpass-23.08.4</a></td>
   <td align="right">28kB</td>
   <td><tt>a25c46d3b3329dae20bdb812a10dfd46139f3987710fe5215a0ad568557d9a9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kpmcore-23.08.4.tar.xz">kpmcore-23.08.4</a></td>
   <td align="right">608kB</td>
   <td><tt>d128d8487e3da9c0a1ea762651bbf5aec0dedb7493fb96a2f676b04d23dfb64e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kpublictransport-23.08.4.tar.xz">kpublictransport-23.08.4</a></td>
   <td align="right">557kB</td>
   <td><tt>8123bfa9282ee64afaacd848e092c60b29b487ad8ce6f72e8d9f90fea626149d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kqtquickcharts-23.08.4.tar.xz">kqtquickcharts-23.08.4</a></td>
   <td align="right">30kB</td>
   <td><tt>1b19e75027e2336dbc0e72a9db2bd826c435cfebfdc7bff3a0bf5b120893dae1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/krdc-23.08.4.tar.xz">krdc-23.08.4</a></td>
   <td align="right">1592kB</td>
   <td><tt>985a6f6af9e2a5685dd95b629fa666211ef36eb1272fac43dc0511f33daa484d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/krecorder-23.08.4.tar.xz">krecorder-23.08.4</a></td>
   <td align="right">158kB</td>
   <td><tt>b185418c482c41b4497797fee33d8a1460d1ac027a0c41044fc18c33e53c5673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kreversi-23.08.4.tar.xz">kreversi-23.08.4</a></td>
   <td align="right">1054kB</td>
   <td><tt>8562b7cadfb2cafc555bcdb8f0d292971f2b4e0f820d9942889628f016348e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/krfb-23.08.4.tar.xz">krfb-23.08.4</a></td>
   <td align="right">1291kB</td>
   <td><tt>bb15a302428c45f8331d25a91466744367cb382d4b2efa1e88a3cc73dacb6984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kross-interpreters-23.08.4.tar.xz">kross-interpreters-23.08.4</a></td>
   <td align="right">148kB</td>
   <td><tt>9f50039cfaaa9a5ccf2f8bd35307efef5890c0ef8d0acf4ae17616ea83c41bb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kruler-23.08.4.tar.xz">kruler-23.08.4</a></td>
   <td align="right">281kB</td>
   <td><tt>b59ccf65d48abd38139d2d98e6984ab4ab8744163caf447926d2e61bb9bd0523</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ksanecore-23.08.4.tar.xz">ksanecore-23.08.4</a></td>
   <td align="right">48kB</td>
   <td><tt>57d116917278369d9468c6a86d308019a76c1c4080b110b6cf9b589600d500e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kshisen-23.08.4.tar.xz">kshisen-23.08.4</a></td>
   <td align="right">985kB</td>
   <td><tt>393203f6a69fa291a2e353599e81abf804dca7a9af160fc0948ae0d37ff1b2dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ksirk-23.08.4.tar.xz">ksirk-23.08.4</a></td>
   <td align="right">6913kB</td>
   <td><tt>bbbbf56b53566855c24ac99448658be72e694b4c8283f80851d87d80763c9e15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ksmtp-23.08.4.tar.xz">ksmtp-23.08.4</a></td>
   <td align="right">49kB</td>
   <td><tt>9fa398c78fd6f1a30267fb48f32f195e1a3ae669829ef9ce514981d962709ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ksnakeduel-23.08.4.tar.xz">ksnakeduel-23.08.4</a></td>
   <td align="right">590kB</td>
   <td><tt>63c2c8e6f00aaa3832b96872ea6e1dd7ae92dc6f1ffae6b2c0326ac231bdba79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kspaceduel-23.08.4.tar.xz">kspaceduel-23.08.4</a></td>
   <td align="right">646kB</td>
   <td><tt>31f8cfd5f24aff822701d1f429376119cfc3d4e6582f9ae5f564d4f5a3d1d805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ksquares-23.08.4.tar.xz">ksquares-23.08.4</a></td>
   <td align="right">307kB</td>
   <td><tt>d1fa5477d86444f6a201503ba392cbffb65f42c23910b2dd3d334466e68e7b48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ksudoku-23.08.4.tar.xz">ksudoku-23.08.4</a></td>
   <td align="right">1669kB</td>
   <td><tt>fa372d3dc6cae731ce10c467f461c11cdeb903a53e665aeaf83da05a4fa6f317</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ksystemlog-23.08.4.tar.xz">ksystemlog-23.08.4</a></td>
   <td align="right">1967kB</td>
   <td><tt>ecffc464a4e5302bc1cfdf70995da14f1abd254d04cc90f8370b65ac50f4f6b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kteatime-23.08.4.tar.xz">kteatime-23.08.4</a></td>
   <td align="right">308kB</td>
   <td><tt>5c239e83bf83f86d63132161c5e114446a3f1a641da06976d80526760b268ca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ktimer-23.08.4.tar.xz">ktimer-23.08.4</a></td>
   <td align="right">396kB</td>
   <td><tt>4b42d81db68ac56a107244ed7bc8c599f6e6a61467d169adb822fb00fbd06c21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ktnef-23.08.4.tar.xz">ktnef-23.08.4</a></td>
   <td align="right">304kB</td>
   <td><tt>e544aa959e48bb326bb83882a917f840c749c6123e276c61abd0525b1816cf39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ktorrent-23.08.4.tar.xz">ktorrent-23.08.4</a></td>
   <td align="right">2105kB</td>
   <td><tt>d5f3cbea3a5d37710a3724ce6990e4b2d25e06be8ec80d92525d87d9751f0a61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ktouch-23.08.4.tar.xz">ktouch-23.08.4</a></td>
   <td align="right">4922kB</td>
   <td><tt>d90db39048eb12ea186e7d6d63550e34dfaaafbe43acc92096c8856f55adeea3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ktrip-23.08.4.tar.xz">ktrip-23.08.4</a></td>
   <td align="right">248kB</td>
   <td><tt>af13dba80bcd1b8f930a786b4ce929788dece39a15175099d2171a0c310432b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/ktuberling-23.08.4.tar.xz">ktuberling-23.08.4</a></td>
   <td align="right">69743kB</td>
   <td><tt>3c9c2f9371c93d06f39cea98897f9087784207e2fffa1c43cf63afa10b3f008b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kturtle-23.08.4.tar.xz">kturtle-23.08.4</a></td>
   <td align="right">2195kB</td>
   <td><tt>9fc21bc0a106fd7668347fdd01663e5fab151b41a27c7d6ffb17cbbdbcbd029d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kubrick-23.08.4.tar.xz">kubrick-23.08.4</a></td>
   <td align="right">347kB</td>
   <td><tt>e239d208d9b04bc44ad22815503803b5bb7dc5ed41426d24c4e74206009ae68a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kwalletmanager-23.08.4.tar.xz">kwalletmanager-23.08.4</a></td>
   <td align="right">832kB</td>
   <td><tt>a1497c864ad149169fb10f5086091bc936fb7a68d0a96fe37fb4b9e005b5c25c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kwave-23.08.4.tar.xz">kwave-23.08.4</a></td>
   <td align="right">6818kB</td>
   <td><tt>985002f793a1b6912dd9cc965ff71f27409f36c21cfed0b12a0487793fba2c72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kweather-23.08.4.tar.xz">kweather-23.08.4</a></td>
   <td align="right">924kB</td>
   <td><tt>766f332194bb2dde8fc5fb0cd3f23218ccb6bd38b105c90dadf79c920a4e21bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/kwordquiz-23.08.4.tar.xz">kwordquiz-23.08.4</a></td>
   <td align="right">3977kB</td>
   <td><tt>405e2b6d1ca0be9e8d81b02422edd467e2870f0c8701c21f0f0a8165d4aadcbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libgravatar-23.08.4.tar.xz">libgravatar-23.08.4</a></td>
   <td align="right">35kB</td>
   <td><tt>5c24013623cb3d09a109d86fc71354fbbfefc0cb0694344f876fb65750033ff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libkcddb-23.08.4.tar.xz">libkcddb-23.08.4</a></td>
   <td align="right">440kB</td>
   <td><tt>29370b170cc763b789bafbe157fe83e2688fae2fdcf512404624864996950a8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libkcompactdisc-23.08.4.tar.xz">libkcompactdisc-23.08.4</a></td>
   <td align="right">97kB</td>
   <td><tt>f10fbbf1ed0b8df0f565293ebe2b58cb3a26923baca119ba554567754f92d698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libkdcraw-23.08.4.tar.xz">libkdcraw-23.08.4</a></td>
   <td align="right">36kB</td>
   <td><tt>b11e49ab150613fed5ad3d28c523125be2d6d5cf309599635a1d3b7aae7ea3d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libkdegames-23.08.4.tar.xz">libkdegames-23.08.4</a></td>
   <td align="right">5843kB</td>
   <td><tt>4a5675e50b31abde322a66192f56f5c139b6ff18bce64ed2c6277bcaeed49dec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libkdepim-23.08.4.tar.xz">libkdepim-23.08.4</a></td>
   <td align="right">278kB</td>
   <td><tt>ff68425958e85bf0e028658be0e054f27d26b1f2a3ddf6b84258d3e18b0eea65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libkeduvocdocument-23.08.4.tar.xz">libkeduvocdocument-23.08.4</a></td>
   <td align="right">224kB</td>
   <td><tt>974d89848292e7d05fba45494ebf95a83c30962da912710e5108da27969f6bcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libkexiv2-23.08.4.tar.xz">libkexiv2-23.08.4</a></td>
   <td align="right">59kB</td>
   <td><tt>a060a1fa36118c496ab0f0afa2efe4a7532c16ce6e4b7b4fa8fc00305688f3f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libkgapi-23.08.4.tar.xz">libkgapi-23.08.4</a></td>
   <td align="right">327kB</td>
   <td><tt>cc654c4629782a8095280bf8371349ab8bbcbafbce802eb2f65a70f76e906eb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libkipi-23.08.4.tar.xz">libkipi-23.08.4</a></td>
   <td align="right">86kB</td>
   <td><tt>08c1f861942d4695fc2907cd6774405720359037aecbb71d4114155dbda67d7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libkleo-23.08.4.tar.xz">libkleo-23.08.4</a></td>
   <td align="right">551kB</td>
   <td><tt>f1abf5b8a66ecbba7376507c07d61fea6fe222f57bc90274fb6d381ddabb5a07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libkmahjongg-23.08.4.tar.xz">libkmahjongg-23.08.4</a></td>
   <td align="right">1648kB</td>
   <td><tt>3052bd39de55d70bc543711a629c5aa12f2dcc06d64a937370921002e6fde232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libkomparediff2-23.08.4.tar.xz">libkomparediff2-23.08.4</a></td>
   <td align="right">183kB</td>
   <td><tt>76b56ac8dd738ccd646927b78f97a1fdb35afbb0bf95f47725b51f29a3d56e1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libksane-23.08.4.tar.xz">libksane-23.08.4</a></td>
   <td align="right">151kB</td>
   <td><tt>a09dea833942012502288a4e029cf8df2326edec52839bafea8825b8292f4dbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libksieve-23.08.4.tar.xz">libksieve-23.08.4</a></td>
   <td align="right">566kB</td>
   <td><tt>0e81c87ef2ff2ad324bc9eed0dc3ea05da5050265d6d2f9d9fdcfaa1a98fb947</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/libktorrent-23.08.4.tar.xz">libktorrent-23.08.4</a></td>
   <td align="right">589kB</td>
   <td><tt>3b7c437aeed902267d642af0dd45cbac5f8b6e9814d9428286f59fa14545db6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/lokalize-23.08.4.tar.xz">lokalize-23.08.4</a></td>
   <td align="right">2092kB</td>
   <td><tt>381777123da71ade67ed076c54359a29334fdbdd468fdfebaf92617d8c174531</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/lskat-23.08.4.tar.xz">lskat-23.08.4</a></td>
   <td align="right">1221kB</td>
   <td><tt>79ec7535d711d0fa4f47ff8e598a777d7b8cb03618abff2fda1db7c67b1597e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/mailcommon-23.08.4.tar.xz">mailcommon-23.08.4</a></td>
   <td align="right">745kB</td>
   <td><tt>6ff8c12a6ae40e97f35603baffc43b34c6c725dedac1c0ebccd4474cf9fee987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/mailimporter-23.08.4.tar.xz">mailimporter-23.08.4</a></td>
   <td align="right">579kB</td>
   <td><tt>2dfa474c6c119cbd3b31dc6773eb5cab561d058a6468c831937f176773138893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/marble-23.08.4.tar.xz">marble-23.08.4</a></td>
   <td align="right">52523kB</td>
   <td><tt>cf2955b8cced2f09923c362346bc5d6b0aa318adda65105fe7c438c7becb7a8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/markdownpart-23.08.4.tar.xz">markdownpart-23.08.4</a></td>
   <td align="right">30kB</td>
   <td><tt>cc55ab62a0bbdd65a628c52cc6841cb31a0a053b4e2badb51bda742b4f83223f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/mbox-importer-23.08.4.tar.xz">mbox-importer-23.08.4</a></td>
   <td align="right">29kB</td>
   <td><tt>bfaee974d2d907d2e95a3b948a754702f950b7745881a206bb535d7e69b6d1de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/merkuro-23.08.4.tar.xz">merkuro-23.08.4</a></td>
   <td align="right">958kB</td>
   <td><tt>f2123c7a1bda410ab8c8168311bc7a6e72abc51ab2408bef7c4da991e35eaee5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/messagelib-23.08.4.tar.xz">messagelib-23.08.4</a></td>
   <td align="right">11066kB</td>
   <td><tt>9ad95d1a559fc09855ac6cdba9b4cda58ef0bb7c4b09764b67da440ebf5850d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/minuet-23.08.4.tar.xz">minuet-23.08.4</a></td>
   <td align="right">27034kB</td>
   <td><tt>af8760025c815189bf0766e7d4eda4b14faf55cd8060f03f7f2ee215d9e338f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/neochat-23.08.4.tar.xz">neochat-23.08.4</a></td>
   <td align="right">765kB</td>
   <td><tt>6d98038200bc042f2a8b96032eca531a39c98a3616ff6a34aa713fa08978ace9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/okular-23.08.4.tar.xz">okular-23.08.4</a></td>
   <td align="right">8317kB</td>
   <td><tt>37fd73178ae287dcdcc2b2bc61aee2aa30a64765f862230315f521a94b50af11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/palapeli-23.08.4.tar.xz">palapeli-23.08.4</a></td>
   <td align="right">2071kB</td>
   <td><tt>0a133fbd7690ef59ce87ea5d53e7261a08ae820139ae62d1897174f5d51b6631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/parley-23.08.4.tar.xz">parley-23.08.4</a></td>
   <td align="right">8400kB</td>
   <td><tt>4c45d0a53c2f4b3e5ccf71daf32d0b6201c26de989d656c6252a433b6659d5f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/partitionmanager-23.08.4.tar.xz">partitionmanager-23.08.4</a></td>
   <td align="right">2097kB</td>
   <td><tt>c5df0efe46ca215245690b37c3fbb7e054ca14b3924897c79347d2b4f3ba46d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/picmi-23.08.4.tar.xz">picmi-23.08.4</a></td>
   <td align="right">1505kB</td>
   <td><tt>c6e76084de605318f4f6440d436d3ae41106042d0158ad044ae672d5bc7f7eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/pimcommon-23.08.4.tar.xz">pimcommon-23.08.4</a></td>
   <td align="right">340kB</td>
   <td><tt>d4a979b2b290a4f6df0f1a03766fbf389f1497d9fb431e3b4afd9197cd69dd51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/pim-data-exporter-23.08.4.tar.xz">pim-data-exporter-23.08.4</a></td>
   <td align="right">417kB</td>
   <td><tt>430f48750b05b1648d267539cad05584f35f16b93fb11f1f9fb688cbc5db1c5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/pim-sieve-editor-23.08.4.tar.xz">pim-sieve-editor-23.08.4</a></td>
   <td align="right">455kB</td>
   <td><tt>0b7a66f6ffd88ed01ace44172fcd6fd5ff323588dbe231e065f8a24d84a074ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/plasmatube-23.08.4.tar.xz">plasmatube-23.08.4</a></td>
   <td align="right">81kB</td>
   <td><tt>6191ca6cdeb00c6c613e8e9596fda6a349e06e833c54d76b020661adab92b455</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/poxml-23.08.4.tar.xz">poxml-23.08.4</a></td>
   <td align="right">43kB</td>
   <td><tt>19f0007315bdb5468011c353959c2c36a8decb88efb6a7d556b6880bb4253747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/print-manager-23.08.4.tar.xz">print-manager-23.08.4</a></td>
   <td align="right">283kB</td>
   <td><tt>2dbf739cebf1378be9c551ba1b32d38a1902ffaf4897c7456d51ddc735575d43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/qmlkonsole-23.08.4.tar.xz">qmlkonsole-23.08.4</a></td>
   <td align="right">58kB</td>
   <td><tt>b1ff7b6c57fd2036b219539b2ebebd3b3b1478d2c58029740cf4769e60ff5ae2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/rocs-23.08.4.tar.xz">rocs-23.08.4</a></td>
   <td align="right">1534kB</td>
   <td><tt>e1c9e41dafa0b02987655ef1d6d844c3705dc6834fcbabde28e33516efd70205</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/signon-kwallet-extension-23.08.4.tar.xz">signon-kwallet-extension-23.08.4</a></td>
   <td align="right">10kB</td>
   <td><tt>d145ea81755ded8beff631e7779f86e8eca0ae2ce6b95267b80cb623ef97f8ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/skanlite-23.08.4.tar.xz">skanlite-23.08.4</a></td>
   <td align="right">2394kB</td>
   <td><tt>737f7c0b36c63aae72432d6cb189b6d23bd7dd53382b6329bbef2d8df8600572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/skanpage-23.08.4.tar.xz">skanpage-23.08.4</a></td>
   <td align="right">1285kB</td>
   <td><tt>b657e15751211bc40d2fb09504d967478ca3ed6a72c1b31166d9513bf181bbd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/spectacle-23.08.4.tar.xz">spectacle-23.08.4</a></td>
   <td align="right">1320kB</td>
   <td><tt>7865e53d4311551b51a95ba0a55a78058518d1b8938d2059e6face0c2e00cd13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/step-23.08.4.tar.xz">step-23.08.4</a></td>
   <td align="right">972kB</td>
   <td><tt>36e52e01fca3e1ee5025f82aa33b598e0a543599a534e2aa881d8ab76762b636</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/svgpart-23.08.4.tar.xz">svgpart-23.08.4</a></td>
   <td align="right">28kB</td>
   <td><tt>9083a25c195bbda98700c9582e91508e8a4311b110d6d046e8a1da59ee6f3f84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/sweeper-23.08.4.tar.xz">sweeper-23.08.4</a></td>
   <td align="right">390kB</td>
   <td><tt>2cde35f06e0ce6b8caefe32611927b16f0adc1fd1b17865b73f71ad4d7cc5833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/telly-skout-23.08.4.tar.xz">telly-skout-23.08.4</a></td>
   <td align="right">93kB</td>
   <td><tt>71970bf3a8e7872e64d05608befd7a5f5bfb82274f75753c0300c99de82efec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/tokodon-23.08.4.tar.xz">tokodon-23.08.4</a></td>
   <td align="right">326kB</td>
   <td><tt>1cd3b4d9e03e2412a4713e8970c48f882791cf354ad3c342aca5629d6de54dc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/umbrello-23.08.4.tar.xz">umbrello-23.08.4</a></td>
   <td align="right">5639kB</td>
   <td><tt>13e81319f4196f05598866a13b89e03d4b560bd7308967795777f9451d37ba6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/yakuake-23.08.4.tar.xz">yakuake-23.08.4</a></td>
   <td align="right">425kB</td>
   <td><tt>1e9054a5d2bb68428d32c358b621b9db550ef9d994c1135052fc6f074260ffc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.4/src/zanshin-23.08.4.tar.xz">zanshin-23.08.4</a></td>
   <td align="right">354kB</td>
   <td><tt>a07680309f457c838221453f6a2f36f8581017de672f56a52eb7e7665e82b92b</tt></td>
</tr>

</table>
