<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/bluedevil-5.8.9.tar.xz">bluedevil-5.8.9</a></td>
   <td align="right">142kB</td>
   <td><tt>b7382b7de046051105173135fe6832f5d9f0ea7ab544639b2b216f0e2e2222b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/breeze-5.8.9.tar.xz">breeze-5.8.9</a></td>
   <td align="right">31MB</td>
   <td><tt>ee5bc04e961907904b917cc2fae98bbdc29e5dde352b8c288bf5a9dbd9603a2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/breeze-grub-5.8.9.tar.xz">breeze-grub-5.8.9</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0fbc9c1c578244543dc318408349d5c5e20a19e199d4692242bd6cf57133cea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/breeze-gtk-5.8.9.tar.xz">breeze-gtk-5.8.9</a></td>
   <td align="right">206kB</td>
   <td><tt>bb8bbf0dafee932e3ce6aaefdb038f4d66063ba010652a421885e436f5fc70d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/breeze-plymouth-5.8.9.tar.xz">breeze-plymouth-5.8.9</a></td>
   <td align="right">93kB</td>
   <td><tt>5e84dab10b59d98c8d3b0492c8559e6b3f34d3e0f5c5c138e6b1ab1626b5561a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/discover-5.8.9.tar.xz">discover-5.8.9</a></td>
   <td align="right">8.7MB</td>
   <td><tt>d996d17593c97c1f6d08a5384fe772749a74e2c27530a0702955d665ac421031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/kactivitymanagerd-5.8.9.tar.xz">kactivitymanagerd-5.8.9</a></td>
   <td align="right">82kB</td>
   <td><tt>f819b001816a3f3535b449914c9acdccc879551f8fd0d6da4ea59dae24ba1426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/kde-cli-tools-5.8.9.tar.xz">kde-cli-tools-5.8.9</a></td>
   <td align="right">480kB</td>
   <td><tt>0a90fdbed4bb76c7b63ab847cdff11a750ffe4f2593cdcb46e33ac0028f3986a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/kdecoration-5.8.9.tar.xz">kdecoration-5.8.9</a></td>
   <td align="right">33kB</td>
   <td><tt>066f7ac80882732ceea3160d9cbdb8ce06d2d8c956625e3006a2b70ba5c177e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/kde-gtk-config-5.8.9.tar.xz">kde-gtk-config-5.8.9</a></td>
   <td align="right">149kB</td>
   <td><tt>e35e6054dc91b50bd9b465adf5b96a3adc7df64bd159cfed27d6bc9880b42c31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/kdeplasma-addons-5.8.9.tar.xz">kdeplasma-addons-5.8.9</a></td>
   <td align="right">2.0MB</td>
   <td><tt>405430c9ee7d00f7658e962d0d2481c5e4ee44c633447b566a4890f7bed3e146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/kgamma5-5.8.9.tar.xz">kgamma5-5.8.9</a></td>
   <td align="right">59kB</td>
   <td><tt>f3f1f574ab88f1711af9e80302fd8d60c9f31dca036ae97bf7bce02334b18834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/khotkeys-5.8.9.tar.xz">khotkeys-5.8.9</a></td>
   <td align="right">592kB</td>
   <td><tt>5b4afc05d948847b5e9a5d2e144574a5efd7d6043969db4dcd5aa5ef4f642c74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/kinfocenter-5.8.9.tar.xz">kinfocenter-5.8.9</a></td>
   <td align="right">1.2MB</td>
   <td><tt>2f6169339c2eb99fcef664946769340618b03fcf47508e13e87ae8e836ce3113</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/kmenuedit-5.8.9.tar.xz">kmenuedit-5.8.9</a></td>
   <td align="right">638kB</td>
   <td><tt>61e6110df4f27a05e882c4a294ded93c0e05497696b9f9dafa602fa7899bbc95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/kscreen-5.8.9.tar.xz">kscreen-5.8.9</a></td>
   <td align="right">111kB</td>
   <td><tt>89e18f3c2212954d955589fd6afacbc513eace3e2208caea23bbb366eb14ae64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/kscreenlocker-5.8.9.tar.xz">kscreenlocker-5.8.9</a></td>
   <td align="right">107kB</td>
   <td><tt>862482c03a8bd129110ac3e3c5b09e46d699e52e4c3ac494b97b5cc6c70f0f80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/ksshaskpass-5.8.9.tar.xz">ksshaskpass-5.8.9</a></td>
   <td align="right">19kB</td>
   <td><tt>00b5d9e2f6175ce681033eb5e5d6a985f3dad5a9f8b6a64ac29367e42e82a266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/ksysguard-5.8.9.tar.xz">ksysguard-5.8.9</a></td>
   <td align="right">480kB</td>
   <td><tt>74f86c03dcf2c69fb90f8ba00908e8f844958f2e5155697cb05f06278d595b93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/kwallet-pam-5.8.9.tar.xz">kwallet-pam-5.8.9</a></td>
   <td align="right">17kB</td>
   <td><tt>c8a5262e52f213c842bdf182a5fa38bd2542f3ad1c37091759dde9e8c6570fd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/kwayland-integration-5.8.9.tar.xz">kwayland-integration-5.8.9</a></td>
   <td align="right">17kB</td>
   <td><tt>6187cca74e37f14acdaf3f0e19447754d988b7266fe8663f399b650cb58c2f1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/kwin-5.8.9.tar.xz">kwin-5.8.9</a></td>
   <td align="right">3.8MB</td>
   <td><tt>5ebcbec2c7d5301a3145905bd63bc62df408720c5caeca003f3b8c3589caf3fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/kwrited-5.8.9.tar.xz">kwrited-5.8.9</a></td>
   <td align="right">19kB</td>
   <td><tt>511f02f81499d55cc8aee313bb742796e3b01c69e20b60f920d4bcea0ba4f9f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/libkscreen-5.8.9.tar.xz">libkscreen-5.8.9</a></td>
   <td align="right">91kB</td>
   <td><tt>911a3754dc0978c66f71747d7136afac85f259630aedd09b92ca22f8fa6e8ba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/libksysguard-5.8.9.tar.xz">libksysguard-5.8.9</a></td>
   <td align="right">561kB</td>
   <td><tt>59745a4079a95fe2961a4593f8e9bd20247eb4d0a894276b1bcf1bc5ac362dae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/milou-5.8.9.tar.xz">milou-5.8.9</a></td>
   <td align="right">53kB</td>
   <td><tt>8d404b8a1d5d76171d2b76312921eb3bf66c804fe1e52a0a0775298fa14c7016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/oxygen-5.8.9.tar.xz">oxygen-5.8.9</a></td>
   <td align="right">4.2MB</td>
   <td><tt>fe99b922e88a5bd837c1e9a2b85f1192071df3abacb07a14ce409f97aec51261</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/plasma-desktop-5.8.9.tar.xz">plasma-desktop-5.8.9</a></td>
   <td align="right">6.1MB</td>
   <td><tt>731c0908bb8cdb46e036753082f5bb33a8132a8e686ffe2264ba9f66612c37e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/plasma-integration-5.8.9.tar.xz">plasma-integration-5.8.9</a></td>
   <td align="right">49kB</td>
   <td><tt>85753e6c4c0960e9e1e88af126a4af05737065d3549b33ebba43b433d6069bb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/plasma-nm-5.8.9.tar.xz">plasma-nm-5.8.9</a></td>
   <td align="right">651kB</td>
   <td><tt>20d6ce380259f7de39c86214c6301a5718ef2e63975d4a8af9a3c387551cc575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/plasma-pa-5.8.9.tar.xz">plasma-pa-5.8.9</a></td>
   <td align="right">69kB</td>
   <td><tt>3f6347618804a10d9d0c7595f0667e1ec4f7eb751f1bd294c3e1513074bc1415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/plasma-sdk-5.8.9.tar.xz">plasma-sdk-5.8.9</a></td>
   <td align="right">712kB</td>
   <td><tt>a4bc3cd23b32dfde77e2bbbb18b54394290ba95f295ff3f1406cc7b33d1aedb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/plasma-tests-5.8.9.tar.xz">plasma-tests-5.8.9</a></td>
   <td align="right">1kB</td>
   <td><tt>8a36bc914565159b7aefc083075db71c20b2f90ba2352ffa92d20596543cb67e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/plasma-workspace-5.8.9.tar.xz">plasma-workspace-5.8.9</a></td>
   <td align="right">6.6MB</td>
   <td><tt>993c0071a1e1d848d66820e2f6d795b337dbefae04815a303927984dd6f3c11d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/plasma-workspace-wallpapers-5.8.9.tar.xz">plasma-workspace-wallpapers-5.8.9</a></td>
   <td align="right">43MB</td>
   <td><tt>e6d268653019f74c3ab527ce02b0124783522111bf1c961cd313dc1b420beb9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/polkit-kde-agent-1-5.8.9.tar.xz">polkit-kde-agent-1-5.8.9</a></td>
   <td align="right">40kB</td>
   <td><tt>c65e7056e16f5115d00e30003957d62eef0d0b67728316b5614bca5f43e36276</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/powerdevil-5.8.9.tar.xz">powerdevil-5.8.9</a></td>
   <td align="right">350kB</td>
   <td><tt>56ff56eaec942c1004392ec259ca174730dcf35b65e393c79a15c3d555bb9994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/sddm-kcm-5.8.9.tar.xz">sddm-kcm-5.8.9</a></td>
   <td align="right">48kB</td>
   <td><tt>66d24c364433f929d82443aa93b86f709de79a43beb118b601db28ba10a4acbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/systemsettings-5.8.9.tar.xz">systemsettings-5.8.9</a></td>
   <td align="right">155kB</td>
   <td><tt>98a28e62404433d6138124a550795862891598ebbe7733d5bc4708674be9ea28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.9/user-manager-5.8.9.tar.xz">user-manager-5.8.9</a></td>
   <td align="right">531kB</td>
   <td><tt>66a2ba67a63e3dd4a182f50aa7bba2ef0f0449d459eb3ff6ef46af2b3017e461</tt></td>
</tr>

</table>
