<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/bluedevil-5.19.0.tar.xz">bluedevil-5.19.0</a></td>
   <td align="right">165kB</td>
   <td><tt>a2e7d6fb3502d4ab02873df863c24383d9c36dccc7e7df21b62602d98c9d2fba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/breeze-5.19.0.tar.xz">breeze-5.19.0</a></td>
   <td align="right">21MB</td>
   <td><tt>2bf2abce3fb12abf1da79a417a40218cdf7cd089591dccf8ca0e2614671046f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/breeze-grub-5.19.0.tar.xz">breeze-grub-5.19.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d8d36e75041b124450f1a268eafebb1a79d90088bfb1a0f0288d5aeb0a4b14cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/breeze-gtk-5.19.0.tar.xz">breeze-gtk-5.19.0</a></td>
   <td align="right">41kB</td>
   <td><tt>dfaa9f81768b0d8bef7395b4b10d3902cec9d68bbeda1d79059729b427e0fe9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/breeze-plymouth-5.19.0.tar.xz">breeze-plymouth-5.19.0</a></td>
   <td align="right">103kB</td>
   <td><tt>f169263e574af7120dba253c0dec9c8b3574caf22a40855c70f873910c33631a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/discover-5.19.0.tar.xz">discover-5.19.0</a></td>
   <td align="right">9.8MB</td>
   <td><tt>05c5170227e5664914fc18b865a89b68ee699d53d6e4f57dd2b9dddbb02a4445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/drkonqi-5.19.0.tar.xz">drkonqi-5.19.0</a></td>
   <td align="right">730kB</td>
   <td><tt>074d59664a044f575ff9a1b067ac3b99f71680fa17f2fddd1230980c23e5ac71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/kactivitymanagerd-5.19.0.tar.xz">kactivitymanagerd-5.19.0</a></td>
   <td align="right">82kB</td>
   <td><tt>0b31262f7196a46ca73e2d08b066fbcbde04340b1e45d1e0e67c8142f4bc9edd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/kde-cli-tools-5.19.0.tar.xz">kde-cli-tools-5.19.0</a></td>
   <td align="right">584kB</td>
   <td><tt>696a7bc3e4a828536c73bec7d6932596db8243eaf67bb99d402d622bc0f74ef1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/kdecoration-5.19.0.tar.xz">kdecoration-5.19.0</a></td>
   <td align="right">42kB</td>
   <td><tt>0936f6e49fc8ce08785f9817496d87fc0d879b232906a2be086e7b91e1d99853</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/kde-gtk-config-5.19.0.tar.xz">kde-gtk-config-5.19.0</a></td>
   <td align="right">25kB</td>
   <td><tt>f37d78fd597e8103acb7bc7181f2a1c8cc803ef1a3402d09f163e89c981bd4de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/kdeplasma-addons-5.19.0.tar.xz">kdeplasma-addons-5.19.0</a></td>
   <td align="right">613kB</td>
   <td><tt>caa2827218efa8ba65c503461f7b498d07e740b9d5f61a5a20e61fb520f0edd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/kgamma5-5.19.0.tar.xz">kgamma5-5.19.0</a></td>
   <td align="right">78kB</td>
   <td><tt>745cd675d6610984dd50c25ca202fe655bf2b208f8e75ed9f250e17f6bdbe3d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/khotkeys-5.19.0.tar.xz">khotkeys-5.19.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2f53a72b002aa5c95dddec85c329a4f9564fdf58908dae9ebbed4a9e10e094b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/kinfocenter-5.19.0.tar.xz">kinfocenter-5.19.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>1cefb6c85253398d9fc815343dd8efd93e324ed4745b9f10dfe0a06090359263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/kmenuedit-5.19.0.tar.xz">kmenuedit-5.19.0</a></td>
   <td align="right">875kB</td>
   <td><tt>74a600616679cc75aefc5967fcb788b57b1ad5c4e99ffdb2bf69dc4e9a50e0be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/kscreen-5.19.0.tar.xz">kscreen-5.19.0</a></td>
   <td align="right">112kB</td>
   <td><tt>9487d11fedae7b1a4ec48e8517f4a962a9917800d3d1e281b7aa9a14854f63d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/kscreenlocker-5.19.0.tar.xz">kscreenlocker-5.19.0</a></td>
   <td align="right">123kB</td>
   <td><tt>1ecd47849409f6eed7549f1ad66fda59a330f2f2b19972a90b11db5496577ea6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/ksshaskpass-5.19.0.tar.xz">ksshaskpass-5.19.0</a></td>
   <td align="right">22kB</td>
   <td><tt>d4cedad91f5929b7bd6f9ddd4cbd4143b0c5f5cb4d9faaa3493d50ae2d83b41e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/ksysguard-5.19.0.1.tar.xz">ksysguard-5.19.0.1</a></td>
   <td align="right">527kB</td>
   <td><tt>853474ccf3b65eadf0e5694e70bd2b51e879291f4d180fe949cb7c5393b44d63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/kwallet-pam-5.19.0.tar.xz">kwallet-pam-5.19.0</a></td>
   <td align="right">19kB</td>
   <td><tt>dc1a13a062cfd45205b10bd841591bb53129135c3d1162bb518b064f4b9e14d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/kwayland-integration-5.19.0.tar.xz">kwayland-integration-5.19.0</a></td>
   <td align="right">20kB</td>
   <td><tt>73ba16eb80f0ab2871ca0ff512d1d52cd01e8c82e4731b08cea4eb84818fec51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/kwayland-server-5.19.0.tar.xz">kwayland-server-5.19.0</a></td>
   <td align="right">224kB</td>
   <td><tt>e8d65e3b2c943d83699488c677a30aade3d20d89114e12d0bdcb846518ef8f34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/kwin-5.19.0.tar.xz">kwin-5.19.0</a></td>
   <td align="right">5.9MB</td>
   <td><tt>b0c87db1376655761589e9a7166ebab769da6377e5bc8be41dd706657b4dbdd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/kwrited-5.19.0.tar.xz">kwrited-5.19.0</a></td>
   <td align="right">19kB</td>
   <td><tt>cb2d0fcbf3165799836d0255b22332c5c9e346b4ff689c3beee8036b6009ab7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/libkscreen-5.19.0.tar.xz">libkscreen-5.19.0</a></td>
   <td align="right">83kB</td>
   <td><tt>0bf55850a7d76d636848f6bcde44ad8fde2dc51ef2723f673e7f238f55e8d582</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/libksysguard-5.19.0.1.tar.xz">libksysguard-5.19.0.1</a></td>
   <td align="right">651kB</td>
   <td><tt>09fb40f0a8fedc23ca9816d26a1c80029623e36c7b798060f98de9b78450fdfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/milou-5.19.0.tar.xz">milou-5.19.0</a></td>
   <td align="right">62kB</td>
   <td><tt>e068b63da21e98f326c43211fd1f98f8fc720b16d3f5adf483e456e11b3d022c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/oxygen-5.19.0.tar.xz">oxygen-5.19.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>25985da2db0561c810de324d3a46eb5829c3810ad5a63bbe22b8dd6c3c301ed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/plasma-browser-integration-5.19.0.tar.xz">plasma-browser-integration-5.19.0</a></td>
   <td align="right">156kB</td>
   <td><tt>ae695cac3ee061174c1e8105e94cd0a708bd4a24c18c53e36ecad6d25fab8db3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/plasma-desktop-5.19.0.tar.xz">plasma-desktop-5.19.0</a></td>
   <td align="right">8.9MB</td>
   <td><tt>31bc3f11ef807b905b21972491c2f6ee4858ca6c6e7b3b29c79850955673f675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/plasma-integration-5.19.0.tar.xz">plasma-integration-5.19.0</a></td>
   <td align="right">56kB</td>
   <td><tt>430eabea3ff270b8e8bd9b3b73393bc8b1df82c1373d7123a769bef877c5185f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/plasma-nano-5.19.0.tar.xz">plasma-nano-5.19.0</a></td>
   <td align="right">31kB</td>
   <td><tt>4d4c7e1ca3d800ff48328e244f722ca1a39e9990067d2799e8d75fc61c10579a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/plasma-nm-5.19.0.tar.xz">plasma-nm-5.19.0</a></td>
   <td align="right">833kB</td>
   <td><tt>de4a6c3609e20c4ac15614286e346185c4a9fb1bd7ba73f15b74af6c2d6e29c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/plasma-pa-5.19.0.tar.xz">plasma-pa-5.19.0</a></td>
   <td align="right">106kB</td>
   <td><tt>808c3e62fa52d07e8f9af7854f1eee4a35e7cdb038e2b9db1ad0008121805aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/plasma-phone-components-5.19.0.tar.xz">plasma-phone-components-5.19.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f40777f2d49ae67be75d27131245a58789189bd06355626785c7d8c9ff6aee5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/plasma-sdk-5.19.0.tar.xz">plasma-sdk-5.19.0</a></td>
   <td align="right">256kB</td>
   <td><tt>4c1283c78c0ff1cb748d6a6efb745fcf198f7047ca51d492e76bbef15c53837f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/plasma-tests-5.19.0.tar.xz">plasma-tests-5.19.0</a></td>
   <td align="right">1kB</td>
   <td><tt>620eea318f74f2ba11f5eb94cb60328ba850f7bfbc8bc9164671704c3a48c539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/plasma-thunderbolt-5.19.0.tar.xz">plasma-thunderbolt-5.19.0</a></td>
   <td align="right">50kB</td>
   <td><tt>6beba23ed7fedaec9fa53d138bece3e3631ae96b120dd9764e47744264cb7f1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/plasma-vault-5.19.0.tar.xz">plasma-vault-5.19.0</a></td>
   <td align="right">141kB</td>
   <td><tt>e20ff39ea102112258dd419abba153d1d7c9ae9116c988ccc550af3c151a30b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/plasma-workspace-5.19.0.tar.xz">plasma-workspace-5.19.0</a></td>
   <td align="right">5.4MB</td>
   <td><tt>bdfcc6c12696e3a24602b23bd366ed52f004b158960c79e6c00b73cbb37e2bbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/plasma-workspace-wallpapers-5.19.0.tar.xz">plasma-workspace-wallpapers-5.19.0</a></td>
   <td align="right">39MB</td>
   <td><tt>fc4224a0c68e0ad44ca5894effedf6b4be92514d5905659825f4eb94f43e118b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/plymouth-kcm-5.19.0.tar.xz">plymouth-kcm-5.19.0</a></td>
   <td align="right">40kB</td>
   <td><tt>f30f796483e071b3536a34e00ec42d7796378683bf2b325945f4356380a83fe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/polkit-kde-agent-1-5.19.0.tar.xz">polkit-kde-agent-1-5.19.0</a></td>
   <td align="right">43kB</td>
   <td><tt>51187c0fda455890b57bc3ec6513af08cdba2cbb5f1d6b1e50a364f30e4a4584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/powerdevil-5.19.0.tar.xz">powerdevil-5.19.0</a></td>
   <td align="right">585kB</td>
   <td><tt>c58dcc39e55cf68cdcc377bfa458a1ff6a80b5970ae568bd62af68d78bdbed4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/sddm-kcm-5.19.0.tar.xz">sddm-kcm-5.19.0</a></td>
   <td align="right">61kB</td>
   <td><tt>8d8118150c75cbfa21547db57ed1445d391c501a483be8a9ee9cdc20acee5cfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/systemsettings-5.19.0.tar.xz">systemsettings-5.19.0</a></td>
   <td align="right">179kB</td>
   <td><tt>e1c61fec4ce50a130d2a912ed04f7f885483a53ac8a32239774058173aa7fae4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/user-manager-5.19.0.tar.xz">user-manager-5.19.0</a></td>
   <td align="right">9.4MB</td>
   <td><tt>55e185dc2f348994fdae2b9de03e4e64cda1d49dbdcc48433ee0152d5417758f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.0/xdg-desktop-portal-kde-5.19.0.tar.xz">xdg-desktop-portal-kde-5.19.0</a></td>
   <td align="right">74kB</td>
   <td><tt>acb36b7dae58cd6f5e762a4736a81a71322d1b0aeeb1fdc4f4b286c01f720473</tt></td>
</tr>

</table>
