<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/bluedevil-5.92.0.tar.xz">bluedevil-5.92.0</a></td>
   <td align="right">358kB</td>
   <td><tt>6262b5e34ba28151652ade192827a5c54b26d985bb4542fdf53ccfab3c0b4c1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/breeze-5.92.0.tar.xz">breeze-5.92.0</a></td>
   <td align="right">83MB</td>
   <td><tt>031426b9ad28352c7688487f8ee2a54b4c3cc59478602de7e745bff98ec3cf82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/breeze-grub-5.92.0.tar.xz">breeze-grub-5.92.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>e35babe6422e41f2472f3e72cdf70e479e165be30018b3764fda078c4034f370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/breeze-gtk-5.92.0.tar.xz">breeze-gtk-5.92.0</a></td>
   <td align="right">39kB</td>
   <td><tt>cd7e32fc2b19c209492ebbb9006274245aa3afaae318f973bf6983bfca161933</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/breeze-plymouth-5.92.0.tar.xz">breeze-plymouth-5.92.0</a></td>
   <td align="right">108kB</td>
   <td><tt>e9266df45962873b1843fccdea8549dd81a62632d49e05d1f00a4db020273869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/discover-5.92.0.tar.xz">discover-5.92.0</a></td>
   <td align="right">966kB</td>
   <td><tt>195122bd63049a142d60360590c2a575f8b38b4f9abc8402638b92aec2f72a18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/drkonqi-5.92.0.tar.xz">drkonqi-5.92.0</a></td>
   <td align="right">849kB</td>
   <td><tt>116f7b9e7d6a08025f8d56f2ad9e1b6d5ac3126ef720ae4891508d696751d524</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/flatpak-kcm-5.92.0.tar.xz">flatpak-kcm-5.92.0</a></td>
   <td align="right">230kB</td>
   <td><tt>20f778624024c5720f772f9e91e84c64b02b60eb131bb1cd821109afa90398c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kactivitymanagerd-5.92.0.tar.xz">kactivitymanagerd-5.92.0</a></td>
   <td align="right">107kB</td>
   <td><tt>469c27e060826a470a50d3d71bb466ad125a5c4a9856d73832392a46df304d1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kde-cli-tools-5.92.0.tar.xz">kde-cli-tools-5.92.0</a></td>
   <td align="right">611kB</td>
   <td><tt>063fd56e92ddcadd04bbbeb8e54e511731d4fbf77374128dfd147b3f277718e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kdecoration-5.92.0.tar.xz">kdecoration-5.92.0</a></td>
   <td align="right">53kB</td>
   <td><tt>a9af0b4a78e5f4fee3dcf5fd75160c149324709bce94a6537b92e62cf0c76614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kde-gtk-config-5.92.0.tar.xz">kde-gtk-config-5.92.0</a></td>
   <td align="right">76kB</td>
   <td><tt>d010a06954e4178bfed295301b8eb37f0c4cf0f77e5c3f79781ceb6cea3433d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kdeplasma-addons-5.92.0.tar.xz">kdeplasma-addons-5.92.0</a></td>
   <td align="right">840kB</td>
   <td><tt>544481b4b62c4b20dd9a6a86d6d9a769039d34e531106bde8dc33d5175b65d3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kgamma-5.92.0.tar.xz">kgamma-5.92.0</a></td>
   <td align="right">84kB</td>
   <td><tt>5a517fb136c872a09061959b6b83a4dc6752293e6398da1d49ba2a378d767ecb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kglobalacceld-5.92.0.tar.xz">kglobalacceld-5.92.0</a></td>
   <td align="right">50kB</td>
   <td><tt>feb35c9b4a06bf9079a00d0d180ad170e69133e6a66670c2ce165cd8663224b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kinfocenter-5.92.0.tar.xz">kinfocenter-5.92.0</a></td>
   <td align="right">810kB</td>
   <td><tt>f951eed9e5c80b2199366aed18938f33b3ddc2bf90e61fad4265b2d78778f316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kmenuedit-5.92.0.tar.xz">kmenuedit-5.92.0</a></td>
   <td align="right">908kB</td>
   <td><tt>1775c86d7842558cbba9cca2c85d0c48091f110aa081e1a560c5073b87f8e4c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kpipewire-5.92.0.tar.xz">kpipewire-5.92.0</a></td>
   <td align="right">141kB</td>
   <td><tt>89537ab244584e76dda97857a548b5f6d143383a496c5c4068a0c18b5930483f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kscreen-5.92.0.tar.xz">kscreen-5.92.0</a></td>
   <td align="right">193kB</td>
   <td><tt>3124574331bc3bc78054e21a9745c28213481bd4517c44b0775d5cf2c02a7903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kscreenlocker-5.92.0.tar.xz">kscreenlocker-5.92.0</a></td>
   <td align="right">160kB</td>
   <td><tt>e568840af812976eae4ccc4dc8c42c80dce6950e120dec26ac409d49b380a597</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/ksshaskpass-5.92.0.tar.xz">ksshaskpass-5.92.0</a></td>
   <td align="right">28kB</td>
   <td><tt>844aa7e4c157d9f6dcab265d2a58913d5564f7a260d3bbc96dacb5e1c90f2124</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/ksystemstats-5.92.0.tar.xz">ksystemstats-5.92.0</a></td>
   <td align="right">120kB</td>
   <td><tt>a1eab948b559c221a5d95207da224602bdc1241ffc92991dbe53d00fa2747a29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kwallet-pam-5.92.0.tar.xz">kwallet-pam-5.92.0</a></td>
   <td align="right">22kB</td>
   <td><tt>ab9bdd3e38707139dea786b4c90c0bb75e9cb165a5f06c525c1e3881b6a6edc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kwayland-5.92.0.tar.xz">kwayland-5.92.0</a></td>
   <td align="right">130kB</td>
   <td><tt>d9abb060473127a0d0fbe6a6ab2e12260ae68e72fe6179717cb820a9f9ae273a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kwayland-integration-5.92.0.tar.xz">kwayland-integration-5.92.0</a></td>
   <td align="right">25kB</td>
   <td><tt>33b0ccd6716707cccdfc20595478774acf38d70aa693d3ea9d15c3a09b06e43a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kwin-5.92.0.tar.xz">kwin-5.92.0</a></td>
   <td align="right">7.4MB</td>
   <td><tt>c4a167fe6cc613fa6fd73c3697b1d925c42fdc717531a346e0005ba5aef4c17e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/kwrited-5.92.0.tar.xz">kwrited-5.92.0</a></td>
   <td align="right">23kB</td>
   <td><tt>4cc04b27ac272eaaea1df500ca05f74149c7299378a1edcd536320ce8a5b3675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/layer-shell-qt-5.92.0.tar.xz">layer-shell-qt-5.92.0</a></td>
   <td align="right">19kB</td>
   <td><tt>66fddd39189cca1ea0b13188f976e0cd606079ca9cf81089d276ec316c305af2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/libkscreen-5.92.0.tar.xz">libkscreen-5.92.0</a></td>
   <td align="right">115kB</td>
   <td><tt>a9d5e76b8cfac7d622204b0c3f06670313ed13d156d3f85d5a27defec0cad43c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/libksysguard-5.92.0.tar.xz">libksysguard-5.92.0</a></td>
   <td align="right">875kB</td>
   <td><tt>b0de5bdded7d45a0091222a9761cdb3526390b28766b166ba3fed34dff2bfd5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/libplasma-5.92.0.tar.xz">libplasma-5.92.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>738dcf328e19b02dc25b5ddada675b5240d944302f0c5110126f33187879b9d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/milou-5.92.0.tar.xz">milou-5.92.0</a></td>
   <td align="right">48kB</td>
   <td><tt>91a6af4612b7031de7e839ab5e3697105d575ea00e7b83e2c7c43aba43a58d41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/ocean-sound-theme-5.92.0.tar.xz">ocean-sound-theme-5.92.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8809fc04b539cac514b8aa9dbf1a91da1b828bfc60e6c12d401c355848d3f87f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/oxygen-5.92.0.tar.xz">oxygen-5.92.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>2ec0185f363cd7096e8c7d12e52d4afe1b6007c66ed47508beb1b3fab24f57d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/oxygen-sounds-5.92.0.tar.xz">oxygen-sounds-5.92.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c4155f623e9a4377967f84d6584653829579cd05447346c63c970373dcabdc4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma5support-5.92.0.tar.xz">plasma5support-5.92.0</a></td>
   <td align="right">54kB</td>
   <td><tt>77fd65179268738a31ebfa0d9f7289197bf3970e7d0ec213032950420f998e7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-activities-5.92.0.tar.xz">plasma-activities-5.92.0</a></td>
   <td align="right">69kB</td>
   <td><tt>2ac1e844f8e840a8b77e3323c4badcf8ed5997633d6cc12812d157bb50fe77c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-activities-stats-5.92.0.tar.xz">plasma-activities-stats-5.92.0</a></td>
   <td align="right">81kB</td>
   <td><tt>c66c65815891436edb5b1dbfd566c1e5dd3ee4f408a7a89569f4ca9279c07a12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-browser-integration-5.92.0.tar.xz">plasma-browser-integration-5.92.0</a></td>
   <td align="right">213kB</td>
   <td><tt>2caa2e890957f4438c2f2a48d21013066acf3eb9640495b0835f9a314a704d34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-desktop-5.92.0.tar.xz">plasma-desktop-5.92.0</a></td>
   <td align="right">14MB</td>
   <td><tt>4df4a24a6acd8962b5377685dfb4dae668a6e4c50a353f6ee84cf4ee1d96e823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-disks-5.92.0.tar.xz">plasma-disks-5.92.0</a></td>
   <td align="right">97kB</td>
   <td><tt>30dab1946c0ba9326a7ea9c9c41c77b1f7d752a3b44e9f10ecc5c9584808573d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-firewall-5.92.0.tar.xz">plasma-firewall-5.92.0</a></td>
   <td align="right">359kB</td>
   <td><tt>ed824abbd739c358293f223beb83397d104d674084c35ea12358cc0aca0b76b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-integration-5.92.0.tar.xz">plasma-integration-5.92.0</a></td>
   <td align="right">90kB</td>
   <td><tt>dbce852c746d2e2443ddaccc3066959fb206923e4d6b61caf4a50950c6853453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-mobile-5.92.0.tar.xz">plasma-mobile-5.92.0</a></td>
   <td align="right">7.3MB</td>
   <td><tt>2260e779ec274a8147d63021369532bc277fdcee7c65b86d75804b48996764e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-nano-5.92.0.tar.xz">plasma-nano-5.92.0</a></td>
   <td align="right">74kB</td>
   <td><tt>9d536700df8f1660a40609812144b9980fb423d846e42a77dd60dd8bf2e2049a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-nm-5.92.0.tar.xz">plasma-nm-5.92.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8399b2ec9d59b105e650ff15a85d0fd3c71414c0bb839d582fcee7e105dbaae4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-pa-5.92.0.tar.xz">plasma-pa-5.92.0</a></td>
   <td align="right">166kB</td>
   <td><tt>8c65a2f384f6948712e13560f6bccf8906a7d210e61a19580d660d7b5c5edecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-sdk-5.92.0.tar.xz">plasma-sdk-5.92.0</a></td>
   <td align="right">318kB</td>
   <td><tt>105060b3d72b35338eceecca0b974411ebba138b1d487554d2284a9ee6d783cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-systemmonitor-5.92.0.tar.xz">plasma-systemmonitor-5.92.0</a></td>
   <td align="right">176kB</td>
   <td><tt>2a38ed3e2497cdd1d2832c8fe09a4663a2b85ec48beb2024be55562882f7af4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-thunderbolt-5.92.0.tar.xz">plasma-thunderbolt-5.92.0</a></td>
   <td align="right">72kB</td>
   <td><tt>939a6b6c5835cac1580d8e120af4c67693ca1e046dc55c14e43c2af227fff483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-vault-5.92.0.tar.xz">plasma-vault-5.92.0</a></td>
   <td align="right">187kB</td>
   <td><tt>25df0604f2dca6050606989f240933f051fe9e9d6c31ba8208a8f1debff2afff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-welcome-5.92.0.tar.xz">plasma-welcome-5.92.0</a></td>
   <td align="right">878kB</td>
   <td><tt>013caf2aaddc11a7991b1d3f8f7d96b26adc00d006690d0db8858a1d8fe7daa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-workspace-5.92.0.tar.xz">plasma-workspace-5.92.0</a></td>
   <td align="right">18MB</td>
   <td><tt>bbe200ff10d5dafb274204da5e6e57db2b012364a1abd32f1e1da23b76cd6b94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plasma-workspace-wallpapers-5.92.0.tar.xz">plasma-workspace-wallpapers-5.92.0</a></td>
   <td align="right">89MB</td>
   <td><tt>1682c98ec1c03e209fb79329885dbcdb0e7fc5a38d1be8776ad654b422528cf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/plymouth-kcm-5.92.0.tar.xz">plymouth-kcm-5.92.0</a></td>
   <td align="right">45kB</td>
   <td><tt>56d1fb89bdb919e616645b28b7f8d7e6cd1e44c77909e292c1fed06cc12cd83e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/polkit-kde-agent-1-5.92.0.tar.xz">polkit-kde-agent-1-5.92.0</a></td>
   <td align="right">52kB</td>
   <td><tt>1f36ee9b7ac2e766fa31182b6a2ac0e13f9aa8fbe5fceae7ab5aa39604b4f056</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/powerdevil-5.92.0.tar.xz">powerdevil-5.92.0</a></td>
   <td align="right">771kB</td>
   <td><tt>ff7d88fd0af4505e9fcd0ad40560fb5ff21ae07bb25f4e1f14a05f816b075941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/print-manager-5.92.0.tar.xz">print-manager-5.92.0</a></td>
   <td align="right">325kB</td>
   <td><tt>32113b93eb29f3a324903bffa8fe8b64acd34a7c3f2ae5d6fb5300770a4b0345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/qqc2-breeze-style-5.92.0.tar.xz">qqc2-breeze-style-5.92.0</a></td>
   <td align="right">64kB</td>
   <td><tt>d1f99b9fd5da2f0e792c22727b4d5ddd4c8fd369f170316a26144ab07b8e3636</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/sddm-kcm-5.92.0.tar.xz">sddm-kcm-5.92.0</a></td>
   <td align="right">94kB</td>
   <td><tt>cafef607edc7746a13b6a9fd21a4af0162035dc8cdfa6d03837c6f9847a5c967</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/systemsettings-5.92.0.tar.xz">systemsettings-5.92.0</a></td>
   <td align="right">213kB</td>
   <td><tt>813e189ab51084fa848bc1eeb15ceae698bd758c2b4665804a6100ed082d328e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/wacomtablet-5.92.0.tar.xz">wacomtablet-5.92.0</a></td>
   <td align="right">805kB</td>
   <td><tt>5963692648b68c2b319db113988e00a7cd0b2b86bcb40f70c21b9e12b6600429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.92.0/xdg-desktop-portal-kde-5.92.0.tar.xz">xdg-desktop-portal-kde-5.92.0</a></td>
   <td align="right">158kB</td>
   <td><tt>cc013353880bff3f583d80427a18539bd76dac06a1359b36ba0546cf7e1205c8</tt></td>
</tr>

</table>
