<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/bluedevil-5.11.0.tar.xz">bluedevil-5.11.0</a></td>
   <td align="right">143kB</td>
   <td><tt>7cd235b185e1cb7117f1906804553f0e8c7351c762db3c4b811d06fc92e598cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/breeze-5.11.0.tar.xz">breeze-5.11.0</a></td>
   <td align="right">21MB</td>
   <td><tt>d46449e0845f46e5e4ba6a7e0976701e08c16c271e3bfd189a2c56d7e9370180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/breeze-grub-5.11.0.tar.xz">breeze-grub-5.11.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>18c574d19e4ee89055d20bb001a3a2ac6a217f35cfcb0f8151c6c836b7ecd19b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/breeze-gtk-5.11.0.tar.xz">breeze-gtk-5.11.0</a></td>
   <td align="right">206kB</td>
   <td><tt>b6352b3fe01af79a0ab097668fa34bda1513c9f1a09bbae04ff6fc813c44f83e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/breeze-plymouth-5.11.0.tar.xz">breeze-plymouth-5.11.0</a></td>
   <td align="right">102kB</td>
   <td><tt>3495dc35f8be64d908ea70ce5b9d43cbba159b060eef3a971267d39b63b08c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/discover-5.11.0.tar.xz">discover-5.11.0</a></td>
   <td align="right">9.7MB</td>
   <td><tt>5f62347bba692e9885fc8e5d16ea2cc94d1c1c8e848022fdb31178a046320bd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/drkonqi-5.11.0.tar.xz">drkonqi-5.11.0</a></td>
   <td align="right">720kB</td>
   <td><tt>5b0b19acbcaa614ba0fb6969ac95be7dfa3240aaa6b2ed9c7216cc7fc14dd7ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/kactivitymanagerd-5.11.0.tar.xz">kactivitymanagerd-5.11.0</a></td>
   <td align="right">82kB</td>
   <td><tt>f46ed3b659432cc261e72c77d8e3614ddc46a439272a255b1ac1479fc3e62657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/kde-cli-tools-5.11.0.tar.xz">kde-cli-tools-5.11.0</a></td>
   <td align="right">557kB</td>
   <td><tt>cd76a45f407520c81a21b1f5bc2100c1ddadcdbf2e2dbb8b073069778055a17b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/kdecoration-5.11.0.tar.xz">kdecoration-5.11.0</a></td>
   <td align="right">34kB</td>
   <td><tt>2e6453445a7695c598005110ecedb58a50a9fd8fafcdbd3ba7bf2350210d0399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/kde-gtk-config-5.11.0.tar.xz">kde-gtk-config-5.11.0</a></td>
   <td align="right">149kB</td>
   <td><tt>dc999a35bc72ec6909d3db5402feb0bba01c54521f8717a3838b03a9e86ec10c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/kdeplasma-addons-5.11.0.tar.xz">kdeplasma-addons-5.11.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d4ee021086d77794a20c8a08238bc83e46ca1a2c4126b5bd32b0e43cfb7f0dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/kgamma5-5.11.0.tar.xz">kgamma5-5.11.0</a></td>
   <td align="right">58kB</td>
   <td><tt>ee92121dcb1b2ea4730b7ff917e14c252a11486dffc545bb817b35d8f4a71d2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/khotkeys-5.11.0.tar.xz">khotkeys-5.11.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>16cd090c27828196bfd3768b09200cd7ce09964c1b9cfa8d777c6f84bd5088f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/kinfocenter-5.11.0.tar.xz">kinfocenter-5.11.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>a4aee1158ead6d9c5873db4d245fc9bf9522f72e73983d3bde1bbbc9bce51c87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/kmenuedit-5.11.0.tar.xz">kmenuedit-5.11.0</a></td>
   <td align="right">637kB</td>
   <td><tt>0fe821472215853567a507fbfb8b050a86d4920f96e52fec2f1b7ea2c680e443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/kscreen-5.11.0.tar.xz">kscreen-5.11.0</a></td>
   <td align="right">114kB</td>
   <td><tt>f1124d51195e9af80968d4a64a9e6297a3d572c2666cc753701b9e838a13d664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/kscreenlocker-5.11.0.tar.xz">kscreenlocker-5.11.0</a></td>
   <td align="right">115kB</td>
   <td><tt>a15fc61c390cc463c51064757cf28b3ad9dbfeebda59e737980b7ff0db3dd2f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/ksshaskpass-5.11.0.tar.xz">ksshaskpass-5.11.0</a></td>
   <td align="right">20kB</td>
   <td><tt>e01a97c937e275db5695b1ab0066cdb8bfda5dbe2a03222a9561ab25ffdeccda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/ksysguard-5.11.0.tar.xz">ksysguard-5.11.0</a></td>
   <td align="right">476kB</td>
   <td><tt>f2f465d7310910774bb7ce2dd21ee17261f2768faffc448046b9d2f7484a737a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/kwallet-pam-5.11.0.tar.xz">kwallet-pam-5.11.0</a></td>
   <td align="right">18kB</td>
   <td><tt>f278b63606168bbfd97658834b59a88465549ffb52607bce73449005a3fb62eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/kwayland-integration-5.11.0.tar.xz">kwayland-integration-5.11.0</a></td>
   <td align="right">18kB</td>
   <td><tt>c218e8f58bbac918419ddb932907eacb361a468e45ad5f283af488aa27770fef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/kwin-5.11.0.tar.xz">kwin-5.11.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>fa1b12470f639858ce3d07b820c8336c643f52bcea71fca06f9191d97e1def05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/kwrited-5.11.0.tar.xz">kwrited-5.11.0</a></td>
   <td align="right">19kB</td>
   <td><tt>3df2bb652a3b80cea31f1c89c01b710698afee3ba4d5f10b29b9a6122a30ebd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/libkscreen-5.11.0.tar.xz">libkscreen-5.11.0</a></td>
   <td align="right">91kB</td>
   <td><tt>24b3cb175922cbec2f5b97b249f2beabd365e0726eca5f67f588038aa0748604</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/libksysguard-5.11.0.tar.xz">libksysguard-5.11.0</a></td>
   <td align="right">553kB</td>
   <td><tt>127d15ec9e476dc19f2855f2b41148336f30f46be6e1e533311e4202bfd5c728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/milou-5.11.0.tar.xz">milou-5.11.0</a></td>
   <td align="right">55kB</td>
   <td><tt>d3f690fe4cfeab3cc8e58e663f1834c6e69b417baf5c0a152a4fd610de8b2399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/oxygen-5.11.0.tar.xz">oxygen-5.11.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>205680de697e327096cce06a3895276f0019121ac6018add4da1be95b1779319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/plasma-desktop-5.11.0.tar.xz">plasma-desktop-5.11.0</a></td>
   <td align="right">7.9MB</td>
   <td><tt>6696dd44045ed8e4940eda19a7f04077346792da90cd31b26f3e1bc5640546ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/plasma-integration-5.11.0.tar.xz">plasma-integration-5.11.0</a></td>
   <td align="right">51kB</td>
   <td><tt>e010989088feefe26240036edbe423be0e16622b402720c26a0d3d0c4ade32c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/plasma-nm-5.11.0.tar.xz">plasma-nm-5.11.0</a></td>
   <td align="right">678kB</td>
   <td><tt>0ebb19efc386305f3f83563d55cf776799e1a0546d0f5532681714edfbe4a3ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/plasma-pa-5.11.0.tar.xz">plasma-pa-5.11.0</a></td>
   <td align="right">81kB</td>
   <td><tt>e43bacb6729e90bdf1d6f8438a530d84f6c47d08ecc3a1cac6d96e56c6274aa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/plasma-sdk-5.11.0.tar.xz">plasma-sdk-5.11.0</a></td>
   <td align="right">242kB</td>
   <td><tt>267e40ed8ab2a846a19a571daf4556462579783e37380309d0c259f2afd5d8f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/plasma-tests-5.11.0.tar.xz">plasma-tests-5.11.0</a></td>
   <td align="right">1kB</td>
   <td><tt>f14bbb2a80d7acf80e7ecb30cd1c126e5a083034f2059d814d4a1f813fcee456</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/plasma-vault-5.11.0.tar.xz">plasma-vault-5.11.0</a></td>
   <td align="right">87kB</td>
   <td><tt>94bbf5ae8028fea22994ddb0aa71cb2a29e559b98b050a926fb554efe4d979c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/plasma-workspace-5.11.0.tar.xz">plasma-workspace-5.11.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>7c043d05a12cdb1d31b3e47bb3c8bdb312ea4889cdf5d069dcf3f18d729becd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/plasma-workspace-wallpapers-5.11.0.tar.xz">plasma-workspace-wallpapers-5.11.0</a></td>
   <td align="right">43MB</td>
   <td><tt>59f612bd830a791597e60b2daa2f1eeea3ea089accd4ab736663dbf73cebf3f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/plymouth-kcm-5.11.0.tar.xz">plymouth-kcm-5.11.0</a></td>
   <td align="right">34kB</td>
   <td><tt>83c05f79b00c3b4adea70f02cccf95b11088efbf2ea3c267d089b41ca0c51dc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/polkit-kde-agent-1-5.11.0.tar.xz">polkit-kde-agent-1-5.11.0</a></td>
   <td align="right">40kB</td>
   <td><tt>201709f981c7e1efcba0c7d0809bd1df4134493b7ab68c8f878e320ee6ac3ee6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/powerdevil-5.11.0.tar.xz">powerdevil-5.11.0</a></td>
   <td align="right">370kB</td>
   <td><tt>53e097366d42c6c45c0ade76aadd44dffc1a4a209a07a34fa7547ad2adce5fd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/sddm-kcm-5.11.0.tar.xz">sddm-kcm-5.11.0</a></td>
   <td align="right">58kB</td>
   <td><tt>5fb82454015e874c0f7abc575c4980dd657cb82cd11da176015ec30850d1bdee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/systemsettings-5.11.0.tar.xz">systemsettings-5.11.0</a></td>
   <td align="right">166kB</td>
   <td><tt>2b7878c16d30ffb7915e9db58eedb18e5460659f668ab3945afdd675894cacf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/user-manager-5.11.0.tar.xz">user-manager-5.11.0</a></td>
   <td align="right">532kB</td>
   <td><tt>b1c9222f811cdbd2e2267235b49d5947e8761ae02453171ac927c25a46498b86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.0/xdg-desktop-portal-kde-5.11.0.tar.xz">xdg-desktop-portal-kde-5.11.0</a></td>
   <td align="right">29kB</td>
   <td><tt>6000ffb0e7c83b291d09c604e1d057ff58fb854a90548973c057d9d248303179</tt></td>
</tr>

</table>
