
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/attica-5.13.0.tar.xz">attica-5.13.0</a></td>
   <td align="right">59kB</td>
   <td><tt>1f11f7e673be1de20af141b2bdb526bb5178a654</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/baloo-5.13.0.tar.xz">baloo-5.13.0</a></td>
   <td align="right">142kB</td>
   <td><tt>6f2c689ab3e6d3550163bd26f3d510054dd6e9ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/bluez-qt-5.13.0.tar.xz">bluez-qt-5.13.0</a></td>
   <td align="right">71kB</td>
   <td><tt>736af3076b2b6cb9c8dc13fc91eceb96bdbfb692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/extra-cmake-modules-5.13.0.tar.xz">extra-cmake-modules-5.13.0</a></td>
   <td align="right">129kB</td>
   <td><tt>9e96bbcf249b1dcf3cfd21c112791404fcf359d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/frameworkintegration-5.13.0.tar.xz">frameworkintegration-5.13.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2f55823125052d4fcad139f536614fb48edd8d53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kactivities-5.13.0.tar.xz">kactivities-5.13.0</a></td>
   <td align="right">162kB</td>
   <td><tt>87a8af062d620105d97253c38a78bea9d942bf35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kapidox-5.13.0.tar.xz">kapidox-5.13.0</a></td>
   <td align="right">129kB</td>
   <td><tt>ecdad9dace0ed3cf7d3b5fe63107654332bf4b1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/karchive-5.13.0.tar.xz">karchive-5.13.0</a></td>
   <td align="right">105kB</td>
   <td><tt>0c09c97bfd1c86f311387171a256537a45d1eb8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kauth-5.13.0.tar.xz">kauth-5.13.0</a></td>
   <td align="right">80kB</td>
   <td><tt>7e0c8aa0ea1a53c05a5b6f6b25b4495a99580abb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kbookmarks-5.13.0.tar.xz">kbookmarks-5.13.0</a></td>
   <td align="right">112kB</td>
   <td><tt>a304d7c69b4709b449f8840392141a5b6ded4169</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kcmutils-5.13.0.tar.xz">kcmutils-5.13.0</a></td>
   <td align="right">229kB</td>
   <td><tt>a6f4607cbc0cecafa589e92c53a53832c06b7993</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kcodecs-5.13.0.tar.xz">kcodecs-5.13.0</a></td>
   <td align="right">211kB</td>
   <td><tt>dda9586ea511b583c675bb3c6f6b8281e2a3bd0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kcompletion-5.13.0.tar.xz">kcompletion-5.13.0</a></td>
   <td align="right">113kB</td>
   <td><tt>8a38fef2223bb04c0a5912804ef116044ffaf6a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kconfig-5.13.0.tar.xz">kconfig-5.13.0</a></td>
   <td align="right">215kB</td>
   <td><tt>b0a0f75cbfaca57e7246048a7b31ff6b21223d7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kconfigwidgets-5.13.0.tar.xz">kconfigwidgets-5.13.0</a></td>
   <td align="right">350kB</td>
   <td><tt>aa3fa230808f750024b6ec2d2fad1d3cc36e0279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kcoreaddons-5.13.0.tar.xz">kcoreaddons-5.13.0</a></td>
   <td align="right">295kB</td>
   <td><tt>13cd56f4cb4bfed0198b67ea6d35077e8cf75a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kcrash-5.13.0.tar.xz">kcrash-5.13.0</a></td>
   <td align="right">19kB</td>
   <td><tt>c7395075b23323d1a4caa88e2b7517084893a77f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kdbusaddons-5.13.0.tar.xz">kdbusaddons-5.13.0</a></td>
   <td align="right">32kB</td>
   <td><tt>2a8085226ca6344a71aa92917fd5cc9ac97f9823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kdeclarative-5.13.0.tar.xz">kdeclarative-5.13.0</a></td>
   <td align="right">160kB</td>
   <td><tt>c61fd5f66e4209f731f48fb087827d143db9796a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kded-5.13.0.tar.xz">kded-5.13.0</a></td>
   <td align="right">35kB</td>
   <td><tt>1cba8760bfdf7faa740f0bf0ed3b3a2ce3f1258a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kdesignerplugin-5.13.0.tar.xz">kdesignerplugin-5.13.0</a></td>
   <td align="right">84kB</td>
   <td><tt>679e562469e14ec3d234966bdf12cfa87333b62e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kdesu-5.13.0.tar.xz">kdesu-5.13.0</a></td>
   <td align="right">42kB</td>
   <td><tt>c1917a0a4ef4e259960a08c392f108c4bc06fc8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kdewebkit-5.13.0.tar.xz">kdewebkit-5.13.0</a></td>
   <td align="right">28kB</td>
   <td><tt>2d4a3a57064502432813a0c2df027c6041116a9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kdnssd-5.13.0.tar.xz">kdnssd-5.13.0</a></td>
   <td align="right">55kB</td>
   <td><tt>29a46bdc3940c2248b8cfcb2931746e4c6baaf82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kdoctools-5.13.0.tar.xz">kdoctools-5.13.0</a></td>
   <td align="right">398kB</td>
   <td><tt>9392c112588f2f19df0147d3b64319da9e2c9ef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kemoticons-5.13.0.tar.xz">kemoticons-5.13.0</a></td>
   <td align="right">92kB</td>
   <td><tt>a8057148992a660f295a0f82835c55821c46549d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kfilemetadata-5.13.0.tar.xz">kfilemetadata-5.13.0</a></td>
   <td align="right">118kB</td>
   <td><tt>29ec6733d6f8e5441bff7b886efcc880696c5137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kglobalaccel-5.13.0.tar.xz">kglobalaccel-5.13.0</a></td>
   <td align="right">79kB</td>
   <td><tt>41ee0ebb96f55a03cf010fb452046aeb8b91ca77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kguiaddons-5.13.0.tar.xz">kguiaddons-5.13.0</a></td>
   <td align="right">38kB</td>
   <td><tt>320cf4efdef5833a32dfb8f440b4983c2670a828</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/ki18n-5.13.0.tar.xz">ki18n-5.13.0</a></td>
   <td align="right">579kB</td>
   <td><tt>872090c46054521bb99150cd72bf4f869e47eac5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kiconthemes-5.13.0.tar.xz">kiconthemes-5.13.0</a></td>
   <td align="right">190kB</td>
   <td><tt>031dd5f363cdd15afd37c978892dfc8fb14a698d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kidletime-5.13.0.tar.xz">kidletime-5.13.0</a></td>
   <td align="right">25kB</td>
   <td><tt>093279519306c2ca135b17d0c32ab5be5232524a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kimageformats-5.13.0.tar.xz">kimageformats-5.13.0</a></td>
   <td align="right">91kB</td>
   <td><tt>2bf06bc1d315d5775eac58d66cc8d6f7ffef63ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kinit-5.13.0.tar.xz">kinit-5.13.0</a></td>
   <td align="right">114kB</td>
   <td><tt>4bdf11e4f413ac1cd1dea0d19e12228b25105c3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kio-5.13.0.tar.xz">kio-5.13.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>eb2caaef92fb4b420a85dc174feafc76c7df293c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kitemmodels-5.13.0.tar.xz">kitemmodels-5.13.0</a></td>
   <td align="right">371kB</td>
   <td><tt>2e0d6527a14047e183ca1a7223794411b3106c22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kitemviews-5.13.0.tar.xz">kitemviews-5.13.0</a></td>
   <td align="right">72kB</td>
   <td><tt>3cbb8d0199c7e2010e2a6c03aa3285ada4783515</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kjobwidgets-5.13.0.tar.xz">kjobwidgets-5.13.0</a></td>
   <td align="right">86kB</td>
   <td><tt>04ba35e0f05efd0df37bf17a453bcf3fb93db245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/knewstuff-5.13.0.tar.xz">knewstuff-5.13.0</a></td>
   <td align="right">832kB</td>
   <td><tt>377f63108202d50d8d3d2d20a04269561b7b59da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/knotifications-5.13.0.tar.xz">knotifications-5.13.0</a></td>
   <td align="right">90kB</td>
   <td><tt>0d0f414546be09e352d627abfb7edb6ab44bd310</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/knotifyconfig-5.13.0.tar.xz">knotifyconfig-5.13.0</a></td>
   <td align="right">80kB</td>
   <td><tt>4fbe4de7b86721bbb657c4c75acc0dfb9fb67dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kpackage-5.13.0.tar.xz">kpackage-5.13.0</a></td>
   <td align="right">95kB</td>
   <td><tt>a42d436e38bf3bbfa29bcef51df1d63028c232de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kparts-5.13.0.tar.xz">kparts-5.13.0</a></td>
   <td align="right">150kB</td>
   <td><tt>a1b41e511f700a263f7d362deb6704b5c2572c27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kpeople-5.13.0.tar.xz">kpeople-5.13.0</a></td>
   <td align="right">56kB</td>
   <td><tt>cb24df49524fa369e75f6011fa705699d0f5e918</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kplotting-5.13.0.tar.xz">kplotting-5.13.0</a></td>
   <td align="right">28kB</td>
   <td><tt>7bfe006d6cbfe050922a89861d0380f7b46999cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kpty-5.13.0.tar.xz">kpty-5.13.0</a></td>
   <td align="right">55kB</td>
   <td><tt>0f1eb30251ebd1e32c8fe9f6d56a92abbc68d7a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kservice-5.13.0.tar.xz">kservice-5.13.0</a></td>
   <td align="right">259kB</td>
   <td><tt>7a8e850dcc9e2122279066a8c8765602ebcd8fba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/ktexteditor-5.13.0.tar.xz">ktexteditor-5.13.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>b6fc7e34248b6b680d206a7ad0b4918b7bf8455c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/ktextwidgets-5.13.0.tar.xz">ktextwidgets-5.13.0</a></td>
   <td align="right">298kB</td>
   <td><tt>a7b5d1dfe64c078229f26c42c91e14cec20f8e3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kunitconversion-5.13.0.tar.xz">kunitconversion-5.13.0</a></td>
   <td align="right">605kB</td>
   <td><tt>7be3e7cacdffc1ab8b39debb69e5e2398540b446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kwallet-5.13.0.tar.xz">kwallet-5.13.0</a></td>
   <td align="right">276kB</td>
   <td><tt>f25f6b96ae3d7d796af6bc29e1712f4d78f833aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kwidgetsaddons-5.13.0.tar.xz">kwidgetsaddons-5.13.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>df01da9920a4f7e062dcb0ec41ff9ff5ac9c8561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kwindowsystem-5.13.0.tar.xz">kwindowsystem-5.13.0</a></td>
   <td align="right">159kB</td>
   <td><tt>6325e1172aba5b8865b43ff83d9655956f66b57a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kxmlgui-5.13.0.tar.xz">kxmlgui-5.13.0</a></td>
   <td align="right">842kB</td>
   <td><tt>119c8884f52926dd874f0160690ee3a366a6493a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/kxmlrpcclient-5.13.0.tar.xz">kxmlrpcclient-5.13.0</a></td>
   <td align="right">27kB</td>
   <td><tt>7bd8ab8268ae0cfea6ef06b17bc21167016728cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/modemmanager-qt-5.13.0.tar.xz">modemmanager-qt-5.13.0</a></td>
   <td align="right">96kB</td>
   <td><tt>b30a770b03b2efcf94aa3e7fae44d6b34d7d23aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/networkmanager-qt-5.13.0.tar.xz">networkmanager-qt-5.13.0</a></td>
   <td align="right">149kB</td>
   <td><tt>e6c0d15052b4d3ac11a4aa5a2431e4d153750344</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/plasma-framework-5.13.0.tar.xz">plasma-framework-5.13.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>497e7f9496492cbf627f1de9bdf01325986cbfaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/solid-5.13.0.tar.xz">solid-5.13.0</a></td>
   <td align="right">259kB</td>
   <td><tt>abe665254d15900512d8a87c6198f427e4d79913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/sonnet-5.13.0.tar.xz">sonnet-5.13.0</a></td>
   <td align="right">270kB</td>
   <td><tt>cdb1c05e6ceeef339e657bd39776e06100dac3bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.13/threadweaver-5.13.0.tar.xz">threadweaver-5.13.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>876eb418aeed49dbbd10bdff1f293b51b500e8e6</tt></td>
</tr>

</table>
