<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/akonadi-21.12.3.tar.xz">akonadi-21.12.3</a></td>
   <td align="right">1573kB</td>
   <td><tt>e650d786cf0abecf1913668d320484665008ff60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/akonadi-calendar-21.12.3.tar.xz">akonadi-calendar-21.12.3</a></td>
   <td align="right">344kB</td>
   <td><tt>052c744c1387fc591bee5d470fc2d94a5e74a127</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/akonadi-calendar-tools-21.12.3.tar.xz">akonadi-calendar-tools-21.12.3</a></td>
   <td align="right">230kB</td>
   <td><tt>a35d866a1e171b2882545df57b9a79ec9fb2ee9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/akonadiconsole-21.12.3.tar.xz">akonadiconsole-21.12.3</a></td>
   <td align="right">195kB</td>
   <td><tt>02c85cfdcfe944b07af81e8c8ed37ee5012f1a41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/akonadi-contacts-21.12.3.tar.xz">akonadi-contacts-21.12.3</a></td>
   <td align="right">415kB</td>
   <td><tt>caf9d2322da59ea57797032f2492fd700d7404d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/akonadi-import-wizard-21.12.3.tar.xz">akonadi-import-wizard-21.12.3</a></td>
   <td align="right">498kB</td>
   <td><tt>ad0668b51b753a4b2922aa664f1f03af069a4fba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/akonadi-mime-21.12.3.tar.xz">akonadi-mime-21.12.3</a></td>
   <td align="right">138kB</td>
   <td><tt>9ffe8ce1217917684913ef5ca823aad777b619d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/akonadi-notes-21.12.3.tar.xz">akonadi-notes-21.12.3</a></td>
   <td align="right">25kB</td>
   <td><tt>369c17280158b0bf226681dfba6d0e5763ebb3b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/akonadi-search-21.12.3.tar.xz">akonadi-search-21.12.3</a></td>
   <td align="right">95kB</td>
   <td><tt>2a82c93c5d872e681b86b010d4b7716712dc730d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/akregator-21.12.3.tar.xz">akregator-21.12.3</a></td>
   <td align="right">2206kB</td>
   <td><tt>b4bef3b73616451292aeeef86a88bdbf4ee2ebc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/analitza-21.12.3.tar.xz">analitza-21.12.3</a></td>
   <td align="right">339kB</td>
   <td><tt>27f1d12f802bcf9dbfc5758bb074c39bf40f0284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ark-21.12.3.tar.xz">ark-21.12.3</a></td>
   <td align="right">2708kB</td>
   <td><tt>411bc35941d202bf62e4191027b60639ea7b57cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/artikulate-21.12.3.tar.xz">artikulate-21.12.3</a></td>
   <td align="right">1065kB</td>
   <td><tt>fedd8fd962f31311f40f531e517b0345565dcbbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/audiocd-kio-21.12.3.tar.xz">audiocd-kio-21.12.3</a></td>
   <td align="right">510kB</td>
   <td><tt>4891cb1e7f97499a89135c05effb91ae61b24e16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/baloo-widgets-21.12.3.tar.xz">baloo-widgets-21.12.3</a></td>
   <td align="right">255kB</td>
   <td><tt>3029ac4146717e5b84170ffcc9303392fcd82020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/blinken-21.12.3.tar.xz">blinken-21.12.3</a></td>
   <td align="right">2650kB</td>
   <td><tt>45ccbbed5b0ba86fc537f5fa84ab415461080b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/bomber-21.12.3.tar.xz">bomber-21.12.3</a></td>
   <td align="right">811kB</td>
   <td><tt>0d7e9a7f36d335fb15ffe4c7b84c8cfb641e779d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/bovo-21.12.3.tar.xz">bovo-21.12.3</a></td>
   <td align="right">204kB</td>
   <td><tt>89f46be1e86b552f99c4799ab121f8f4858f59a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/calendarsupport-21.12.3.tar.xz">calendarsupport-21.12.3</a></td>
   <td align="right">746kB</td>
   <td><tt>e9724374db14d4f3273521827a70507e929fef57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/cantor-21.12.3.tar.xz">cantor-21.12.3</a></td>
   <td align="right">8971kB</td>
   <td><tt>a214c45d9990bb3ed612c05c5b18d2308d59d4d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/cervisia-21.12.3.tar.xz">cervisia-21.12.3</a></td>
   <td align="right">1867kB</td>
   <td><tt>8931540b9c52e364ecdb4cd7228fdaeba28fbe5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/dolphin-21.12.3.tar.xz">dolphin-21.12.3</a></td>
   <td align="right">5220kB</td>
   <td><tt>4dee89fb83724a7e79e0dbb29aef9d0d15f2f7e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/dolphin-plugins-21.12.3.tar.xz">dolphin-plugins-21.12.3</a></td>
   <td align="right">248kB</td>
   <td><tt>29e1b46efc6fda4ff0a0a0c553cff8ca9545977e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/dragon-21.12.3.tar.xz">dragon-21.12.3</a></td>
   <td align="right">1626kB</td>
   <td><tt>08fca3a3ace9b951b39b051aa9b9e93a3c85ab65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/elisa-21.12.3.tar.xz">elisa-21.12.3</a></td>
   <td align="right">1707kB</td>
   <td><tt>e487780154f8c5323736702259a83056e8e49f0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/eventviews-21.12.3.tar.xz">eventviews-21.12.3</a></td>
   <td align="right">444kB</td>
   <td><tt>7b946df072653bd2c4e0baf26e04ef8097cd46c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ffmpegthumbs-21.12.3.tar.xz">ffmpegthumbs-21.12.3</a></td>
   <td align="right">29kB</td>
   <td><tt>4b4521439e51ae357e6092e26d7647d15a042863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/filelight-21.12.3.tar.xz">filelight-21.12.3</a></td>
   <td align="right">668kB</td>
   <td><tt>8320fb80782358c4540f3b45d9ebb2b13c0148f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/granatier-21.12.3.tar.xz">granatier-21.12.3</a></td>
   <td align="right">2052kB</td>
   <td><tt>2f362bb9e6380e4810d25f407bc723532e9e1a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/grantlee-editor-21.12.3.tar.xz">grantlee-editor-21.12.3</a></td>
   <td align="right">108kB</td>
   <td><tt>f3c05e7ae4ff26fd9fef43b63cfd117fee091011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/grantleetheme-21.12.3.tar.xz">grantleetheme-21.12.3</a></td>
   <td align="right">58kB</td>
   <td><tt>3a4302a616819b219f673173dfd06597f05a444b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/gwenview-21.12.3.tar.xz">gwenview-21.12.3</a></td>
   <td align="right">6642kB</td>
   <td><tt>26f552dba26ccf2a3616ef434b204cd6aaa023b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/incidenceeditor-21.12.3.tar.xz">incidenceeditor-21.12.3</a></td>
   <td align="right">533kB</td>
   <td><tt>261f13c787b39408ae5094abd26b0c2ff84f0054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/itinerary-21.12.3.tar.xz">itinerary-21.12.3</a></td>
   <td align="right">463kB</td>
   <td><tt>80c992cda42787573e807eef69ed2086e0350e1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/juk-21.12.3.tar.xz">juk-21.12.3</a></td>
   <td align="right">1966kB</td>
   <td><tt>81f3ae56f591857d4a658ac311bdcb7238682d4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/k3b-21.12.3.tar.xz">k3b-21.12.3</a></td>
   <td align="right">10498kB</td>
   <td><tt>856f9ecb625b8123d49644f0afdd6d115d3f888d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kaccounts-integration-21.12.3.tar.xz">kaccounts-integration-21.12.3</a></td>
   <td align="right">85kB</td>
   <td><tt>d234facfafcbd6361eee2c6e48a501b90732afde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kaccounts-providers-21.12.3.tar.xz">kaccounts-providers-21.12.3</a></td>
   <td align="right">62kB</td>
   <td><tt>331c912a7e776d2c2ec83ba2348ec7ac86b1901a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kaddressbook-21.12.3.tar.xz">kaddressbook-21.12.3</a></td>
   <td align="right">3247kB</td>
   <td><tt>7aad8289982b0e3196b99e63bcbef62386db4660</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kajongg-21.12.3.tar.xz">kajongg-21.12.3</a></td>
   <td align="right">4453kB</td>
   <td><tt>a4f07d9d9113b64d01dcb95571628910861210d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kalarm-21.12.3.tar.xz">kalarm-21.12.3</a></td>
   <td align="right">2145kB</td>
   <td><tt>b9d4273c846b117ec6ae5bfa834980960ba3d71c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kalarmcal-21.12.3.tar.xz">kalarmcal-21.12.3</a></td>
   <td align="right">615kB</td>
   <td><tt>c22af7a1b902d2ffbbe4478a8d9d40d58b767c36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kalgebra-21.12.3.tar.xz">kalgebra-21.12.3</a></td>
   <td align="right">1006kB</td>
   <td><tt>a3cbebb7f81f68da4af96bc0b9e3d58cf0b126ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kalzium-21.12.3.tar.xz">kalzium-21.12.3</a></td>
   <td align="right">24016kB</td>
   <td><tt>7a2c18ef06b390270fe6ec03e1cf8250207f6bbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kamera-21.12.3.tar.xz">kamera-21.12.3</a></td>
   <td align="right">114kB</td>
   <td><tt>13d84999b38f7d6ab39ee796b22cafb0153c9992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kamoso-21.12.3.tar.xz">kamoso-21.12.3</a></td>
   <td align="right">211kB</td>
   <td><tt>253e8227eed5562ab91456b6da5d89dc97f3f809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kanagram-21.12.3.tar.xz">kanagram-21.12.3</a></td>
   <td align="right">7855kB</td>
   <td><tt>95ce9a40a82fcf4eec4b5cb993900ceb02b3e0e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kapman-21.12.3.tar.xz">kapman-21.12.3</a></td>
   <td align="right">2413kB</td>
   <td><tt>aa08ebd974421a95c9d56c095829d7327fb6edef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kapptemplate-21.12.3.tar.xz">kapptemplate-21.12.3</a></td>
   <td align="right">327kB</td>
   <td><tt>5226b459821f1989c65c1d50b0d649e5200f7b14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kate-21.12.3.tar.xz">kate-21.12.3</a></td>
   <td align="right">7321kB</td>
   <td><tt>e486d59ca687da1aaa8f83c3f7dbb15568aa06fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/katomic-21.12.3.tar.xz">katomic-21.12.3</a></td>
   <td align="right">1401kB</td>
   <td><tt>5463294fca288394896e3bfda8d687b4c752b3d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kbackup-21.12.3.tar.xz">kbackup-21.12.3</a></td>
   <td align="right">379kB</td>
   <td><tt>e5a1b58cd43de3d9924aa90062c7afa0cd5e5c10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kblackbox-21.12.3.tar.xz">kblackbox-21.12.3</a></td>
   <td align="right">512kB</td>
   <td><tt>c2bb20324f454e675ba47cced13ea7141d713218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kblocks-21.12.3.tar.xz">kblocks-21.12.3</a></td>
   <td align="right">2050kB</td>
   <td><tt>04bfca1aab69ba31dff1a30009a395a32eb44f98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kbounce-21.12.3.tar.xz">kbounce-21.12.3</a></td>
   <td align="right">3445kB</td>
   <td><tt>8c4be863f784c335022715e69c68a1c244e50c09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kbreakout-21.12.3.tar.xz">kbreakout-21.12.3</a></td>
   <td align="right">2493kB</td>
   <td><tt>c5260ff8331b6ca016a4bf5181750b075688d83b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kbruch-21.12.3.tar.xz">kbruch-21.12.3</a></td>
   <td align="right">5496kB</td>
   <td><tt>1c37c0e7edc3686e78757f17eae13fdc0bc86a72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kcachegrind-21.12.3.tar.xz">kcachegrind-21.12.3</a></td>
   <td align="right">844kB</td>
   <td><tt>91a1426756c91749c691234eefa8289673c94a46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kcalc-21.12.3.tar.xz">kcalc-21.12.3</a></td>
   <td align="right">374kB</td>
   <td><tt>729e9f4cc4d5f157beea163230263b641529e2dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kcalutils-21.12.3.tar.xz">kcalutils-21.12.3</a></td>
   <td align="right">330kB</td>
   <td><tt>d928b8ded9deb8ea19a2d6a909034d025518ed70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kcharselect-21.12.3.tar.xz">kcharselect-21.12.3</a></td>
   <td align="right">364kB</td>
   <td><tt>ee380d38aefd9fbe4e7af304f25c58ecadfba7a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kcolorchooser-21.12.3.tar.xz">kcolorchooser-21.12.3</a></td>
   <td align="right">29kB</td>
   <td><tt>a63196842a4634d5c7008c6c66ed2da7d39840f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kcron-21.12.3.tar.xz">kcron-21.12.3</a></td>
   <td align="right">893kB</td>
   <td><tt>c263bd4d5234f36737b14fa32d3b6f2ebca9bed7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdebugsettings-21.12.3.tar.xz">kdebugsettings-21.12.3</a></td>
   <td align="right">90kB</td>
   <td><tt>b50f46e5b89d7c5d39e2ea9159c4b34f4e433625</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdeconnect-kde-21.12.3.tar.xz">kdeconnect-kde-21.12.3</a></td>
   <td align="right">596kB</td>
   <td><tt>4ec38de09e0430e89d9a131430cac87dd09818f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kde-dev-scripts-21.12.3.tar.xz">kde-dev-scripts-21.12.3</a></td>
   <td align="right">357kB</td>
   <td><tt>8e04e6a1b618abe8fce8dc496dc84362f22adc58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kde-dev-utils-21.12.3.tar.xz">kde-dev-utils-21.12.3</a></td>
   <td align="right">66kB</td>
   <td><tt>0436e7bfff46467e8ad72709b98fa7c480752064</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdeedu-data-21.12.3.tar.xz">kdeedu-data-21.12.3</a></td>
   <td align="right">327kB</td>
   <td><tt>a0f4d414dbe215e1767f89946f5beb5406faf6ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdegraphics-mobipocket-21.12.3.tar.xz">kdegraphics-mobipocket-21.12.3</a></td>
   <td align="right">16kB</td>
   <td><tt>e7995a076ca7d72faf4f8481df5e980266e1368a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdegraphics-thumbnailers-21.12.3.tar.xz">kdegraphics-thumbnailers-21.12.3</a></td>
   <td align="right">46kB</td>
   <td><tt>f26cfb555f9a98ee50c646e9af0b0df5bf570cb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdenetwork-filesharing-21.12.3.tar.xz">kdenetwork-filesharing-21.12.3</a></td>
   <td align="right">371kB</td>
   <td><tt>909514e4213934ed3a7a069e4744d24bd166875c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdenlive-21.12.3.tar.xz">kdenlive-21.12.3</a></td>
   <td align="right">12001kB</td>
   <td><tt>81b8d20419b8df0182e357fc5e59c7af85705489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdepim-addons-21.12.3.tar.xz">kdepim-addons-21.12.3</a></td>
   <td align="right">2243kB</td>
   <td><tt>9c0528a086741edf306e5a9e611765bcd6d0ea4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdepim-runtime-21.12.3.tar.xz">kdepim-runtime-21.12.3</a></td>
   <td align="right">1764kB</td>
   <td><tt>d946d2bd7c41c7a1027b02f802714fef3471a55a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdesdk-kioslaves-21.12.3.tar.xz">kdesdk-kioslaves-21.12.3</a></td>
   <td align="right">38kB</td>
   <td><tt>3dfc5a60c1766a977bbaf55a9ba6bb43dcdec27d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdesdk-thumbnailers-21.12.3.tar.xz">kdesdk-thumbnailers-21.12.3</a></td>
   <td align="right">25kB</td>
   <td><tt>7d10262371d48008b0ea4e61071c6c7268eb4b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdevelop-21.12.3.tar.xz">kdevelop-21.12.3</a></td>
   <td align="right">8194kB</td>
   <td><tt>11c2e301466ec087fd7ec380aba4e0e626fcfb15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdev-php-21.12.3.tar.xz">kdev-php-21.12.3</a></td>
   <td align="right">1054kB</td>
   <td><tt>2b43dbafe9f34635d15d026bdeda7122f291c169</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdev-python-21.12.3.tar.xz">kdev-python-21.12.3</a></td>
   <td align="right">1064kB</td>
   <td><tt>231cafaebdee1a2312f4ed5d97e4985901b93be5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdf-21.12.3.tar.xz">kdf-21.12.3</a></td>
   <td align="right">463kB</td>
   <td><tt>c8e401b880fee78bac287bed29144331dd4c7c50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdialog-21.12.3.tar.xz">kdialog-21.12.3</a></td>
   <td align="right">113kB</td>
   <td><tt>98927d57d06862a8ac93cccb1d207be4db5875cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kdiamond-21.12.3.tar.xz">kdiamond-21.12.3</a></td>
   <td align="right">4590kB</td>
   <td><tt>e24c4996e81b734f7c28f0ba2ec89412c0941867</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/keditbookmarks-21.12.3.tar.xz">keditbookmarks-21.12.3</a></td>
   <td align="right">199kB</td>
   <td><tt>1755cd2e127ba1bc236eef0fdde6c8507c4faeea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kfind-21.12.3.tar.xz">kfind-21.12.3</a></td>
   <td align="right">280kB</td>
   <td><tt>4cdb8d785ba4f2b81825e8c2acbf6d65a70dc243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kfloppy-21.12.3.tar.xz">kfloppy-21.12.3</a></td>
   <td align="right">208kB</td>
   <td><tt>d828514e98a88a47db75d3f475f5bec8a1c295ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kfourinline-21.12.3.tar.xz">kfourinline-21.12.3</a></td>
   <td align="right">702kB</td>
   <td><tt>823933712347efe444bb6f0d278bd63f5ca80612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kgeography-21.12.3.tar.xz">kgeography-21.12.3</a></td>
   <td align="right">10820kB</td>
   <td><tt>8da0cd8e1866ee1a17effa6e0e9ce81bf37b6376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kget-21.12.3.tar.xz">kget-21.12.3</a></td>
   <td align="right">5502kB</td>
   <td><tt>3b33c0916f3c8b69586fee680555c995780b1437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kgoldrunner-21.12.3.tar.xz">kgoldrunner-21.12.3</a></td>
   <td align="right">4656kB</td>
   <td><tt>ed3a2fe47f8406899cb95aed138bbde27f33876d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kgpg-21.12.3.tar.xz">kgpg-21.12.3</a></td>
   <td align="right">2885kB</td>
   <td><tt>08764e7c58cb10fb650a623d5ce0e772d1f15cdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/khangman-21.12.3.tar.xz">khangman-21.12.3</a></td>
   <td align="right">7256kB</td>
   <td><tt>062fb3bfe7c5f2f7ef7810fe8f969842db3b5b62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/khelpcenter-21.12.3.tar.xz">khelpcenter-21.12.3</a></td>
   <td align="right">4191kB</td>
   <td><tt>fcbf0c675988976a445836c5441c1f4452b90287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kidentitymanagement-21.12.3.tar.xz">kidentitymanagement-21.12.3</a></td>
   <td align="right">154kB</td>
   <td><tt>e0d78025ed9cd32fa8a4a13c0a0a182280da7f21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kig-21.12.3.tar.xz">kig-21.12.3</a></td>
   <td align="right">3100kB</td>
   <td><tt>dab435feaf393753aa5bd03eafccf9297b93155d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kigo-21.12.3.tar.xz">kigo-21.12.3</a></td>
   <td align="right">5129kB</td>
   <td><tt>9fc15e7469e6ed5230ee762356a996d22c3e0489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/killbots-21.12.3.tar.xz">killbots-21.12.3</a></td>
   <td align="right">1165kB</td>
   <td><tt>81342c297bf599efc71693c74698439579c7c249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kimagemapeditor-21.12.3.tar.xz">kimagemapeditor-21.12.3</a></td>
   <td align="right">1064kB</td>
   <td><tt>69490d2af4c2a452de60de6e3ba08e613cec2e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kimap-21.12.3.tar.xz">kimap-21.12.3</a></td>
   <td align="right">125kB</td>
   <td><tt>5e4e23681a243d819e6680a80cdff4070c2e18a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kio-extras-21.12.3.tar.xz">kio-extras-21.12.3</a></td>
   <td align="right">620kB</td>
   <td><tt>cf655a6fd1470d94bb851297cc2bede05787b44e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kio-gdrive-21.12.3.tar.xz">kio-gdrive-21.12.3</a></td>
   <td align="right">69kB</td>
   <td><tt>a59d2db5b8bc67dd22538e5a7370832d52c25bae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kipi-plugins-21.12.3.tar.xz">kipi-plugins-21.12.3</a></td>
   <td align="right">1510kB</td>
   <td><tt>51909bec0796e55c34043ee30916f0e18424022f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kirigami-gallery-21.12.3.tar.xz">kirigami-gallery-21.12.3</a></td>
   <td align="right">322kB</td>
   <td><tt>d4398ba26c97a848e409e5cdf9b67e9f204f74d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kiriki-21.12.3.tar.xz">kiriki-21.12.3</a></td>
   <td align="right">356kB</td>
   <td><tt>7a170b1c99864123877178a803e5f5ceb1468a59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kiten-21.12.3.tar.xz">kiten-21.12.3</a></td>
   <td align="right">11048kB</td>
   <td><tt>c455727830e8434bfe448ccfbc28619fa9ff0a74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kitinerary-21.12.3.tar.xz">kitinerary-21.12.3</a></td>
   <td align="right">1816kB</td>
   <td><tt>3588f826935aaf2783c64b97e216f172db14cdc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kjumpingcube-21.12.3.tar.xz">kjumpingcube-21.12.3</a></td>
   <td align="right">315kB</td>
   <td><tt>8462055a764efb5d816af98c9f478a73256d8863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kldap-21.12.3.tar.xz">kldap-21.12.3</a></td>
   <td align="right">168kB</td>
   <td><tt>26c8c533992a765cc9343fc8d5cbd258692e750d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kleopatra-21.12.3.tar.xz">kleopatra-21.12.3</a></td>
   <td align="right">2100kB</td>
   <td><tt>2083e8078959437be0e0767bacae558b785dc01a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/klettres-21.12.3.tar.xz">klettres-21.12.3</a></td>
   <td align="right">46033kB</td>
   <td><tt>0f213d8b09f3a1eb677aba28bffae9330a5ea1ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/klickety-21.12.3.tar.xz">klickety-21.12.3</a></td>
   <td align="right">1457kB</td>
   <td><tt>feac29a1c17fda2dfcb5478f0677ca5ef56e039c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/klines-21.12.3.tar.xz">klines-21.12.3</a></td>
   <td align="right">1684kB</td>
   <td><tt>497f6dff044c05b183e9168cf1440f0116b517aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kmag-21.12.3.tar.xz">kmag-21.12.3</a></td>
   <td align="right">692kB</td>
   <td><tt>24abcadda3105ad760cf22ff0238cc039ba28d73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kmahjongg-21.12.3.tar.xz">kmahjongg-21.12.3</a></td>
   <td align="right">3972kB</td>
   <td><tt>9e2af30af1a93c72015da7ed27e03e428db36ad4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kmail-21.12.3.tar.xz">kmail-21.12.3</a></td>
   <td align="right">6977kB</td>
   <td><tt>b6587603e724c0cee8d3fe1982b57145620b98e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kmail-account-wizard-21.12.3.tar.xz">kmail-account-wizard-21.12.3</a></td>
   <td align="right">164kB</td>
   <td><tt>628fefb7dbc1ac5fda572ae37ae0f133e98441de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kmailtransport-21.12.3.tar.xz">kmailtransport-21.12.3</a></td>
   <td align="right">169kB</td>
   <td><tt>03d7bcd51bffe1dc3f7e8274e39f2bb8a2e2b063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kmbox-21.12.3.tar.xz">kmbox-21.12.3</a></td>
   <td align="right">27kB</td>
   <td><tt>f3dde5fed669cecbb5bc0ea90ff518d83e01d74e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kmime-21.12.3.tar.xz">kmime-21.12.3</a></td>
   <td align="right">151kB</td>
   <td><tt>2745ae27dacf5f7141b013f208503726c93bc54b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kmines-21.12.3.tar.xz">kmines-21.12.3</a></td>
   <td align="right">968kB</td>
   <td><tt>e40b4f70f6e56ecb514525affc72d3c363c1a041</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kmix-21.12.3.tar.xz">kmix-21.12.3</a></td>
   <td align="right">1136kB</td>
   <td><tt>a98f78ff804ba8cf0a6dac6885c25a3222a5b780</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kmousetool-21.12.3.tar.xz">kmousetool-21.12.3</a></td>
   <td align="right">118kB</td>
   <td><tt>3128068a65d0bd08f9b7e0f6cfdb2e8e234d482c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kmouth-21.12.3.tar.xz">kmouth-21.12.3</a></td>
   <td align="right">2057kB</td>
   <td><tt>94e8fcfd4058075cb29fa0f6e33b72c9027205b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kmplot-21.12.3.tar.xz">kmplot-21.12.3</a></td>
   <td align="right">2972kB</td>
   <td><tt>1fab54e80328d9464a5855f53767c4cba787ad87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/knavalbattle-21.12.3.tar.xz">knavalbattle-21.12.3</a></td>
   <td align="right">1343kB</td>
   <td><tt>8ef2343c6e3262e6a6394b41a535dbd53333670c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/knetwalk-21.12.3.tar.xz">knetwalk-21.12.3</a></td>
   <td align="right">1068kB</td>
   <td><tt>46ad5edf919f81e79512ee71dc791ce054feac40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/knights-21.12.3.tar.xz">knights-21.12.3</a></td>
   <td align="right">3242kB</td>
   <td><tt>8a4ffffc1a082f285e060c71aaf8c7d552d8938e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/knotes-21.12.3.tar.xz">knotes-21.12.3</a></td>
   <td align="right">336kB</td>
   <td><tt>3009fc64a3c602d110f5877747f75d0bd27a48bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kolf-21.12.3.tar.xz">kolf-21.12.3</a></td>
   <td align="right">1025kB</td>
   <td><tt>f46246148388f12659917292c7d56c56a7db794b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kollision-21.12.3.tar.xz">kollision-21.12.3</a></td>
   <td align="right">292kB</td>
   <td><tt>6e952b60579aebafc1b4284415094c00ffa7dd42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kolourpaint-21.12.3.tar.xz">kolourpaint-21.12.3</a></td>
   <td align="right">5581kB</td>
   <td><tt>76c4d02863030f640d2d63598e6cd7e43c7f4438</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kompare-21.12.3.tar.xz">kompare-21.12.3</a></td>
   <td align="right">920kB</td>
   <td><tt>61226de142026dd5154993e6e28e5cdab8dd7ca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/konqueror-21.12.3.tar.xz">konqueror-21.12.3</a></td>
   <td align="right">7254kB</td>
   <td><tt>1d86319b47c1897d30f0bc73e2b676fcadf5fb85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/konquest-21.12.3.tar.xz">konquest-21.12.3</a></td>
   <td align="right">840kB</td>
   <td><tt>7c674cd9a1015d8392c4d2e598bd6c6f49500431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/konsole-21.12.3.tar.xz">konsole-21.12.3</a></td>
   <td align="right">1358kB</td>
   <td><tt>d73d272353aa381c46a2bdf6d0eaec87e44e6a9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kontact-21.12.3.tar.xz">kontact-21.12.3</a></td>
   <td align="right">804kB</td>
   <td><tt>0b219887d5025ae3d1fcb6e71f6006b27fa121e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kontactinterface-21.12.3.tar.xz">kontactinterface-21.12.3</a></td>
   <td align="right">39kB</td>
   <td><tt>a5cef9679ba5c1b595b9491c0cae26752d0c0d4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kontrast-21.12.3.tar.xz">kontrast-21.12.3</a></td>
   <td align="right">122kB</td>
   <td><tt>c5a4b4d08f2e8e83e0e42259d9ecff8ca8b90e8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/konversation-21.12.3.tar.xz">konversation-21.12.3</a></td>
   <td align="right">4174kB</td>
   <td><tt>d3ea34da607334e91b636a840d1c4a6b342a3160</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kopeninghours-21.12.3.tar.xz">kopeninghours-21.12.3</a></td>
   <td align="right">67kB</td>
   <td><tt>47aff1c6f55c7498b4129f094f5a27fd12882a8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kopete-21.12.3.tar.xz">kopete-21.12.3</a></td>
   <td align="right">9439kB</td>
   <td><tt>7aea6ec2be0d2b892fddce245ebfeca0e3403876</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/korganizer-21.12.3.tar.xz">korganizer-21.12.3</a></td>
   <td align="right">2341kB</td>
   <td><tt>56178924366ce7fe7ccc77becaa05e3f9f1aedc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kosmindoormap-21.12.3.tar.xz">kosmindoormap-21.12.3</a></td>
   <td align="right">343kB</td>
   <td><tt>a0e9a0d11e0ede9c80d561e50484f57e451d8f90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kpat-21.12.3.tar.xz">kpat-21.12.3</a></td>
   <td align="right">3643kB</td>
   <td><tt>a497355b5a788ec44bc769b9a8287be8a6b71421</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kpimtextedit-21.12.3.tar.xz">kpimtextedit-21.12.3</a></td>
   <td align="right">206kB</td>
   <td><tt>c36004d5c0b06338d69d8e3edef3f314680f5868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kpkpass-21.12.3.tar.xz">kpkpass-21.12.3</a></td>
   <td align="right">27kB</td>
   <td><tt>d83f38a750efcfb8fb68f3ff01e5ed5467e347b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kpmcore-21.12.3.tar.xz">kpmcore-21.12.3</a></td>
   <td align="right">581kB</td>
   <td><tt>a6c09af3bb2c604bd89ea473603a4d44d5477864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kpublictransport-21.12.3.tar.xz">kpublictransport-21.12.3</a></td>
   <td align="right">469kB</td>
   <td><tt>c4ccaa3566eb46b9fb3367b3cb18db3bce6a001c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kqtquickcharts-21.12.3.tar.xz">kqtquickcharts-21.12.3</a></td>
   <td align="right">29kB</td>
   <td><tt>907c324035a645bffab5a201424a3641eb84d341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/krdc-21.12.3.tar.xz">krdc-21.12.3</a></td>
   <td align="right">1546kB</td>
   <td><tt>92660452fa7579ae4991b2b7848d9805ce0dbedb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kreversi-21.12.3.tar.xz">kreversi-21.12.3</a></td>
   <td align="right">1036kB</td>
   <td><tt>c1315914de646c8a28afed68716545f6fe272593</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/krfb-21.12.3.tar.xz">krfb-21.12.3</a></td>
   <td align="right">1271kB</td>
   <td><tt>71de525316147504ec8ab81f738af08fc543cffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kross-interpreters-21.12.3.tar.xz">kross-interpreters-21.12.3</a></td>
   <td align="right">147kB</td>
   <td><tt>0f5e03fc8916a626673deda1546777475afb3768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kruler-21.12.3.tar.xz">kruler-21.12.3</a></td>
   <td align="right">270kB</td>
   <td><tt>09d0d007394d6f15acfd5c0a390ccc3b9fa6dba0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kshisen-21.12.3.tar.xz">kshisen-21.12.3</a></td>
   <td align="right">964kB</td>
   <td><tt>ec26e79255a1a0271fb78d52367e615a6413f31f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ksirk-21.12.3.tar.xz">ksirk-21.12.3</a></td>
   <td align="right">6839kB</td>
   <td><tt>1210b174e029eaafa7dff6e651baa7bfd69683de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ksmtp-21.12.3.tar.xz">ksmtp-21.12.3</a></td>
   <td align="right">46kB</td>
   <td><tt>fa1da736ee675e0f4dce2cb126a2564171ad5c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ksnakeduel-21.12.3.tar.xz">ksnakeduel-21.12.3</a></td>
   <td align="right">589kB</td>
   <td><tt>c69770a17861f0f19a5ce6f8ccd611a088186d81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kspaceduel-21.12.3.tar.xz">kspaceduel-21.12.3</a></td>
   <td align="right">633kB</td>
   <td><tt>1818033008f34d331f69b0216c86b14b48cadc89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ksquares-21.12.3.tar.xz">ksquares-21.12.3</a></td>
   <td align="right">297kB</td>
   <td><tt>73944d20e2c85e87bec05d7bc9521db14b501364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ksudoku-21.12.3.tar.xz">ksudoku-21.12.3</a></td>
   <td align="right">1646kB</td>
   <td><tt>605b2a8134a173dda85b6b0e3025021e62160aa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ksystemlog-21.12.3.tar.xz">ksystemlog-21.12.3</a></td>
   <td align="right">1921kB</td>
   <td><tt>241308bb4b8b5f630d983df4d445306b3856223c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kteatime-21.12.3.tar.xz">kteatime-21.12.3</a></td>
   <td align="right">295kB</td>
   <td><tt>f3278813e9d12bba4148a1a559752a15bdee8703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktimer-21.12.3.tar.xz">ktimer-21.12.3</a></td>
   <td align="right">383kB</td>
   <td><tt>e330acb3896660d86463569d0b63a8d8363622d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktnef-21.12.3.tar.xz">ktnef-21.12.3</a></td>
   <td align="right">298kB</td>
   <td><tt>84df7437e9914d941f37eedb140008999791e04f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktorrent-21.12.3.tar.xz">ktorrent-21.12.3</a></td>
   <td align="right">2014kB</td>
   <td><tt>2c7b87c6a44843b8a4d4de586f9edb007ec858c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktouch-21.12.3.tar.xz">ktouch-21.12.3</a></td>
   <td align="right">4852kB</td>
   <td><tt>d954ffff3985116ff6554f144f7185028dd53ad5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktp-accounts-kcm-21.12.3.tar.xz">ktp-accounts-kcm-21.12.3</a></td>
   <td align="right">259kB</td>
   <td><tt>22e4a837ac0056ecd528c78e8db094cd6fee02cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktp-approver-21.12.3.tar.xz">ktp-approver-21.12.3</a></td>
   <td align="right">37kB</td>
   <td><tt>62d3a59630c83cb8431515bfb405df920dded7df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktp-auth-handler-21.12.3.tar.xz">ktp-auth-handler-21.12.3</a></td>
   <td align="right">46kB</td>
   <td><tt>0f4bf9dcc840a0168407728c8caa47fbb50ff905</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktp-call-ui-21.12.3.tar.xz">ktp-call-ui-21.12.3</a></td>
   <td align="right">96kB</td>
   <td><tt>2a116ad14474d9d437305e96fda9d178a62fc4f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktp-common-internals-21.12.3.tar.xz">ktp-common-internals-21.12.3</a></td>
   <td align="right">440kB</td>
   <td><tt>e5e5e062b811c6ae88512cfa4bdfdd26ac304ca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktp-contact-list-21.12.3.tar.xz">ktp-contact-list-21.12.3</a></td>
   <td align="right">150kB</td>
   <td><tt>ec38f90cec40aed9a7b015a7e053eec6fb85bde5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktp-contact-runner-21.12.3.tar.xz">ktp-contact-runner-21.12.3</a></td>
   <td align="right">42kB</td>
   <td><tt>0ca573c3245f5f7d97ffee30ab65111817d2bf41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktp-desktop-applets-21.12.3.tar.xz">ktp-desktop-applets-21.12.3</a></td>
   <td align="right">43kB</td>
   <td><tt>d1f8e3e5255f54d9d482d29e73e6e47c338dae25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktp-filetransfer-handler-21.12.3.tar.xz">ktp-filetransfer-handler-21.12.3</a></td>
   <td align="right">45kB</td>
   <td><tt>db094c369873f26500f10a23717a25a556fa17b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktp-kded-module-21.12.3.tar.xz">ktp-kded-module-21.12.3</a></td>
   <td align="right">98kB</td>
   <td><tt>e7bba63db6e06f2e0881b2224c9da703cf0781ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktp-send-file-21.12.3.tar.xz">ktp-send-file-21.12.3</a></td>
   <td align="right">28kB</td>
   <td><tt>f0825154ae3258a9f2b72dc87b09ea3edb7fbb5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktp-text-ui-21.12.3.tar.xz">ktp-text-ui-21.12.3</a></td>
   <td align="right">463kB</td>
   <td><tt>c4db344aa0e2bb0adfa27979e58f94c32f62216c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/ktuberling-21.12.3.tar.xz">ktuberling-21.12.3</a></td>
   <td align="right">69162kB</td>
   <td><tt>68fe8e4fa55a650a044959d0c41919e4b6b50ed7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kturtle-21.12.3.tar.xz">kturtle-21.12.3</a></td>
   <td align="right">1925kB</td>
   <td><tt>353f70eff66b2787d06c127b097f61cc4b5e4e9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kubrick-21.12.3.tar.xz">kubrick-21.12.3</a></td>
   <td align="right">335kB</td>
   <td><tt>b9b1e655f12b1f1c53957af35bfde9c05a30103e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kwalletmanager-21.12.3.tar.xz">kwalletmanager-21.12.3</a></td>
   <td align="right">781kB</td>
   <td><tt>893e54a23c1993d781a7fb54f10fbfc3e7ba19a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kwave-21.12.3.tar.xz">kwave-21.12.3</a></td>
   <td align="right">6791kB</td>
   <td><tt>176ab6956df9998d21a83b8eee53ccf49e9915c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/kwordquiz-21.12.3.tar.xz">kwordquiz-21.12.3</a></td>
   <td align="right">4108kB</td>
   <td><tt>6acefab39bed4d706f815ff26c356442b3d5a452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libgravatar-21.12.3.tar.xz">libgravatar-21.12.3</a></td>
   <td align="right">34kB</td>
   <td><tt>172c62cf76b59078bcdecba64ec46976c79e9ece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libkcddb-21.12.3.tar.xz">libkcddb-21.12.3</a></td>
   <td align="right">425kB</td>
   <td><tt>c4a480af2d070458e460c22f53f1b0f7165ece62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libkcompactdisc-21.12.3.tar.xz">libkcompactdisc-21.12.3</a></td>
   <td align="right">94kB</td>
   <td><tt>9441db40888acb18ddc1db978654447dcad3c478</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libkdcraw-21.12.3.tar.xz">libkdcraw-21.12.3</a></td>
   <td align="right">36kB</td>
   <td><tt>e2b807a1c065507e1d7176de03044fb28c50ba84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libkdegames-21.12.3.tar.xz">libkdegames-21.12.3</a></td>
   <td align="right">5817kB</td>
   <td><tt>fc9390aa3f80b950d14392faa4dbad94df1be324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libkdepim-21.12.3.tar.xz">libkdepim-21.12.3</a></td>
   <td align="right">247kB</td>
   <td><tt>2be0e05bab7c564236c76209d0b0ce73e9e6ed94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libkeduvocdocument-21.12.3.tar.xz">libkeduvocdocument-21.12.3</a></td>
   <td align="right">212kB</td>
   <td><tt>f8767d33bdff1f784162ab9456d5f03efe812c1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libkexiv2-21.12.3.tar.xz">libkexiv2-21.12.3</a></td>
   <td align="right">58kB</td>
   <td><tt>f324bcb167d28020346e6811ee378440d26cd137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libkgapi-21.12.3.tar.xz">libkgapi-21.12.3</a></td>
   <td align="right">239kB</td>
   <td><tt>acb98e026042304d3729b7258511e975eaf6d991</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libkipi-21.12.3.tar.xz">libkipi-21.12.3</a></td>
   <td align="right">101kB</td>
   <td><tt>923c2789ee20ec31760d5fe7f47488f0df109547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libkleo-21.12.3.tar.xz">libkleo-21.12.3</a></td>
   <td align="right">436kB</td>
   <td><tt>56360e7112ccd2a136859cb2256e24bbc0637a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libkmahjongg-21.12.3.tar.xz">libkmahjongg-21.12.3</a></td>
   <td align="right">1643kB</td>
   <td><tt>73689efe0b9993c3ac9e4be6d7ae4515ef4f3313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libkomparediff2-21.12.3.tar.xz">libkomparediff2-21.12.3</a></td>
   <td align="right">168kB</td>
   <td><tt>0616cfb0a3358fa872eb0635db3df409d7f1165e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libksane-21.12.3.tar.xz">libksane-21.12.3</a></td>
   <td align="right">160kB</td>
   <td><tt>4f9b4fa1d7c4bd7ade8697ddaf17b9203d7c1fa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libksieve-21.12.3.tar.xz">libksieve-21.12.3</a></td>
   <td align="right">558kB</td>
   <td><tt>547cf5bd3f6cbc2f7bb6358711dd4df207a91a7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/libktorrent-21.12.3.tar.xz">libktorrent-21.12.3</a></td>
   <td align="right">591kB</td>
   <td><tt>9900ef7b22a91018b9c415569ed57dfc7346de06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/lokalize-21.12.3.tar.xz">lokalize-21.12.3</a></td>
   <td align="right">2013kB</td>
   <td><tt>da99487a16f2215fdaf5eb8ecb0d85be26eaf52a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/lskat-21.12.3.tar.xz">lskat-21.12.3</a></td>
   <td align="right">1203kB</td>
   <td><tt>746a90a2f2c764b5062aad607db5a1f7c16cb8b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/mailcommon-21.12.3.tar.xz">mailcommon-21.12.3</a></td>
   <td align="right">718kB</td>
   <td><tt>fa57776902629e939c89359bfe179985edc00136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/mailimporter-21.12.3.tar.xz">mailimporter-21.12.3</a></td>
   <td align="right">545kB</td>
   <td><tt>0199afed52a12de987ec66ea5437caaff63ae3ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/marble-21.12.3.tar.xz">marble-21.12.3</a></td>
   <td align="right">52396kB</td>
   <td><tt>e9402b4d9925b4fdfd1a9b7699edc8d33bd83845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/markdownpart-21.12.3.tar.xz">markdownpart-21.12.3</a></td>
   <td align="right">27kB</td>
   <td><tt>5c7d193937a8b35058afeaf2ae33f362508edf66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/mbox-importer-21.12.3.tar.xz">mbox-importer-21.12.3</a></td>
   <td align="right">27kB</td>
   <td><tt>98c76bed8f8f7926f5b9dd77bd14de35268d6a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/messagelib-21.12.3.tar.xz">messagelib-21.12.3</a></td>
   <td align="right">10557kB</td>
   <td><tt>65af3b8671ad2b06395e0617ef6e7a0919083f72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/minuet-21.12.3.tar.xz">minuet-21.12.3</a></td>
   <td align="right">27028kB</td>
   <td><tt>e054fbd480dcacba2cf876e99271ff3cc204ea82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/okular-21.12.3.tar.xz">okular-21.12.3</a></td>
   <td align="right">7959kB</td>
   <td><tt>056447e3d2ba337b68744f69c4520f205c69be92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/palapeli-21.12.3.tar.xz">palapeli-21.12.3</a></td>
   <td align="right">2048kB</td>
   <td><tt>5240c1d24829631325b9f6426bc71b9587079401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/parley-21.12.3.tar.xz">parley-21.12.3</a></td>
   <td align="right">8300kB</td>
   <td><tt>57888cceb7f5dac369ad3352f4fc6f8a6b651578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/partitionmanager-21.12.3.tar.xz">partitionmanager-21.12.3</a></td>
   <td align="right">2049kB</td>
   <td><tt>08066a7af52bedcfea7f1b4186a4bdd7c7629155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/picmi-21.12.3.tar.xz">picmi-21.12.3</a></td>
   <td align="right">1501kB</td>
   <td><tt>31d853861611569bd78830eb534bf95a7a34baf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/pimcommon-21.12.3.tar.xz">pimcommon-21.12.3</a></td>
   <td align="right">363kB</td>
   <td><tt>5fe362171fa4ba13333dad00d210a6485582e111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/pim-data-exporter-21.12.3.tar.xz">pim-data-exporter-21.12.3</a></td>
   <td align="right">394kB</td>
   <td><tt>805578a0d3692afe8569ea67666e8bb3d988fa7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/pim-sieve-editor-21.12.3.tar.xz">pim-sieve-editor-21.12.3</a></td>
   <td align="right">446kB</td>
   <td><tt>3de6ebb5fa4333ae71eb0e132d4b91a7df458c64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/poxml-21.12.3.tar.xz">poxml-21.12.3</a></td>
   <td align="right">42kB</td>
   <td><tt>cf9012357e90f77723c3a5d3d5932053d77291b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/print-manager-21.12.3.tar.xz">print-manager-21.12.3</a></td>
   <td align="right">264kB</td>
   <td><tt>9a911f46888ae808958582f8a218906c8158b7ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/rocs-21.12.3.tar.xz">rocs-21.12.3</a></td>
   <td align="right">1522kB</td>
   <td><tt>3c8f44dabb1a5c9c464be55bf46ffbd9a2128cc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/signon-kwallet-extension-21.12.3.tar.xz">signon-kwallet-extension-21.12.3</a></td>
   <td align="right">10kB</td>
   <td><tt>4b1d63413fe403d82479b57f4358a2a5554fd18b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/skanlite-21.12.3.tar.xz">skanlite-21.12.3</a></td>
   <td align="right">2386kB</td>
   <td><tt>8064a8745e5aca19b4d7d2630418354ad2874b7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/spectacle-21.12.3.tar.xz">spectacle-21.12.3</a></td>
   <td align="right">1230kB</td>
   <td><tt>451b93925be3ddd36f671ffbdd6a7363c6e47fd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/step-21.12.3.tar.xz">step-21.12.3</a></td>
   <td align="right">911kB</td>
   <td><tt>2722ce3a583b4108aa72da33e2039821f8ed8e38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/svgpart-21.12.3.tar.xz">svgpart-21.12.3</a></td>
   <td align="right">24kB</td>
   <td><tt>9eb48261f41e37167ce107de25f3607c80bc12e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/sweeper-21.12.3.tar.xz">sweeper-21.12.3</a></td>
   <td align="right">369kB</td>
   <td><tt>553477d560a3563b19eda5a6f9c023906e87ac97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/umbrello-21.12.3.tar.xz">umbrello-21.12.3</a></td>
   <td align="right">5525kB</td>
   <td><tt>198183ff0d4468a80f3e4ee3b7e3c97339a6019d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/yakuake-21.12.3.tar.xz">yakuake-21.12.3</a></td>
   <td align="right">393kB</td>
   <td><tt>f4171b9abf0622dde4814ebecb74ea74c3da64fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/zanshin-21.12.3.tar.xz">zanshin-21.12.3</a></td>
   <td align="right">344kB</td>
   <td><tt>676ecde7ffdbdf12a8bf3e04a7bd7785e62a957f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.3/src/zeroconf-ioslave-21.12.3.tar.xz">zeroconf-ioslave-21.12.3</a></td>
   <td align="right">37kB</td>
   <td><tt>3de563614196951714f3dd5c47f9752b30e34ab2</tt></td>
</tr>

</table>
