<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/aura-browser-5.26.3.tar.xz">aura-browser-5.26.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>5fecf5f20daee11dcea01cf436e641bdd64c057cec118a65fd46d22bf5560304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/bluedevil-5.26.3.1.tar.xz">bluedevil-5.26.3.1</a></td>
   <td align="right">309kB</td>
   <td><tt>709fcf35c849d56e84fa686f8cbec940b735f9fa0c78c54cd8a6bfe6d7540e92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/breeze-5.26.3.1.tar.xz">breeze-5.26.3.1</a></td>
   <td align="right">55MB</td>
   <td><tt>fcafba03194fb81e075e2a3ea7fd006a8f91f898169e1f39fdc3d92801ae4568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/breeze-grub-5.26.3.tar.xz">breeze-grub-5.26.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>259eee936727c1443a8c2f847299e5597425ac17d80b505f8da40a652367dd62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/breeze-gtk-5.26.3.tar.xz">breeze-gtk-5.26.3</a></td>
   <td align="right">39kB</td>
   <td><tt>4a3a3b40bcdc0110e51ed394ae1bd4ce1adf68ae2d28a3a4aa19803de73c3f63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/breeze-plymouth-5.26.3.tar.xz">breeze-plymouth-5.26.3</a></td>
   <td align="right">108kB</td>
   <td><tt>e8fb1046271091b317a7a5d529a88e3846e857d429426143200431e3159eda58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/discover-5.26.3.tar.xz">discover-5.26.3</a></td>
   <td align="right">642kB</td>
   <td><tt>0e3fdd41d077487857acd305d923d3b29a8eb514175af32020f5fb890c3634dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/drkonqi-5.26.3.tar.xz">drkonqi-5.26.3</a></td>
   <td align="right">496kB</td>
   <td><tt>64dd93b6a2ded7276ae14a80eb23638f79de2d87b040d2f782a7bda1fa742721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/kactivitymanagerd-5.26.3.tar.xz">kactivitymanagerd-5.26.3</a></td>
   <td align="right">106kB</td>
   <td><tt>2c6f5200c46008f4ae2002ebd1a696a45eb43ecf8d3a08e10de4a00a755966f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/kde-cli-tools-5.26.3.tar.xz">kde-cli-tools-5.26.3</a></td>
   <td align="right">616kB</td>
   <td><tt>fbbfcb5e4d9fac5b4e2df1b4d2af4adb0de83630e2fb0369098d30366de2e640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/kde-gtk-config-5.26.3.tar.xz">kde-gtk-config-5.26.3</a></td>
   <td align="right">72kB</td>
   <td><tt>275aacf7e2cfdbae7317795176b208235aeb99b1539780f3d25b082192c371ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/kdecoration-5.26.3.tar.xz">kdecoration-5.26.3</a></td>
   <td align="right">50kB</td>
   <td><tt>918b449136478233fc5219487df7ffaafc2b6ae1bd0cd74eab0d790caec3ec59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/kdeplasma-addons-5.26.3.tar.xz">kdeplasma-addons-5.26.3</a></td>
   <td align="right">672kB</td>
   <td><tt>c41d787eb6381447e836ad126e2d924aaa393be57146ac7565a80b791248478e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/kgamma5-5.26.3.tar.xz">kgamma5-5.26.3</a></td>
   <td align="right">84kB</td>
   <td><tt>876caa4a787c943428000122745e247683cc46e56a09ed130836224f63c65e5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/khotkeys-5.26.3.tar.xz">khotkeys-5.26.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7500019385813b6a243b472d18e9a6855dce655f91f357d8ce5b7c87cb70955f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/kinfocenter-5.26.3.tar.xz">kinfocenter-5.26.3</a></td>
   <td align="right">712kB</td>
   <td><tt>c558ea3f092ce722a39b0511ea24a212ce7a7c6a722a701f74796e9f2c19ac3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/kmenuedit-5.26.3.tar.xz">kmenuedit-5.26.3</a></td>
   <td align="right">883kB</td>
   <td><tt>7c073853dc2cf97fd09c5b8939365777068a4671432f8cf84312ba145dd6572d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/kpipewire-5.26.3.tar.xz">kpipewire-5.26.3</a></td>
   <td align="right">51kB</td>
   <td><tt>b4a865a38c8e2b281df4fe1405880fae4ed1ecba3229454b8af8a34dbecd7ca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/kscreen-5.26.3.tar.xz">kscreen-5.26.3</a></td>
   <td align="right">150kB</td>
   <td><tt>5a2fa3c74d891fd7355673d28cafc5127277eeca11a2351c5774ee228273ac15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/kscreenlocker-5.26.3.tar.xz">kscreenlocker-5.26.3</a></td>
   <td align="right">113kB</td>
   <td><tt>ce38d13e1075a5f8a318d802d83dc75e5b1dfee1c5b640be39af1ed57d334569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/ksshaskpass-5.26.3.tar.xz">ksshaskpass-5.26.3</a></td>
   <td align="right">26kB</td>
   <td><tt>91970e960b33cc6c54ffd8294904374b7e98c07edc26126e2aa453e32d677c16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/ksystemstats-5.26.3.tar.xz">ksystemstats-5.26.3</a></td>
   <td align="right">104kB</td>
   <td><tt>428985af05a782a4e464d5db1bddc6072c88b50e64829f62d6735236ba168246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/kwallet-pam-5.26.3.tar.xz">kwallet-pam-5.26.3</a></td>
   <td align="right">22kB</td>
   <td><tt>85221ede6b0fc5489223971030c2701e62bcd0fcf1d3236858cd73a91beb0a0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/kwayland-integration-5.26.3.tar.xz">kwayland-integration-5.26.3</a></td>
   <td align="right">26kB</td>
   <td><tt>e571d13d1e8473188c780784bab35ede12a8ddaf483d85afaf6c2700c2eec643</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/kwin-5.26.3.tar.xz">kwin-5.26.3</a></td>
   <td align="right">6.3MB</td>
   <td><tt>c1985f5796fc7fa559d93554e1ba23f57f4aeb213cbe470b516184da802c0a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/kwrited-5.26.3.tar.xz">kwrited-5.26.3</a></td>
   <td align="right">22kB</td>
   <td><tt>b275c1e78f4690ed49a552fee737e15f1669a60b5072fccbdc427c9172b8f64b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/layer-shell-qt-5.26.3.tar.xz">layer-shell-qt-5.26.3</a></td>
   <td align="right">17kB</td>
   <td><tt>02c3a0cf6351e97cda49d39712c698ed35444345c386d3c820f6880f4edca481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/libkscreen-5.26.3.tar.xz">libkscreen-5.26.3</a></td>
   <td align="right">102kB</td>
   <td><tt>eec38e5e4ada818ddbd364cb1066691b87dba7bb8b7e9c067633438f2051d7d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/libksysguard-5.26.3.tar.xz">libksysguard-5.26.3</a></td>
   <td align="right">779kB</td>
   <td><tt>c940eedc468a1862728bea329ba5172b1f19eaa1ac2382c533061b4b237b76d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/milou-5.26.3.tar.xz">milou-5.26.3</a></td>
   <td align="right">49kB</td>
   <td><tt>81cca7b3b9fa27b5cc178c0a68a0f5d213c9f21531242cb782630071f85e928b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/oxygen-5.26.3.tar.xz">oxygen-5.26.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>90b525e9af293a300a16079c90f513d6b7fddb07f81a8c8bbec93b2540a99fc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/oxygen-sounds-5.26.3.1.tar.xz">oxygen-sounds-5.26.3.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b0136db8d193d554768f30547fd27455e36221de208ca0958ad6afa5596e50cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plank-player-5.26.3.tar.xz">plank-player-5.26.3</a></td>
   <td align="right">152kB</td>
   <td><tt>d5760504837f08fc1b7eb76e462ef2ee886ebf5f7c03ee7c7cc38c665ed5959a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-bigscreen-5.26.3.tar.xz">plasma-bigscreen-5.26.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>981f3755efab18bebf1a9ee3e0f37d43b53773fc7680c09c8114e05d6747b98e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-browser-integration-5.26.3.tar.xz">plasma-browser-integration-5.26.3</a></td>
   <td align="right">231kB</td>
   <td><tt>f51ffe0b49769eeb58248a96978ac5c677a9c2cf3b3e36ca499299ff9ba18daf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-desktop-5.26.3.tar.xz">plasma-desktop-5.26.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>6174c23419d425ef1e73c6c81f0536458d685e3ec23cac66d8212d3ef3095cd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-disks-5.26.3.tar.xz">plasma-disks-5.26.3</a></td>
   <td align="right">90kB</td>
   <td><tt>f5d58bc4f766019bfd6700fd200ceaad49d07152b02df7430bcd6e729c854b3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-firewall-5.26.3.tar.xz">plasma-firewall-5.26.3</a></td>
   <td align="right">349kB</td>
   <td><tt>9dcf0d2cb56ddca9beaf6bc17edd88316831558c2b51af61c17a092b761d4265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-integration-5.26.3.tar.xz">plasma-integration-5.26.3</a></td>
   <td align="right">86kB</td>
   <td><tt>c70723dd22a7e8ffc7f70066bc01a9033a0c0f2d728e60a97c9deb9b3834daed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-mobile-5.26.3.tar.xz">plasma-mobile-5.26.3</a></td>
   <td align="right">3.2MB</td>
   <td><tt>1074597d9aea010239cc8ad670c530ecef6bb1e989a00bffe69a46bd02129550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-nano-5.26.3.tar.xz">plasma-nano-5.26.3</a></td>
   <td align="right">70kB</td>
   <td><tt>f3f86d38e5b68244565c1e974b2b33ca2147a2bce25f9642ca3aefa4117556d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-nm-5.26.3.tar.xz">plasma-nm-5.26.3</a></td>
   <td align="right">949kB</td>
   <td><tt>ccfbe391c0205cd28187a34a0548992e31c8cf5b069543ef38b50d5fa8a541e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-pa-5.26.3.tar.xz">plasma-pa-5.26.3</a></td>
   <td align="right">139kB</td>
   <td><tt>33a2e7654e776353b0aa74c88c672d7b3cfcf1d10a2ed4b9511886d8d6920807</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-remotecontrollers-5.26.3.tar.xz">plasma-remotecontrollers-5.26.3</a></td>
   <td align="right">68kB</td>
   <td><tt>82f1f91627f7259eae5ddbaf6335172c86c3ca33e926b46b87f81e918066aa42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-sdk-5.26.3.tar.xz">plasma-sdk-5.26.3</a></td>
   <td align="right">267kB</td>
   <td><tt>2e905821ac1da77f72af4687280e5d6293f941267bca6b3ec3cc26763165e168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-systemmonitor-5.26.3.tar.xz">plasma-systemmonitor-5.26.3</a></td>
   <td align="right">164kB</td>
   <td><tt>9fbf2889d1f991a4984e19f0db7083831533463b9a0bcc886e830d04b2fcbb85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-tests-5.26.3.tar.xz">plasma-tests-5.26.3</a></td>
   <td align="right">1kB</td>
   <td><tt>fb1f3731b99fabb36a26e9790a94206e2b35fed1ee764f37d2d407ea36cce1d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-thunderbolt-5.26.3.tar.xz">plasma-thunderbolt-5.26.3</a></td>
   <td align="right">70kB</td>
   <td><tt>cf58570ce0caa18cc06fb07840ead5e55e1cc9d28a77bae34c0fc1d989080bf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-vault-5.26.3.tar.xz">plasma-vault-5.26.3</a></td>
   <td align="right">180kB</td>
   <td><tt>ae425285f5c03ec6ddde22b6b116bd56918cf2b472f506dde76ba37fac94b426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-workspace-5.26.3.tar.xz">plasma-workspace-5.26.3</a></td>
   <td align="right">16MB</td>
   <td><tt>0a2c1e98e3e540822db833a6f8d0a35a174d327e56a81756b3baf0d8ba35c953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plasma-workspace-wallpapers-5.26.3.tar.xz">plasma-workspace-wallpapers-5.26.3</a></td>
   <td align="right">80MB</td>
   <td><tt>61345372a5513c197703ec798db44cf80854ce3ef3a56dd58baf109491753ce3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/plymouth-kcm-5.26.3.tar.xz">plymouth-kcm-5.26.3</a></td>
   <td align="right">43kB</td>
   <td><tt>65985ae40c69d84c9c490b02a73acc2b6bb7b4b779ae4f4e66d512c52c1fd792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/polkit-kde-agent-1-5.26.3.tar.xz">polkit-kde-agent-1-5.26.3</a></td>
   <td align="right">48kB</td>
   <td><tt>2f98b07ce9e44dc2883ab4b490e68b5f0f4694fae514dbf696383e1c9af4a671</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/powerdevil-5.26.3.tar.xz">powerdevil-5.26.3</a></td>
   <td align="right">627kB</td>
   <td><tt>bb8c3e2a3cb2e5fd140de6807e250794abf9075d43091e03da0a91c39ecf2005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/qqc2-breeze-style-5.26.3.tar.xz">qqc2-breeze-style-5.26.3</a></td>
   <td align="right">64kB</td>
   <td><tt>2cbd091b8d34182786776b2f0cf52ce672b295b0a6a3eb99dabc99974241dd12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/sddm-kcm-5.26.3.tar.xz">sddm-kcm-5.26.3</a></td>
   <td align="right">80kB</td>
   <td><tt>2a76a5ac4c9f24cf143b10cefce9d68334502ade89ef571b0f53520534e6d3f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/systemsettings-5.26.3.tar.xz">systemsettings-5.26.3</a></td>
   <td align="right">201kB</td>
   <td><tt>c3e361531bf619797ed5a246ad0b64650a3d9306acae85cf7a874c7b10e098b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.3/xdg-desktop-portal-kde-5.26.3.tar.xz">xdg-desktop-portal-kde-5.26.3</a></td>
   <td align="right">107kB</td>
   <td><tt>57def236877f336c867ee7b3f57437416e84dfe0b9dd1c3ed3de6b5fd01ca7d3</tt></td>
</tr>

</table>
