<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/akonadi-21.12.1.tar.xz">akonadi-21.12.1</a></td>
   <td align="right">1573kB</td>
   <td><tt>5125c0dbe2ff2e3202613a8c8f00959fc13921b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/akonadi-calendar-21.12.1.tar.xz">akonadi-calendar-21.12.1</a></td>
   <td align="right">344kB</td>
   <td><tt>4e2d453fd0c11cb6c076442466017217ce2984db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/akonadi-calendar-tools-21.12.1.tar.xz">akonadi-calendar-tools-21.12.1</a></td>
   <td align="right">230kB</td>
   <td><tt>ad47cd8ed2fc943a84125211a6b367e2116edd95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/akonadiconsole-21.12.1.tar.xz">akonadiconsole-21.12.1</a></td>
   <td align="right">195kB</td>
   <td><tt>3775673da93fb2785a43fcc3162629afc6049a5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/akonadi-contacts-21.12.1.tar.xz">akonadi-contacts-21.12.1</a></td>
   <td align="right">415kB</td>
   <td><tt>858dec57833ffee9ed21e8209ace0738c44af259</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/akonadi-import-wizard-21.12.1.tar.xz">akonadi-import-wizard-21.12.1</a></td>
   <td align="right">498kB</td>
   <td><tt>fec78e5b8a18bcd0c4dbb376c8428ff5023b7d93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/akonadi-mime-21.12.1.tar.xz">akonadi-mime-21.12.1</a></td>
   <td align="right">138kB</td>
   <td><tt>6d8b255f2c78a7f3954f0a9cfba7abc357c87be0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/akonadi-notes-21.12.1.tar.xz">akonadi-notes-21.12.1</a></td>
   <td align="right">25kB</td>
   <td><tt>8669365c6f5c1e9149d15ca4fae402e6ac0dfac2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/akonadi-search-21.12.1.tar.xz">akonadi-search-21.12.1</a></td>
   <td align="right">95kB</td>
   <td><tt>351bb0a80f8fbf3bcea794e84e7be593a254281a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/akregator-21.12.1.tar.xz">akregator-21.12.1</a></td>
   <td align="right">2199kB</td>
   <td><tt>21ec3703f55cd6e0f037d7b56a40e0a95909c12e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/analitza-21.12.1.tar.xz">analitza-21.12.1</a></td>
   <td align="right">339kB</td>
   <td><tt>31a68097070eaa3d2895622a9afa77209839a5e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ark-21.12.1.tar.xz">ark-21.12.1</a></td>
   <td align="right">2706kB</td>
   <td><tt>5e9fbd4a5e68629fef835618c0f540550830676b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/artikulate-21.12.1.tar.xz">artikulate-21.12.1</a></td>
   <td align="right">1065kB</td>
   <td><tt>88cb9ec1782c92330a765ce229739230f85e7f49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/audiocd-kio-21.12.1.tar.xz">audiocd-kio-21.12.1</a></td>
   <td align="right">510kB</td>
   <td><tt>33fbaf1b01900b044b80052930ff1fee27d91c9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/baloo-widgets-21.12.1.tar.xz">baloo-widgets-21.12.1</a></td>
   <td align="right">256kB</td>
   <td><tt>ce7382e67f38f70be8548f2c905c947dc3fe5c3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/blinken-21.12.1.tar.xz">blinken-21.12.1</a></td>
   <td align="right">2650kB</td>
   <td><tt>83c8768d105b5d18e2747e47b0f480968fcc0213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/bomber-21.12.1.tar.xz">bomber-21.12.1</a></td>
   <td align="right">811kB</td>
   <td><tt>a608ebe0b6cccaa0711e660336837f302581b576</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/bovo-21.12.1.tar.xz">bovo-21.12.1</a></td>
   <td align="right">204kB</td>
   <td><tt>0fa1eadadd41a864770ffeb3836a7c0720b06293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/calendarsupport-21.12.1.tar.xz">calendarsupport-21.12.1</a></td>
   <td align="right">747kB</td>
   <td><tt>464e92ffec3c5c2105e3651ec7b2efedaaf7a5d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/cantor-21.12.1.tar.xz">cantor-21.12.1</a></td>
   <td align="right">8970kB</td>
   <td><tt>8e2c9c954cc6351c207ec8d3806c33a0a26fbbb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/cervisia-21.12.1.tar.xz">cervisia-21.12.1</a></td>
   <td align="right">1867kB</td>
   <td><tt>5e7c3db2581713b2d9f7a1ac7d44326c484aef0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/dolphin-21.12.1.tar.xz">dolphin-21.12.1</a></td>
   <td align="right">5213kB</td>
   <td><tt>93c4f588081fb6af8c5f4f8743813b24af003e3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/dolphin-plugins-21.12.1.tar.xz">dolphin-plugins-21.12.1</a></td>
   <td align="right">248kB</td>
   <td><tt>f6e3a97a1e2679c8d6982299e2877c37df0d9f8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/dragon-21.12.1.tar.xz">dragon-21.12.1</a></td>
   <td align="right">1626kB</td>
   <td><tt>03a01b7c8386deca6fa6cc24360c44c784f601a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/elisa-21.12.1.tar.xz">elisa-21.12.1</a></td>
   <td align="right">1704kB</td>
   <td><tt>ca475c9c5eeaaa1e7e9b24bf35525ee6e3fd28e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/eventviews-21.12.1.tar.xz">eventviews-21.12.1</a></td>
   <td align="right">443kB</td>
   <td><tt>7d852605570ec67d7caeb372c01e761d7c32a1a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ffmpegthumbs-21.12.1.tar.xz">ffmpegthumbs-21.12.1</a></td>
   <td align="right">29kB</td>
   <td><tt>8688173a43dae337a98b06d69f48fcf164097544</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/filelight-21.12.1.tar.xz">filelight-21.12.1</a></td>
   <td align="right">668kB</td>
   <td><tt>d8e073659255c07285f61b20247c8cede9ff5fb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/granatier-21.12.1.tar.xz">granatier-21.12.1</a></td>
   <td align="right">2048kB</td>
   <td><tt>6c73ba07dfa2b2ccab2452da89eadd7617ccf2af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/grantlee-editor-21.12.1.tar.xz">grantlee-editor-21.12.1</a></td>
   <td align="right">108kB</td>
   <td><tt>65520bb627e9fa406a819980484bbc2bd9860721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/grantleetheme-21.12.1.tar.xz">grantleetheme-21.12.1</a></td>
   <td align="right">58kB</td>
   <td><tt>ea63ca2026ef658ea064814b5c67ca31691675f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/gwenview-21.12.1.tar.xz">gwenview-21.12.1</a></td>
   <td align="right">6633kB</td>
   <td><tt>7636f92a752bdf87c12bbeea1aeb5d17273777b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/incidenceeditor-21.12.1.tar.xz">incidenceeditor-21.12.1</a></td>
   <td align="right">533kB</td>
   <td><tt>5631590de886e4a3adc0fd6017c97a423e762af8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/itinerary-21.12.1.tar.xz">itinerary-21.12.1</a></td>
   <td align="right">459kB</td>
   <td><tt>9cb687bbb9d6eb9a2dc4eb2d5768d120998579c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/juk-21.12.1.tar.xz">juk-21.12.1</a></td>
   <td align="right">1966kB</td>
   <td><tt>bb9e77801e12a7193fc76de24117f80181579fc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/k3b-21.12.1.tar.xz">k3b-21.12.1</a></td>
   <td align="right">10498kB</td>
   <td><tt>7328e13f71213044e317625c82ec277c79011e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kaccounts-integration-21.12.1.tar.xz">kaccounts-integration-21.12.1</a></td>
   <td align="right">85kB</td>
   <td><tt>2b57c6629dd81e1927b7fa43d14daa1089c253a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kaccounts-providers-21.12.1.tar.xz">kaccounts-providers-21.12.1</a></td>
   <td align="right">62kB</td>
   <td><tt>a5fc609f14a8c1043de2eb7e1d3768cb16ea6c22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kaddressbook-21.12.1.tar.xz">kaddressbook-21.12.1</a></td>
   <td align="right">3247kB</td>
   <td><tt>93aff9489c54dda28ebcd43e4974488e952ad0d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kajongg-21.12.1.tar.xz">kajongg-21.12.1</a></td>
   <td align="right">4453kB</td>
   <td><tt>87a151cf12c5c4ca54bd26b1dedbf1fecee0400b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kalarm-21.12.1.tar.xz">kalarm-21.12.1</a></td>
   <td align="right">2142kB</td>
   <td><tt>403f11c1331bbe553bd84ca906a5c6dcda4f3c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kalarmcal-21.12.1.tar.xz">kalarmcal-21.12.1</a></td>
   <td align="right">615kB</td>
   <td><tt>d677f1c06852382e9189928ceaf68d9eb720b0a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kalgebra-21.12.1.tar.xz">kalgebra-21.12.1</a></td>
   <td align="right">1002kB</td>
   <td><tt>a8b60416d65b58c917a3b18498ef25324a17c2e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kalzium-21.12.1.tar.xz">kalzium-21.12.1</a></td>
   <td align="right">24016kB</td>
   <td><tt>f48959340c8ab6f5abf359e9322eeaea81eb77cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kamera-21.12.1.tar.xz">kamera-21.12.1</a></td>
   <td align="right">114kB</td>
   <td><tt>8f4afd39f0857c188a4d65ffcbafc381882a3540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kamoso-21.12.1.tar.xz">kamoso-21.12.1</a></td>
   <td align="right">210kB</td>
   <td><tt>91a5c90c19f672d61a8969cf46436308ac2a573b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kanagram-21.12.1.tar.xz">kanagram-21.12.1</a></td>
   <td align="right">7855kB</td>
   <td><tt>dcf7cb0be56ba39b23d560d66aa0a8a2c003d6e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kapman-21.12.1.tar.xz">kapman-21.12.1</a></td>
   <td align="right">2413kB</td>
   <td><tt>d8214a5f33b4218365d6af69e69054603bc93d41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kapptemplate-21.12.1.tar.xz">kapptemplate-21.12.1</a></td>
   <td align="right">327kB</td>
   <td><tt>5074e37ebaa864714e4ff2b3a4abce9dec632e11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kate-21.12.1.tar.xz">kate-21.12.1</a></td>
   <td align="right">7219kB</td>
   <td><tt>ff51e9d0879e849eb8256ec64c60213eddc47ec7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/katomic-21.12.1.tar.xz">katomic-21.12.1</a></td>
   <td align="right">1401kB</td>
   <td><tt>ea2d96c7175c4af9ef578cffb6d00207b82e753b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kbackup-21.12.1.tar.xz">kbackup-21.12.1</a></td>
   <td align="right">379kB</td>
   <td><tt>0985598d6cd0a09e60e08eb0d039f817410b8f09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kblackbox-21.12.1.tar.xz">kblackbox-21.12.1</a></td>
   <td align="right">511kB</td>
   <td><tt>52022c5bfc13ec8b07311f2bf68dd80b36c17dfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kblocks-21.12.1.tar.xz">kblocks-21.12.1</a></td>
   <td align="right">2051kB</td>
   <td><tt>e752617b63689e2794e4f9791a38ca49f8800375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kbounce-21.12.1.tar.xz">kbounce-21.12.1</a></td>
   <td align="right">3445kB</td>
   <td><tt>3cfb609556ad4fb36e09cda0a26687ab9425ee1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kbreakout-21.12.1.tar.xz">kbreakout-21.12.1</a></td>
   <td align="right">2492kB</td>
   <td><tt>ea7a13522892dabdb42e01b9eefb5d7e1b2ed857</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kbruch-21.12.1.tar.xz">kbruch-21.12.1</a></td>
   <td align="right">5496kB</td>
   <td><tt>dc8cf7de3351810908c492e01d84b6ba362ff825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kcachegrind-21.12.1.tar.xz">kcachegrind-21.12.1</a></td>
   <td align="right">845kB</td>
   <td><tt>758ad244937b22566b4e448ed5d67f3368d85b79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kcalc-21.12.1.tar.xz">kcalc-21.12.1</a></td>
   <td align="right">375kB</td>
   <td><tt>208ef71be9793cb4f5e46bd5943d9b51aa03727b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kcalutils-21.12.1.tar.xz">kcalutils-21.12.1</a></td>
   <td align="right">330kB</td>
   <td><tt>34168044276dac3f091f2754ea22e5796caba8b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kcharselect-21.12.1.tar.xz">kcharselect-21.12.1</a></td>
   <td align="right">364kB</td>
   <td><tt>f22426854fbbaeacdfa5d42b5700abc6c6c098ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kcolorchooser-21.12.1.tar.xz">kcolorchooser-21.12.1</a></td>
   <td align="right">29kB</td>
   <td><tt>c96faa49007d34b1c0ca169686e4f896c5b23c5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kcron-21.12.1.tar.xz">kcron-21.12.1</a></td>
   <td align="right">894kB</td>
   <td><tt>1e5abc1de3d60e644caf744c9f9da139409bcd5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdebugsettings-21.12.1.tar.xz">kdebugsettings-21.12.1</a></td>
   <td align="right">90kB</td>
   <td><tt>149dd7041561bd8f5791e0b48fef4c87af6d2ab4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdeconnect-kde-21.12.1.tar.xz">kdeconnect-kde-21.12.1</a></td>
   <td align="right">594kB</td>
   <td><tt>d04df290a5bbada6c3e48df8a9931a6a40b46a40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kde-dev-scripts-21.12.1.tar.xz">kde-dev-scripts-21.12.1</a></td>
   <td align="right">357kB</td>
   <td><tt>01885ff387fa42a06e37504aca8a4218b833133e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kde-dev-utils-21.12.1.tar.xz">kde-dev-utils-21.12.1</a></td>
   <td align="right">66kB</td>
   <td><tt>e8ce048593785f280d8400a981e51f6c2485e8b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdeedu-data-21.12.1.tar.xz">kdeedu-data-21.12.1</a></td>
   <td align="right">327kB</td>
   <td><tt>4bac85b5d5518fe20540e3dbc0aa14fc96069e8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdegraphics-mobipocket-21.12.1.tar.xz">kdegraphics-mobipocket-21.12.1</a></td>
   <td align="right">16kB</td>
   <td><tt>1fb9e6d0d7c58f1075ae8e558cb54110ab522bc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdegraphics-thumbnailers-21.12.1.tar.xz">kdegraphics-thumbnailers-21.12.1</a></td>
   <td align="right">46kB</td>
   <td><tt>b8839dd2c6e5c427d8a22da47bafbd5d9748a08d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdenetwork-filesharing-21.12.1.tar.xz">kdenetwork-filesharing-21.12.1</a></td>
   <td align="right">370kB</td>
   <td><tt>6bbf782326066245b373d0787bb60a6efef4c97d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdenlive-21.12.1.tar.xz">kdenlive-21.12.1</a></td>
   <td align="right">11412kB</td>
   <td><tt>1b411da8e535646641c9153027965da577be6c57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdepim-addons-21.12.1.tar.xz">kdepim-addons-21.12.1</a></td>
   <td align="right">2242kB</td>
   <td><tt>a34fd40afebea562ae7dda8cdd12ea205e1934e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdepim-runtime-21.12.1.tar.xz">kdepim-runtime-21.12.1</a></td>
   <td align="right">1764kB</td>
   <td><tt>120f760cd77c155ba7e46ecf32fa212775174d37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdesdk-kioslaves-21.12.1.tar.xz">kdesdk-kioslaves-21.12.1</a></td>
   <td align="right">38kB</td>
   <td><tt>17fa9d984ce3c73603d741b8b6335b71064d6485</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdesdk-thumbnailers-21.12.1.tar.xz">kdesdk-thumbnailers-21.12.1</a></td>
   <td align="right">25kB</td>
   <td><tt>61fcc467a7d28687d47d166600b93ff7b75166f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdevelop-21.12.1.tar.xz">kdevelop-21.12.1</a></td>
   <td align="right">8199kB</td>
   <td><tt>eda50a2bd421aa83b00f0be6c90cb8bb15184fb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdev-php-21.12.1.tar.xz">kdev-php-21.12.1</a></td>
   <td align="right">1054kB</td>
   <td><tt>46b75593f882ecff35616fdda6d49606712ef887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdev-python-21.12.1.tar.xz">kdev-python-21.12.1</a></td>
   <td align="right">1064kB</td>
   <td><tt>2f3b8a6b384a1f226a72fd46bc993475f7629e9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdf-21.12.1.tar.xz">kdf-21.12.1</a></td>
   <td align="right">463kB</td>
   <td><tt>0a08388fefa99de4ef71a34701bf924050d0fbf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdialog-21.12.1.tar.xz">kdialog-21.12.1</a></td>
   <td align="right">113kB</td>
   <td><tt>d335dee20c51290db2e33d78f9cf66081e697529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kdiamond-21.12.1.tar.xz">kdiamond-21.12.1</a></td>
   <td align="right">4590kB</td>
   <td><tt>575c3fc7365421a011d7db5e284c9fe25d2fe6d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/keditbookmarks-21.12.1.tar.xz">keditbookmarks-21.12.1</a></td>
   <td align="right">199kB</td>
   <td><tt>33696cf7a882f257ab7b107a6042b9aa2c6fa477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kfind-21.12.1.tar.xz">kfind-21.12.1</a></td>
   <td align="right">280kB</td>
   <td><tt>86cc35b6740b96251165ab9fb2b8b06c076e7e96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kfloppy-21.12.1.tar.xz">kfloppy-21.12.1</a></td>
   <td align="right">208kB</td>
   <td><tt>a54fc1db4edac171839ef7f147a5b4918b749c22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kfourinline-21.12.1.tar.xz">kfourinline-21.12.1</a></td>
   <td align="right">702kB</td>
   <td><tt>e63292c5601f229f3f672420d088adde68258775</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kgeography-21.12.1.tar.xz">kgeography-21.12.1</a></td>
   <td align="right">10828kB</td>
   <td><tt>3a0fa8a23ff1f5e1e0d9ab5e9bd3eaef51862e45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kget-21.12.1.tar.xz">kget-21.12.1</a></td>
   <td align="right">5502kB</td>
   <td><tt>240bbc7e035c94e9d1dd1a32460b73460df3ac17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kgoldrunner-21.12.1.tar.xz">kgoldrunner-21.12.1</a></td>
   <td align="right">4657kB</td>
   <td><tt>0d4033690404361d4644e22094f02649e4d0ab70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kgpg-21.12.1.tar.xz">kgpg-21.12.1</a></td>
   <td align="right">2877kB</td>
   <td><tt>ad79affaee3bc64c5163cf9697d5bb57c7824a24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/khangman-21.12.1.tar.xz">khangman-21.12.1</a></td>
   <td align="right">7259kB</td>
   <td><tt>a80dc66664d2d6900ff7d40e2a9d3e99c3722d41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/khelpcenter-21.12.1.tar.xz">khelpcenter-21.12.1</a></td>
   <td align="right">4191kB</td>
   <td><tt>53d5e08af54f7504489ccd43964f19f5eb0e7e08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kidentitymanagement-21.12.1.tar.xz">kidentitymanagement-21.12.1</a></td>
   <td align="right">154kB</td>
   <td><tt>280e72f3539bbf2391b0f729a0b20e90511d211e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kig-21.12.1.tar.xz">kig-21.12.1</a></td>
   <td align="right">3100kB</td>
   <td><tt>de3a78091e653b4a67499ccebfa29b8be32c8222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kigo-21.12.1.tar.xz">kigo-21.12.1</a></td>
   <td align="right">5129kB</td>
   <td><tt>cb06942b92331ca5a19ce907bbf1650e3d06c7f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/killbots-21.12.1.tar.xz">killbots-21.12.1</a></td>
   <td align="right">1165kB</td>
   <td><tt>2cf871e8913e2d595e68ea1c0fd51a0c1ef40ccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kimagemapeditor-21.12.1.tar.xz">kimagemapeditor-21.12.1</a></td>
   <td align="right">1064kB</td>
   <td><tt>6ac3cb7035d9f6db18c9f7fc804b133e612abee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kimap-21.12.1.tar.xz">kimap-21.12.1</a></td>
   <td align="right">124kB</td>
   <td><tt>eb8d34d70940ccc590183112abd7402e8543a960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kio-extras-21.12.1.tar.xz">kio-extras-21.12.1</a></td>
   <td align="right">619kB</td>
   <td><tt>872dd945157cab60cdd2da2d4e516bdecec76788</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kio-gdrive-21.12.1.tar.xz">kio-gdrive-21.12.1</a></td>
   <td align="right">68kB</td>
   <td><tt>6ee69480de4746e9b20e281aed7c70ad23ad6c04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kipi-plugins-21.12.1.tar.xz">kipi-plugins-21.12.1</a></td>
   <td align="right">1510kB</td>
   <td><tt>49d4ef3c1b7e424a541047f747a9120fa8334ee6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kirigami-gallery-21.12.1.tar.xz">kirigami-gallery-21.12.1</a></td>
   <td align="right">323kB</td>
   <td><tt>62b23a5fe476d65d4d3fb9a1d10ef6f83e3183a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kiriki-21.12.1.tar.xz">kiriki-21.12.1</a></td>
   <td align="right">356kB</td>
   <td><tt>89899813fa1b41b964fbc1d22a1862e3ae5adb68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kiten-21.12.1.tar.xz">kiten-21.12.1</a></td>
   <td align="right">11049kB</td>
   <td><tt>40dc7f91faaf6528e3c1b2c3e2e715a509b39d0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kitinerary-21.12.1.tar.xz">kitinerary-21.12.1</a></td>
   <td align="right">1813kB</td>
   <td><tt>1641fc459c08bec087697ee7d1994b4862b5c83d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kjumpingcube-21.12.1.tar.xz">kjumpingcube-21.12.1</a></td>
   <td align="right">315kB</td>
   <td><tt>50a935ac56cb0dc31e376027b0fefb65798f5a3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kldap-21.12.1.tar.xz">kldap-21.12.1</a></td>
   <td align="right">168kB</td>
   <td><tt>dec043cf75bf4114c3fe0d1b88da148c1187059d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kleopatra-21.12.1.tar.xz">kleopatra-21.12.1</a></td>
   <td align="right">2100kB</td>
   <td><tt>aec7269ffc6fc6988c438db6b574f66f072aaa25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/klettres-21.12.1.tar.xz">klettres-21.12.1</a></td>
   <td align="right">46034kB</td>
   <td><tt>dde255f30ed5f9f08aaa4fbb01db9c4a33036fbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/klickety-21.12.1.tar.xz">klickety-21.12.1</a></td>
   <td align="right">1457kB</td>
   <td><tt>439bdd87187e7563508b4af81ae439fec4e84a6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/klines-21.12.1.tar.xz">klines-21.12.1</a></td>
   <td align="right">1684kB</td>
   <td><tt>a0847b9e111d11ccab80a727e3bf425f72c45642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kmag-21.12.1.tar.xz">kmag-21.12.1</a></td>
   <td align="right">692kB</td>
   <td><tt>7f18b8f8c90a9f5bb572798992ea0596772404e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kmahjongg-21.12.1.tar.xz">kmahjongg-21.12.1</a></td>
   <td align="right">3973kB</td>
   <td><tt>a21a5184252bbd47595a1c29c8ded706e4605a5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kmail-21.12.1.tar.xz">kmail-21.12.1</a></td>
   <td align="right">6893kB</td>
   <td><tt>6766bbbe55c26edbf1584c6df5a270b8b7ca1213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kmail-account-wizard-21.12.1.tar.xz">kmail-account-wizard-21.12.1</a></td>
   <td align="right">164kB</td>
   <td><tt>a422709130cb4c92ab4ae0b09e878695b1d103e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kmailtransport-21.12.1.tar.xz">kmailtransport-21.12.1</a></td>
   <td align="right">169kB</td>
   <td><tt>32a1cf9bd632a5e00984493e3e5ccf8e01e521a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kmbox-21.12.1.tar.xz">kmbox-21.12.1</a></td>
   <td align="right">27kB</td>
   <td><tt>ea671ff202902e4019a8732d6b78402284f4d8f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kmime-21.12.1.tar.xz">kmime-21.12.1</a></td>
   <td align="right">151kB</td>
   <td><tt>1570c874ea37ecbebe4c81b7b04e1123167f7004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kmines-21.12.1.tar.xz">kmines-21.12.1</a></td>
   <td align="right">967kB</td>
   <td><tt>e0d850545ab6b15ad3ed138eef86c75e84569718</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kmix-21.12.1.tar.xz">kmix-21.12.1</a></td>
   <td align="right">1136kB</td>
   <td><tt>00b534215f47ec30b48d76f72f0907d8b42683ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kmousetool-21.12.1.tar.xz">kmousetool-21.12.1</a></td>
   <td align="right">118kB</td>
   <td><tt>c1f064ae23602612aa35e91d762c3e53f577e829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kmouth-21.12.1.tar.xz">kmouth-21.12.1</a></td>
   <td align="right">2058kB</td>
   <td><tt>1f379d5fbf591a63d84ea15df767e99a05d9e4fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kmplot-21.12.1.tar.xz">kmplot-21.12.1</a></td>
   <td align="right">2972kB</td>
   <td><tt>a4175bb51936053644252e060b062af2acb9a773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/knavalbattle-21.12.1.tar.xz">knavalbattle-21.12.1</a></td>
   <td align="right">1343kB</td>
   <td><tt>fa3bccb53437e09f1435fffa69c5854f85ada93c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/knetwalk-21.12.1.tar.xz">knetwalk-21.12.1</a></td>
   <td align="right">1068kB</td>
   <td><tt>6e69532f85fa197ac44f415de8ffb0ba58cb0e8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/knights-21.12.1.tar.xz">knights-21.12.1</a></td>
   <td align="right">3242kB</td>
   <td><tt>03fc7b9ff7d26f0e3e14ddd1f8f3025155027b7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/knotes-21.12.1.tar.xz">knotes-21.12.1</a></td>
   <td align="right">336kB</td>
   <td><tt>3d2a4c1f192d22cbac9c370d4686febe695f37d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kolf-21.12.1.tar.xz">kolf-21.12.1</a></td>
   <td align="right">1024kB</td>
   <td><tt>b8bc012bbbe741dece0b3f4e4eea5da75ed9488e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kollision-21.12.1.tar.xz">kollision-21.12.1</a></td>
   <td align="right">291kB</td>
   <td><tt>390f2e0fcb7c475e0ed486e4d0d3b21017d41f11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kolourpaint-21.12.1.tar.xz">kolourpaint-21.12.1</a></td>
   <td align="right">5582kB</td>
   <td><tt>bb44c28cf34e810fbf65e35d49fe843786263995</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kompare-21.12.1.tar.xz">kompare-21.12.1</a></td>
   <td align="right">920kB</td>
   <td><tt>2029b25d3c6955e51c41939280c58d2bf701fd62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/konqueror-21.12.1.tar.xz">konqueror-21.12.1</a></td>
   <td align="right">7254kB</td>
   <td><tt>25b4a7ed741dcf31d1d44a4effbf4a8da6d7126b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/konquest-21.12.1.tar.xz">konquest-21.12.1</a></td>
   <td align="right">840kB</td>
   <td><tt>283f45b57c70fe0cf82b14152a9ac2d5bdc41328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/konsole-21.12.1.tar.xz">konsole-21.12.1</a></td>
   <td align="right">1357kB</td>
   <td><tt>6cc7d847058a91a4b3f90e1545d96bf8679c0e09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kontact-21.12.1.tar.xz">kontact-21.12.1</a></td>
   <td align="right">804kB</td>
   <td><tt>3efe0d32e72e4ccdda9b57b2176016d9fe207926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kontactinterface-21.12.1.tar.xz">kontactinterface-21.12.1</a></td>
   <td align="right">39kB</td>
   <td><tt>b3d32ca8ee2a90da445c3da4cfd2967bbf7b8180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kontrast-21.12.1.tar.xz">kontrast-21.12.1</a></td>
   <td align="right">122kB</td>
   <td><tt>92492da62d8606c80425c262ce23ade7185086f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/konversation-21.12.1.tar.xz">konversation-21.12.1</a></td>
   <td align="right">4155kB</td>
   <td><tt>d556eb814d97b72203a03d54914059bb51d6fd64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kopeninghours-21.12.1.tar.xz">kopeninghours-21.12.1</a></td>
   <td align="right">67kB</td>
   <td><tt>b3f71d7df25d05d5e6965270e322159895a23315</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kopete-21.12.1.tar.xz">kopete-21.12.1</a></td>
   <td align="right">9441kB</td>
   <td><tt>16923a90e71de566792feeb01a3ccc10278d071b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/korganizer-21.12.1.tar.xz">korganizer-21.12.1</a></td>
   <td align="right">2341kB</td>
   <td><tt>e75be0621d8b0c9017b3dd6c96881ea26159ae32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kosmindoormap-21.12.1.tar.xz">kosmindoormap-21.12.1</a></td>
   <td align="right">342kB</td>
   <td><tt>b1ca0cd5abfcce30efa7a6955afb22b8e39a9905</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kpat-21.12.1.tar.xz">kpat-21.12.1</a></td>
   <td align="right">3643kB</td>
   <td><tt>6437b6a774ebeb050dd85130dc7cdf7ac9f5bb11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kpimtextedit-21.12.1.tar.xz">kpimtextedit-21.12.1</a></td>
   <td align="right">206kB</td>
   <td><tt>124ac626eaab81e2e6b9ffa844f589e710516aeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kpkpass-21.12.1.tar.xz">kpkpass-21.12.1</a></td>
   <td align="right">27kB</td>
   <td><tt>317b4cd6bbc573478afc72aea70dd86a5617a09f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kpmcore-21.12.1.tar.xz">kpmcore-21.12.1</a></td>
   <td align="right">580kB</td>
   <td><tt>65d478f31c1e149707b4fb4a4b157cedfaf80896</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kpublictransport-21.12.1.tar.xz">kpublictransport-21.12.1</a></td>
   <td align="right">469kB</td>
   <td><tt>f2ce2d13276f59a3c4bffab69d470bd6902a9172</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kqtquickcharts-21.12.1.tar.xz">kqtquickcharts-21.12.1</a></td>
   <td align="right">29kB</td>
   <td><tt>19bafd4357591d451e787680072183f65364f720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/krdc-21.12.1.tar.xz">krdc-21.12.1</a></td>
   <td align="right">1546kB</td>
   <td><tt>adae72f41fbd5355df340c9604bd9a39f2bb43bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kreversi-21.12.1.tar.xz">kreversi-21.12.1</a></td>
   <td align="right">1035kB</td>
   <td><tt>9c61f6fdb5250bc83a8e424cd8378c883823e1bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/krfb-21.12.1.tar.xz">krfb-21.12.1</a></td>
   <td align="right">1271kB</td>
   <td><tt>9deac52cb5fad3a59ffd2a2846d10c1c8df82a55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kross-interpreters-21.12.1.tar.xz">kross-interpreters-21.12.1</a></td>
   <td align="right">147kB</td>
   <td><tt>0b2fabc56d2a16681ca73b53c3d4a28b5226e69e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kruler-21.12.1.tar.xz">kruler-21.12.1</a></td>
   <td align="right">270kB</td>
   <td><tt>ef126181238ace8fb88a3372fa907b9113a803d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kshisen-21.12.1.tar.xz">kshisen-21.12.1</a></td>
   <td align="right">965kB</td>
   <td><tt>1aecabf11395e9251a3aae3c811aa5a5d6702857</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ksirk-21.12.1.tar.xz">ksirk-21.12.1</a></td>
   <td align="right">6839kB</td>
   <td><tt>34b8001c0164a08fbd916d4c8194cbed3321591d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ksmtp-21.12.1.tar.xz">ksmtp-21.12.1</a></td>
   <td align="right">46kB</td>
   <td><tt>eb3213e1df323a29f4e2caab2f05b7e059716f82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ksnakeduel-21.12.1.tar.xz">ksnakeduel-21.12.1</a></td>
   <td align="right">589kB</td>
   <td><tt>78a62c79b1c749456e924b759b5747391d1931de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kspaceduel-21.12.1.tar.xz">kspaceduel-21.12.1</a></td>
   <td align="right">633kB</td>
   <td><tt>3b263d23a6a2efc40f7082a23a0827faa48a71ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ksquares-21.12.1.tar.xz">ksquares-21.12.1</a></td>
   <td align="right">297kB</td>
   <td><tt>682052d7a8b744fd9524158b55ad942f34c3a5fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ksudoku-21.12.1.tar.xz">ksudoku-21.12.1</a></td>
   <td align="right">1645kB</td>
   <td><tt>75bd97f52e79dfa4c88b4d1e2349f3edd9c76121</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ksystemlog-21.12.1.tar.xz">ksystemlog-21.12.1</a></td>
   <td align="right">1921kB</td>
   <td><tt>1b16d7e108638332634208c504b42e42a3f2d838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kteatime-21.12.1.tar.xz">kteatime-21.12.1</a></td>
   <td align="right">295kB</td>
   <td><tt>31eb9ce9969b7b1473afa627bbe1f2f3df5ddbb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktimer-21.12.1.tar.xz">ktimer-21.12.1</a></td>
   <td align="right">383kB</td>
   <td><tt>9f498776ec8ff76f11fa3faab97916162c7f6027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktnef-21.12.1.tar.xz">ktnef-21.12.1</a></td>
   <td align="right">298kB</td>
   <td><tt>5e4603437ba52f2cb0dc3628fbc5439d82dc0479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktorrent-21.12.1.tar.xz">ktorrent-21.12.1</a></td>
   <td align="right">2016kB</td>
   <td><tt>4055698bf544101ab477f6b9e81170a9fbd24bda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktouch-21.12.1.tar.xz">ktouch-21.12.1</a></td>
   <td align="right">4851kB</td>
   <td><tt>5e8677435d5ef1cf5700b88d9c05bc759dbce9ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktp-accounts-kcm-21.12.1.tar.xz">ktp-accounts-kcm-21.12.1</a></td>
   <td align="right">260kB</td>
   <td><tt>c7c937ab5424f74d13f52b3430a9c06a54ade0e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktp-approver-21.12.1.tar.xz">ktp-approver-21.12.1</a></td>
   <td align="right">37kB</td>
   <td><tt>521fa9bc0ae5530059cababd83855a5b6320daac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktp-auth-handler-21.12.1.tar.xz">ktp-auth-handler-21.12.1</a></td>
   <td align="right">46kB</td>
   <td><tt>14cf7f3dc589640f5f9a268c08b6ce10555f9f06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktp-call-ui-21.12.1.tar.xz">ktp-call-ui-21.12.1</a></td>
   <td align="right">96kB</td>
   <td><tt>fbd304c16d8e57fb2e8bdcf1b7bbbeef93543f51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktp-common-internals-21.12.1.tar.xz">ktp-common-internals-21.12.1</a></td>
   <td align="right">440kB</td>
   <td><tt>7cbf8e21128d537c4f8ac2a37379225a85c35844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktp-contact-list-21.12.1.tar.xz">ktp-contact-list-21.12.1</a></td>
   <td align="right">150kB</td>
   <td><tt>e0b2579f3e79af8ba1e8ac2a9c197c40c6e68bf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktp-contact-runner-21.12.1.tar.xz">ktp-contact-runner-21.12.1</a></td>
   <td align="right">42kB</td>
   <td><tt>8abaf4de8fc1164aacfa5c3e68db4905820f25ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktp-desktop-applets-21.12.1.tar.xz">ktp-desktop-applets-21.12.1</a></td>
   <td align="right">43kB</td>
   <td><tt>b7a6048fac82ad37a4697705430ae8b1d0d6ba30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktp-filetransfer-handler-21.12.1.tar.xz">ktp-filetransfer-handler-21.12.1</a></td>
   <td align="right">45kB</td>
   <td><tt>47be0d4da08d880f403733e23fc5a09014ef8c6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktp-kded-module-21.12.1.tar.xz">ktp-kded-module-21.12.1</a></td>
   <td align="right">97kB</td>
   <td><tt>d19f305211829e81ca182a3bdf6d37d79c216de9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktp-send-file-21.12.1.tar.xz">ktp-send-file-21.12.1</a></td>
   <td align="right">28kB</td>
   <td><tt>ac1983847636aa5f818c082da0fa8648803ba1ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktp-text-ui-21.12.1.tar.xz">ktp-text-ui-21.12.1</a></td>
   <td align="right">463kB</td>
   <td><tt>6b2556f465aaa5c5aa62b53d72899c01cdb3c081</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/ktuberling-21.12.1.tar.xz">ktuberling-21.12.1</a></td>
   <td align="right">69161kB</td>
   <td><tt>c772213ff62b05b1b6f77092b519516b9b76f747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kturtle-21.12.1.tar.xz">kturtle-21.12.1</a></td>
   <td align="right">1925kB</td>
   <td><tt>906e475ea7715f37db2e672c68f45f9f01ed75dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kubrick-21.12.1.tar.xz">kubrick-21.12.1</a></td>
   <td align="right">335kB</td>
   <td><tt>145660149ddfcbd5896fb1829a6b4af2c531f646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kwalletmanager-21.12.1.tar.xz">kwalletmanager-21.12.1</a></td>
   <td align="right">781kB</td>
   <td><tt>2e46335a42e4e56fcf68d2a58952d409e5c27e90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kwave-21.12.1.tar.xz">kwave-21.12.1</a></td>
   <td align="right">6791kB</td>
   <td><tt>ef21657e516c6136b079b376216983e92bf4fd50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/kwordquiz-21.12.1.tar.xz">kwordquiz-21.12.1</a></td>
   <td align="right">4108kB</td>
   <td><tt>0c3fe2358aee55cf914bc09d81750b107fc9c239</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libgravatar-21.12.1.tar.xz">libgravatar-21.12.1</a></td>
   <td align="right">34kB</td>
   <td><tt>9bb78835668fb9f25b358772ea468759d88a908b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libkcddb-21.12.1.tar.xz">libkcddb-21.12.1</a></td>
   <td align="right">425kB</td>
   <td><tt>80afdc9566e9e08d313a28439a9f35e742651758</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libkcompactdisc-21.12.1.tar.xz">libkcompactdisc-21.12.1</a></td>
   <td align="right">94kB</td>
   <td><tt>9c3ad1e4af9a42c9a65553b8ebc05a647a5f6984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libkdcraw-21.12.1.tar.xz">libkdcraw-21.12.1</a></td>
   <td align="right">36kB</td>
   <td><tt>0de3cf05acf399058cfb3ea5cde60bff9973dd16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libkdegames-21.12.1.tar.xz">libkdegames-21.12.1</a></td>
   <td align="right">5833kB</td>
   <td><tt>781b45a081238aaa30139b29cb3c5803e7886459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libkdepim-21.12.1.tar.xz">libkdepim-21.12.1</a></td>
   <td align="right">247kB</td>
   <td><tt>5096fea50b9247cf5a781ccbcdf0f134826b819d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libkeduvocdocument-21.12.1.tar.xz">libkeduvocdocument-21.12.1</a></td>
   <td align="right">212kB</td>
   <td><tt>d485c7178bfdb670da1699e70f26f390c3eef714</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libkexiv2-21.12.1.tar.xz">libkexiv2-21.12.1</a></td>
   <td align="right">58kB</td>
   <td><tt>820f5fd9c584735691b23f83449011b98747110c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libkgapi-21.12.1.tar.xz">libkgapi-21.12.1</a></td>
   <td align="right">239kB</td>
   <td><tt>c5272d17f68b355c70aceb38ef06d6752625e6b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libkipi-21.12.1.tar.xz">libkipi-21.12.1</a></td>
   <td align="right">101kB</td>
   <td><tt>55ce1b77e484e0687da86bec060fde51019623d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libkleo-21.12.1.tar.xz">libkleo-21.12.1</a></td>
   <td align="right">436kB</td>
   <td><tt>60aeb0c605b0c0328d89cb2d7c842c517d379587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libkmahjongg-21.12.1.tar.xz">libkmahjongg-21.12.1</a></td>
   <td align="right">1643kB</td>
   <td><tt>7d9b0868a96c3f2dd1f49ca59f46401e54098620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libkomparediff2-21.12.1.tar.xz">libkomparediff2-21.12.1</a></td>
   <td align="right">168kB</td>
   <td><tt>be2d81447a3df4a5dd72951555374578b15f176c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libksane-21.12.1.tar.xz">libksane-21.12.1</a></td>
   <td align="right">159kB</td>
   <td><tt>9a82a3e85283ed8419d3a0fd4852cfb3fe0e5d53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libksieve-21.12.1.tar.xz">libksieve-21.12.1</a></td>
   <td align="right">559kB</td>
   <td><tt>7a295b7fa3bff91448a511aaf374354502a81f80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/libktorrent-21.12.1.tar.xz">libktorrent-21.12.1</a></td>
   <td align="right">591kB</td>
   <td><tt>05b8b7daebf1625314bc5df4f807b7cd03ea7ead</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/lokalize-21.12.1.tar.xz">lokalize-21.12.1</a></td>
   <td align="right">2007kB</td>
   <td><tt>13b9f9219ea0c284cfbd9e22c049a0a287bf88ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/lskat-21.12.1.tar.xz">lskat-21.12.1</a></td>
   <td align="right">1203kB</td>
   <td><tt>ded231442910f88e92519df4fa33276fda5ed9a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/mailcommon-21.12.1.tar.xz">mailcommon-21.12.1</a></td>
   <td align="right">718kB</td>
   <td><tt>27bcd75e86ff45876e6b91177ee27d12f5f9d51f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/mailimporter-21.12.1.tar.xz">mailimporter-21.12.1</a></td>
   <td align="right">545kB</td>
   <td><tt>3cf5a9689c437fcb3c10166d2726c86f30ef530d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/marble-21.12.1.tar.xz">marble-21.12.1</a></td>
   <td align="right">52398kB</td>
   <td><tt>4c750b918a31d68a28ea7144a3dd446012b18d4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/markdownpart-21.12.1.tar.xz">markdownpart-21.12.1</a></td>
   <td align="right">27kB</td>
   <td><tt>b6252b34f07506b3192c59345d06d296f9dc918e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/mbox-importer-21.12.1.tar.xz">mbox-importer-21.12.1</a></td>
   <td align="right">27kB</td>
   <td><tt>0c9328e449bfd303025c30c62670c1308e371c8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/messagelib-21.12.1.tar.xz">messagelib-21.12.1</a></td>
   <td align="right">10603kB</td>
   <td><tt>0945893e1504aa1a49aa431a330893e61d4ac7ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/minuet-21.12.1.tar.xz">minuet-21.12.1</a></td>
   <td align="right">27022kB</td>
   <td><tt>ceb051d464893b75187db57ce69f56d0bdcd10bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/okular-21.12.1.tar.xz">okular-21.12.1</a></td>
   <td align="right">7952kB</td>
   <td><tt>c291c6a7b310dd3860f9b05b5e8c5b3cc9d53b36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/palapeli-21.12.1.tar.xz">palapeli-21.12.1</a></td>
   <td align="right">2048kB</td>
   <td><tt>1cdd56dae2f7f1d1b3fb0dbb3cb49cadb1b9ef62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/parley-21.12.1.tar.xz">parley-21.12.1</a></td>
   <td align="right">8287kB</td>
   <td><tt>8ed31e2ce11c5353d2ea7e016c3e72bd9423d69e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/partitionmanager-21.12.1.tar.xz">partitionmanager-21.12.1</a></td>
   <td align="right">2049kB</td>
   <td><tt>5c5f07db5805d27e8f83176511124cabc96d54a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/picmi-21.12.1.tar.xz">picmi-21.12.1</a></td>
   <td align="right">1501kB</td>
   <td><tt>75390855395c5febb06f6254a7ea007e7d861981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/pimcommon-21.12.1.tar.xz">pimcommon-21.12.1</a></td>
   <td align="right">365kB</td>
   <td><tt>8cd8571f5750a63ad62fe033f8d16afc40c0aa9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/pim-data-exporter-21.12.1.tar.xz">pim-data-exporter-21.12.1</a></td>
   <td align="right">393kB</td>
   <td><tt>3dfb88e6589281908bd33a731d5e7aa1537032ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/pim-sieve-editor-21.12.1.tar.xz">pim-sieve-editor-21.12.1</a></td>
   <td align="right">446kB</td>
   <td><tt>0254c96b812a1b9ff8a8ea7addaa72230f596cb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/poxml-21.12.1.tar.xz">poxml-21.12.1</a></td>
   <td align="right">42kB</td>
   <td><tt>22a41631419e7036c03a6e93389d6c2b52c4533a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/print-manager-21.12.1.tar.xz">print-manager-21.12.1</a></td>
   <td align="right">265kB</td>
   <td><tt>74e7d96b6ad2e4dabb93e2e27f4b2640a11ec0e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/rocs-21.12.1.tar.xz">rocs-21.12.1</a></td>
   <td align="right">1522kB</td>
   <td><tt>00d3fdba280f18d1fd27d647a2633e4926b04cca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/signon-kwallet-extension-21.12.1.tar.xz">signon-kwallet-extension-21.12.1</a></td>
   <td align="right">10kB</td>
   <td><tt>3fbab40c073e61027ed359ad84b01e9348556224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/skanlite-21.12.1.tar.xz">skanlite-21.12.1</a></td>
   <td align="right">2382kB</td>
   <td><tt>d0b8bc5bb973bcfdc5774953bf7724446d4f5873</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/spectacle-21.12.1.tar.xz">spectacle-21.12.1</a></td>
   <td align="right">1224kB</td>
   <td><tt>40a7d12a3aec55ef3f86a054c08f26595e4c10c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/step-21.12.1.tar.xz">step-21.12.1</a></td>
   <td align="right">903kB</td>
   <td><tt>f9c39bcaee46df4535891ee981d176b82a393f6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/svgpart-21.12.1.tar.xz">svgpart-21.12.1</a></td>
   <td align="right">24kB</td>
   <td><tt>1f789e0fc313e37e7617fb0b31bed9c07a235640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/sweeper-21.12.1.tar.xz">sweeper-21.12.1</a></td>
   <td align="right">369kB</td>
   <td><tt>b4cde1a89c5e52a4372f1f2bb7acdc621aeafbab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/umbrello-21.12.1.tar.xz">umbrello-21.12.1</a></td>
   <td align="right">5520kB</td>
   <td><tt>45693bc873beede3aa165d5a9119f93a66f9907a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/yakuake-21.12.1.tar.xz">yakuake-21.12.1</a></td>
   <td align="right">393kB</td>
   <td><tt>7f55d257ee9053d904c88df7a0713782ec8d843c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/zanshin-21.12.1.tar.xz">zanshin-21.12.1</a></td>
   <td align="right">343kB</td>
   <td><tt>76e64d3387cfa779942ab1ffc91bd027124f7c4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.1/src/zeroconf-ioslave-21.12.1.tar.xz">zeroconf-ioslave-21.12.1</a></td>
   <td align="right">37kB</td>
   <td><tt>7b830cb874f72e9e054f6b5cf067cc2b4193d9c7</tt></td>
</tr>

</table>
