
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/attica-5.42.0.tar.xz">attica-5.42.0</a></td>
   <td align="right">59kB</td>
   <td><tt>47966d99287514d73d23f043577aa9c29ef98057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/baloo-5.42.0.tar.xz">baloo-5.42.0</a></td>
   <td align="right">195kB</td>
   <td><tt>86fbc621006ca7890d6267132ac9e4fd443a441c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/bluez-qt-5.42.0.tar.xz">bluez-qt-5.42.0</a></td>
   <td align="right">73kB</td>
   <td><tt>49e3511fe0beb413e228c34a46351620bee9cc76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/breeze-icons-5.42.0.tar.xz">breeze-icons-5.42.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>e89bbb7aaab1907fedf41af0676b203a0bb28adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/extra-cmake-modules-5.42.0.tar.xz">extra-cmake-modules-5.42.0</a></td>
   <td align="right">306kB</td>
   <td><tt>8cbc897b036b1fc4e57797caf6b15823e98c5e30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/frameworkintegration-5.42.0.tar.xz">frameworkintegration-5.42.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d1a2995b17c3dae9cd3b5f1dbcefd64cf171ac80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kactivities-5.42.0.tar.xz">kactivities-5.42.0</a></td>
   <td align="right">59kB</td>
   <td><tt>4b76ad9d61806f664e087f9fcfcb70c667934e10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kactivities-stats-5.42.0.tar.xz">kactivities-stats-5.42.0</a></td>
   <td align="right">59kB</td>
   <td><tt>1151524e983301912b4c293a28fd4ada9bc25b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kapidox-5.42.0.tar.xz">kapidox-5.42.0</a></td>
   <td align="right">386kB</td>
   <td><tt>a768250f827c4cb49491bced958eb78fa3a6b672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/karchive-5.42.0.tar.xz">karchive-5.42.0</a></td>
   <td align="right">110kB</td>
   <td><tt>a23d1c6f5e979387d67ba1292ab549ac89525734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kauth-5.42.0.tar.xz">kauth-5.42.0</a></td>
   <td align="right">82kB</td>
   <td><tt>31ffc431d8061d1caad12cc8c1db784729980972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kbookmarks-5.42.0.tar.xz">kbookmarks-5.42.0</a></td>
   <td align="right">115kB</td>
   <td><tt>7b450a66bead1cd4045a196e4f2acbe798877b6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kcmutils-5.42.0.tar.xz">kcmutils-5.42.0</a></td>
   <td align="right">230kB</td>
   <td><tt>5f699381ed708ddcc1184aa968bf63cea5243ff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kcodecs-5.42.0.tar.xz">kcodecs-5.42.0</a></td>
   <td align="right">213kB</td>
   <td><tt>e7136103b92c14ca46839eb45cb9b82c66d8e4fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kcompletion-5.42.0.tar.xz">kcompletion-5.42.0</a></td>
   <td align="right">116kB</td>
   <td><tt>7b92a0f38f3e2e51954bd0e33c30c7d90657e53b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kconfig-5.42.0.tar.xz">kconfig-5.42.0</a></td>
   <td align="right">229kB</td>
   <td><tt>e564befd6129d01a6da53ca03d7a00d5cdc971c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kconfigwidgets-5.42.0.tar.xz">kconfigwidgets-5.42.0</a></td>
   <td align="right">366kB</td>
   <td><tt>3b938395c12c54826ec223e902c492206a2981cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kcoreaddons-5.42.0.tar.xz">kcoreaddons-5.42.0</a></td>
   <td align="right">345kB</td>
   <td><tt>6759582b2a51091c32af3b431649c1ddc95ad110</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kcrash-5.42.0.tar.xz">kcrash-5.42.0</a></td>
   <td align="right">21kB</td>
   <td><tt>936662dd385d18aa8f9163dc2c774b547b9b37ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kdbusaddons-5.42.0.tar.xz">kdbusaddons-5.42.0</a></td>
   <td align="right">35kB</td>
   <td><tt>40404396941bc2cad91a0c197a2e53ebdb2fda8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kdeclarative-5.42.0.tar.xz">kdeclarative-5.42.0</a></td>
   <td align="right">166kB</td>
   <td><tt>27c99302a1c8ea014690e9d22e58f692dd8eb3b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kded-5.42.0.tar.xz">kded-5.42.0</a></td>
   <td align="right">36kB</td>
   <td><tt>f9b0259d35b20409f6699becbab1cf863e4909ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kdesignerplugin-5.42.0.tar.xz">kdesignerplugin-5.42.0</a></td>
   <td align="right">88kB</td>
   <td><tt>e2a13eac8e32cc2ea08508838f57e45621cc7960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kdesu-5.42.0.tar.xz">kdesu-5.42.0</a></td>
   <td align="right">44kB</td>
   <td><tt>5dd5cfc356b98b5d030d531d9b3886da39c81776</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kdewebkit-5.42.0.tar.xz">kdewebkit-5.42.0</a></td>
   <td align="right">28kB</td>
   <td><tt>e7c5b070985bf12330d0ecf774ba2db1103343b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kdnssd-5.42.0.tar.xz">kdnssd-5.42.0</a></td>
   <td align="right">55kB</td>
   <td><tt>7e7baac6e10e5ade1cafa09ac7fc1d3558ca26af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kdoctools-5.42.0.tar.xz">kdoctools-5.42.0</a></td>
   <td align="right">412kB</td>
   <td><tt>1345914cb436828637f86204600e9434d796101e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kemoticons-5.42.0.tar.xz">kemoticons-5.42.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>dadfb12d16e3832f6e052cc46596fd1f4fd7fd71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kfilemetadata-5.42.0.tar.xz">kfilemetadata-5.42.0</a></td>
   <td align="right">213kB</td>
   <td><tt>00db93b910342ab0210b3ffb2aee175195cf4eed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kglobalaccel-5.42.0.tar.xz">kglobalaccel-5.42.0</a></td>
   <td align="right">81kB</td>
   <td><tt>e539c09a8308a02f79ed63e226fbf950c73fc782</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kguiaddons-5.42.0.tar.xz">kguiaddons-5.42.0</a></td>
   <td align="right">39kB</td>
   <td><tt>f3ad39a4fbacb234d274f11187e8d039d8f7134f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/ki18n-5.42.0.tar.xz">ki18n-5.42.0</a></td>
   <td align="right">573kB</td>
   <td><tt>a8742be2cb0c5433b684c8c41b9ea923c6e47d9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kiconthemes-5.42.0.tar.xz">kiconthemes-5.42.0</a></td>
   <td align="right">200kB</td>
   <td><tt>d002cfdd16a4b9df14b5b155c47e55b807fc310d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kidletime-5.42.0.tar.xz">kidletime-5.42.0</a></td>
   <td align="right">25kB</td>
   <td><tt>32e978bcb2096af10f7bafe27c4e74cad91ac11f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kimageformats-5.42.0.tar.xz">kimageformats-5.42.0</a></td>
   <td align="right">200kB</td>
   <td><tt>ef4bbcbcb403586ccde910568eb1f7636d17a498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kinit-5.42.0.tar.xz">kinit-5.42.0</a></td>
   <td align="right">117kB</td>
   <td><tt>93aac5076f7b8674b56f891c4c18e2e6a05a1826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kio-5.42.0.tar.xz">kio-5.42.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>3d27e4262b4beb6a176fd3df52fb6216e728df24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kirigami2-5.42.0.tar.xz">kirigami2-5.42.0</a></td>
   <td align="right">290kB</td>
   <td><tt>0c731c97c2e67c1dbdab5a8cc2697b99762a7adf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kitemmodels-5.42.0.tar.xz">kitemmodels-5.42.0</a></td>
   <td align="right">380kB</td>
   <td><tt>636ca04fb24dbcd7f2cd1d281d9545174c5a31b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kitemviews-5.42.0.tar.xz">kitemviews-5.42.0</a></td>
   <td align="right">73kB</td>
   <td><tt>509a40e85952bdfb2a64fca971665491df4d4901</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kjobwidgets-5.42.0.tar.xz">kjobwidgets-5.42.0</a></td>
   <td align="right">87kB</td>
   <td><tt>5a09d740752be171742abe11b5281c8f32e180ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/knewstuff-5.42.0.tar.xz">knewstuff-5.42.0</a></td>
   <td align="right">893kB</td>
   <td><tt>1955f1674683b6426c5cdba8ed00c2293055fc79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/knotifications-5.42.0.tar.xz">knotifications-5.42.0</a></td>
   <td align="right">98kB</td>
   <td><tt>3d8d986979353e148c94433d3a5144c402d95cec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/knotifyconfig-5.42.0.tar.xz">knotifyconfig-5.42.0</a></td>
   <td align="right">81kB</td>
   <td><tt>5a74f2e6fd71b6640e4470f1d68384eb22016a3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kpackage-5.42.0.tar.xz">kpackage-5.42.0</a></td>
   <td align="right">128kB</td>
   <td><tt>a4ee8566703a4ad1be158b63d50b7613b0c84093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kparts-5.42.0.tar.xz">kparts-5.42.0</a></td>
   <td align="right">171kB</td>
   <td><tt>a6534e5285d14161cd93a28b4f43c51b70cfa366</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kpeople-5.42.0.tar.xz">kpeople-5.42.0</a></td>
   <td align="right">58kB</td>
   <td><tt>fd6f130cab011120f4d51f400b2eb76d826880c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kplotting-5.42.0.tar.xz">kplotting-5.42.0</a></td>
   <td align="right">28kB</td>
   <td><tt>0aeefb49c1ead32ff936d7a77137fd5a0175e5a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kpty-5.42.0.tar.xz">kpty-5.42.0</a></td>
   <td align="right">56kB</td>
   <td><tt>2bddf604d898ad1d5a5e70833b5935bde13b692b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/krunner-5.42.0.tar.xz">krunner-5.42.0</a></td>
   <td align="right">58kB</td>
   <td><tt>b7eb2634ac3b708693f301f2418b923f56a04d41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kservice-5.42.0.tar.xz">kservice-5.42.0</a></td>
   <td align="right">243kB</td>
   <td><tt>3b6e450fe6240d6841b3bbbb1fe52f76f2398b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/ktexteditor-5.42.0.tar.xz">ktexteditor-5.42.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a43d9e1fac163df188f6e245cde3945e1c8f610e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/ktextwidgets-5.42.0.tar.xz">ktextwidgets-5.42.0</a></td>
   <td align="right">301kB</td>
   <td><tt>242386066f9fa3770ee9f9464783db0a5d22043f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kunitconversion-5.42.0.tar.xz">kunitconversion-5.42.0</a></td>
   <td align="right">752kB</td>
   <td><tt>38fe8d14870e2f50ec6b21b95a9ea25e18c7b8c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kwallet-5.42.0.tar.xz">kwallet-5.42.0</a></td>
   <td align="right">299kB</td>
   <td><tt>daf358a529c2f68b2a9cd509442833f5eb2f968e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kwayland-5.42.0.tar.xz">kwayland-5.42.0</a></td>
   <td align="right">290kB</td>
   <td><tt>bfa07904637e80d90cf6be5a848ddf13cb18d897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kwidgetsaddons-5.42.0.tar.xz">kwidgetsaddons-5.42.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>cf30bcaf259c8c40d8592b3709b18df94f804df7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kwindowsystem-5.42.0.tar.xz">kwindowsystem-5.42.0</a></td>
   <td align="right">165kB</td>
   <td><tt>65a64895dd0d0d180fa9184de864da881170c921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kxmlgui-5.42.0.tar.xz">kxmlgui-5.42.0</a></td>
   <td align="right">863kB</td>
   <td><tt>4bde620841215a41dfb68eec40c31d644cc77ba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/kxmlrpcclient-5.42.0.tar.xz">kxmlrpcclient-5.42.0</a></td>
   <td align="right">28kB</td>
   <td><tt>3f457988299f31f9b1ec1851db5b5789dcbec674</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/modemmanager-qt-5.42.0.tar.xz">modemmanager-qt-5.42.0</a></td>
   <td align="right">95kB</td>
   <td><tt>00ed58bcede7258114a893deb7faea89531fd606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/networkmanager-qt-5.42.0.tar.xz">networkmanager-qt-5.42.0</a></td>
   <td align="right">159kB</td>
   <td><tt>5bc97a46c9050b5eda53194c8f30cf536bf0bc26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/oxygen-icons5-5.42.0.tar.xz">oxygen-icons5-5.42.0</a></td>
   <td align="right">223MB</td>
   <td><tt>9ad53e98982c21b823ea0d46adb7040ff5e7cbd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/plasma-framework-5.42.0.tar.xz">plasma-framework-5.42.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>0ee3ba2d4607a01ed0c72e09ece77f8f74fad43c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/prison-5.42.0.tar.xz">prison-5.42.0</a></td>
   <td align="right">36kB</td>
   <td><tt>f1e1847e2527f21e8ec3105f0f67be464c2bfe0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/qqc2-desktop-style-5.42.0.tar.xz">qqc2-desktop-style-5.42.0</a></td>
   <td align="right">35kB</td>
   <td><tt>d79ca9718aa39121197e55f57dd2921377e15b8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/solid-5.42.0.tar.xz">solid-5.42.0</a></td>
   <td align="right">242kB</td>
   <td><tt>0679251f2137160ac17f33f674663194b491307a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/sonnet-5.42.0.tar.xz">sonnet-5.42.0</a></td>
   <td align="right">279kB</td>
   <td><tt>60f06e1d87b1ec55dbee9b4c9c26103c62173cfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/syntax-highlighting-5.42.0.tar.xz">syntax-highlighting-5.42.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d3dd2a25407c7c179afb8bad762bcfab57c46bb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.42/threadweaver-5.42.0.tar.xz">threadweaver-5.42.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2646dbc14813f79480c9cf7d25e724ba015186fe</tt></td>
</tr>

</table>
