<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/aura-browser-5.27.11.tar.xz">aura-browser-5.27.11</a></td>
   <td align="right">2.9MB</td>
   <td><tt>f374d8823097daf02f72708ce329d5b40d893bdadb8ec4b46f5b974c47061a25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/bluedevil-5.27.11.tar.xz">bluedevil-5.27.11</a></td>
   <td align="right">358kB</td>
   <td><tt>b4d5a8bfd066d66a4572732fd41ad3b8aad0428e899582d381e0ac6642bd6484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/breeze-5.27.11.tar.xz">breeze-5.27.11</a></td>
   <td align="right">83MB</td>
   <td><tt>14756a2fe5bc3db11ca954ff0df9b98e8d78ada4b231111780c42ee627dd4cab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/breeze-grub-5.27.11.tar.xz">breeze-grub-5.27.11</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0612c432c78fbdd1df3085f721fd6bf0f3ef9e656e088f0b31e2ba20f1a5860e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/breeze-gtk-5.27.11.tar.xz">breeze-gtk-5.27.11</a></td>
   <td align="right">39kB</td>
   <td><tt>dcbdd3bf87404dfeb5b05e220d0a8dd5b4168c7d4ce7650679f28c5accf67fee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/breeze-plymouth-5.27.11.tar.xz">breeze-plymouth-5.27.11</a></td>
   <td align="right">108kB</td>
   <td><tt>0dd90b3e25a688132c21f8dc9e041aa9826298828d2c96163f459bbb8432779b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/discover-5.27.11.tar.xz">discover-5.27.11</a></td>
   <td align="right">860kB</td>
   <td><tt>342b62522b6d81335a47be429fe513ad8f3958b385640760edd5bfe77ae9e92c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/drkonqi-5.27.11.tar.xz">drkonqi-5.27.11</a></td>
   <td align="right">845kB</td>
   <td><tt>20a0b509ef0b34dfc5429996025925d29bdc8777b512b985bd5c72cd5349583c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/flatpak-kcm-5.27.11.tar.xz">flatpak-kcm-5.27.11</a></td>
   <td align="right">228kB</td>
   <td><tt>972c442b9447c072fb61496b39b8ed22949237ab823b44660a935de8d2ecdf4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/kactivitymanagerd-5.27.11.tar.xz">kactivitymanagerd-5.27.11</a></td>
   <td align="right">123kB</td>
   <td><tt>b2bb77b309850c6df61093cdbaf66faad122bf3be91428a3f42baeb907c45cd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/kde-cli-tools-5.27.11.tar.xz">kde-cli-tools-5.27.11</a></td>
   <td align="right">655kB</td>
   <td><tt>8a25f8fea64e5a7fd5a798041cab920217630eea809adfa07b9d111142b28255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/kde-gtk-config-5.27.11.tar.xz">kde-gtk-config-5.27.11</a></td>
   <td align="right">75kB</td>
   <td><tt>a48915b5077b8b3a520549f2dc739886685868c94d9e832eeadb9bbb4bf10d0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/kdecoration-5.27.11.tar.xz">kdecoration-5.27.11</a></td>
   <td align="right">51kB</td>
   <td><tt>71c417461993923a2245b6f954ff72fb1737bc10db218ca9595194017cf1f838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/kdeplasma-addons-5.27.11.tar.xz">kdeplasma-addons-5.27.11</a></td>
   <td align="right">809kB</td>
   <td><tt>e52068ba50b22c564c9fce262bd6713b435f5b3e1a650c2899d23f529ed3cd04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/kgamma-5.27.11.tar.xz">kgamma-5.27.11</a></td>
   <td align="right">86kB</td>
   <td><tt>b654d80344ab8e5fdb7eec9fed98c68998a24430c354b8c591569f066e13d678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/khotkeys-5.27.11.tar.xz">khotkeys-5.27.11</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8b497c68e546874feb9350f1f17df5b285d5c41d2cb4c1fd8e4e665f84804459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/kinfocenter-5.27.11.tar.xz">kinfocenter-5.27.11</a></td>
   <td align="right">994kB</td>
   <td><tt>29a743152bf3007059b752c2e09ca969ff49f151dabf4bff40ce85bce9f40d07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/kmenuedit-5.27.11.tar.xz">kmenuedit-5.27.11</a></td>
   <td align="right">910kB</td>
   <td><tt>904dde062c0651dd5296659f4c409d621f31c93ab5527d2cdf9a9e395cc43b57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/kpipewire-5.27.11.tar.xz">kpipewire-5.27.11</a></td>
   <td align="right">58kB</td>
   <td><tt>ac9a0f24942eb8dc2521376f234a2e37485223b68e4ed1227e46808f8bff4cc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/kscreen-5.27.11.tar.xz">kscreen-5.27.11</a></td>
   <td align="right">182kB</td>
   <td><tt>7e7f7a8ef4e7d5c8567653b8278c3412ff28bbb55d37a28ad890be144acbc753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/kscreenlocker-5.27.11.tar.xz">kscreenlocker-5.27.11</a></td>
   <td align="right">157kB</td>
   <td><tt>33b8ceea3b4240354d87f55d67659a542bf5933947550aff7530c6a1eb77d6df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/ksshaskpass-5.27.11.tar.xz">ksshaskpass-5.27.11</a></td>
   <td align="right">27kB</td>
   <td><tt>9e78bdf1b29c88ad7f61f1a7885480a29bd78c2e288107b3f9ed3d97ace119bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/ksystemstats-5.27.11.tar.xz">ksystemstats-5.27.11</a></td>
   <td align="right">113kB</td>
   <td><tt>378e5fc88899d538bde930a8f20fc22e7d4067ecfd63dfce47a1e7c722825cd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/kwallet-pam-5.27.11.tar.xz">kwallet-pam-5.27.11</a></td>
   <td align="right">22kB</td>
   <td><tt>7f53b88f2a86e1794eefcad9658051ca444cf7dc79d88d3523b5284c68aed840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/kwayland-integration-5.27.11.tar.xz">kwayland-integration-5.27.11</a></td>
   <td align="right">25kB</td>
   <td><tt>8b4947bbe67b4a03ec5338763fab52407eb7419ca63db09ebdc7e8c2eb68bcb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/kwin-5.27.11.tar.xz">kwin-5.27.11</a></td>
   <td align="right">7.2MB</td>
   <td><tt>8902b23b29bd54cd26590fe04abfe58fe334a5bf9c0dfd1f7dc5aacc4191b56f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/kwrited-5.27.11.tar.xz">kwrited-5.27.11</a></td>
   <td align="right">22kB</td>
   <td><tt>0711c5ac7e24355e952be6ce75c6a846bca2e4a1aedd0277d47d4ea13c29c0a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/layer-shell-qt-5.27.11.tar.xz">layer-shell-qt-5.27.11</a></td>
   <td align="right">18kB</td>
   <td><tt>f4c321091619c9aeffe9e3568ff22ba4434538dcb3e89e6e23f5950d1e76d350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/libkscreen-5.27.11.tar.xz">libkscreen-5.27.11</a></td>
   <td align="right">113kB</td>
   <td><tt>0d11f41d489f32303988e5a2eee8cef7f4eb18faea5614e65bf202007ea21dd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/libksysguard-5.27.11.tar.xz">libksysguard-5.27.11</a></td>
   <td align="right">869kB</td>
   <td><tt>21f4f54cdde8cda10a5ab2f05ebb22b67c375a1d47cf6a0c0fecc0f0cacb9659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/milou-5.27.11.tar.xz">milou-5.27.11</a></td>
   <td align="right">57kB</td>
   <td><tt>0b816940dc7adb2921f7af1befb79f6ee611cbef067dc7cf40bfa760bf583e1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/oxygen-5.27.11.tar.xz">oxygen-5.27.11</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ba2f47033bd78b7c9f1bbda1faefca530453965999b4d7fad85b1ddd08b4f570</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/oxygen-sounds-5.27.11.tar.xz">oxygen-sounds-5.27.11</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6fa249c55a51941e023b982e20279e594279e216c53e065a928de6b4089df1de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plank-player-5.27.11.tar.xz">plank-player-5.27.11</a></td>
   <td align="right">155kB</td>
   <td><tt>6cea475c8fac1a6028e99861201d330aaa028fc0864edf7eac972b7cd2fce6e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-bigscreen-5.27.11.tar.xz">plasma-bigscreen-5.27.11</a></td>
   <td align="right">1.0MB</td>
   <td><tt>83e4b3425db254e46c6a5325a5b909f59a587b2d7e81d06fb7dd7ce31c836067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-browser-integration-5.27.11.tar.xz">plasma-browser-integration-5.27.11</a></td>
   <td align="right">207kB</td>
   <td><tt>c4e6aa1c6986ae88fa0d6bd590834da6a11ce4b193fc8538ee61bfba215c124c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-desktop-5.27.11.tar.xz">plasma-desktop-5.27.11</a></td>
   <td align="right">14MB</td>
   <td><tt>d09f1e576251e7b4b6fde20407bdbfb018e495eba604487b0a05f4f011fc44a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-disks-5.27.11.tar.xz">plasma-disks-5.27.11</a></td>
   <td align="right">91kB</td>
   <td><tt>98d074f772c71cbd06440cfb495e4ef3a559583e6981d431831a1eb80ca941cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-firewall-5.27.11.tar.xz">plasma-firewall-5.27.11</a></td>
   <td align="right">354kB</td>
   <td><tt>34cee9fdf4916bc51957bd223c70d7d6c59a7d0e89cbaa398233273d9320c105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-integration-5.27.11.tar.xz">plasma-integration-5.27.11</a></td>
   <td align="right">87kB</td>
   <td><tt>b214a97f30609047d7519a4974087236c23e4d54eefde2838eca48e35df0bf79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-mobile-5.27.11.tar.xz">plasma-mobile-5.27.11</a></td>
   <td align="right">3.2MB</td>
   <td><tt>04ebab2f497b1237b7f3372fc77818bbd1fc4c268ed85e1872f6c2356ea9f098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-nano-5.27.11.tar.xz">plasma-nano-5.27.11</a></td>
   <td align="right">72kB</td>
   <td><tt>0c40393d52b37857400b88a71b9c7675488e56d03e2266ef35ac6d2321742ffb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-nm-5.27.11.tar.xz">plasma-nm-5.27.11</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ff6a819de2d48e17860d822b048de7157561742c067eb85a6dafa76e255e9e56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-pa-5.27.11.tar.xz">plasma-pa-5.27.11</a></td>
   <td align="right">160kB</td>
   <td><tt>3daa671ea7163b69846b9c96ddf310e791a41f71ba0b6381adb0c5dbb9a720b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-remotecontrollers-5.27.11.tar.xz">plasma-remotecontrollers-5.27.11</a></td>
   <td align="right">80kB</td>
   <td><tt>59f37c7833797876ead26383077a08c7804bbf2c5208bdecd788a476045ce770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-sdk-5.27.11.1.tar.xz">plasma-sdk-5.27.11.1</a></td>
   <td align="right">314kB</td>
   <td><tt>90a2a18b699a374362f870b22685d4ed3d5e00fe7fa27b768fd2e626361e0744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-systemmonitor-5.27.11.tar.xz">plasma-systemmonitor-5.27.11</a></td>
   <td align="right">169kB</td>
   <td><tt>0acacbbd921b5d43e72a8e0e26635bab50e0aab7ca3f40d83dee7a28736b5dfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-thunderbolt-5.27.11.tar.xz">plasma-thunderbolt-5.27.11</a></td>
   <td align="right">71kB</td>
   <td><tt>5fe7c2d6338bcdb234eecb31296ccd49cc3746626ac41c7bc65d2e76ab5a89fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-vault-5.27.11.tar.xz">plasma-vault-5.27.11</a></td>
   <td align="right">182kB</td>
   <td><tt>0b599d79d7f728bcc1517b30d0462894dc2186fa76601628d3d0f2198c2276c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-welcome-5.27.11.tar.xz">plasma-welcome-5.27.11</a></td>
   <td align="right">820kB</td>
   <td><tt>cfbecae8dd27f8551c6118ffdeaa8c1d3caf3ca17a1289a356963b8c87a8320b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-workspace-5.27.11.tar.xz">plasma-workspace-5.27.11</a></td>
   <td align="right">18MB</td>
   <td><tt>07d69bc43660ec5335f250abb34c1059cef6cc64833838a7f0f749a4b4ee7add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plasma-workspace-wallpapers-5.27.11.tar.xz">plasma-workspace-wallpapers-5.27.11</a></td>
   <td align="right">89MB</td>
   <td><tt>223c27fc68127afd6fc21d06ec11a3e37ce86e172375c906bda390474a4de50a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/plymouth-kcm-5.27.11.tar.xz">plymouth-kcm-5.27.11</a></td>
   <td align="right">44kB</td>
   <td><tt>2fa269ceaa4f972fed0804771b484f7072e687e887d18bb5913fc40df82fc4d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/polkit-kde-agent-1-5.27.11.tar.xz">polkit-kde-agent-1-5.27.11</a></td>
   <td align="right">51kB</td>
   <td><tt>c9e908894f101940b9152132b53ee4a5ebf348374c09aec05cd2a14458be5c1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/powerdevil-5.27.11.tar.xz">powerdevil-5.27.11</a></td>
   <td align="right">772kB</td>
   <td><tt>28d2ab2e05bcbd39b8f5e5eafef2860c94efd5c7562fc5a4e81d5e5ab36c7573</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/qqc2-breeze-style-5.27.11.tar.xz">qqc2-breeze-style-5.27.11</a></td>
   <td align="right">64kB</td>
   <td><tt>fdb971b7eb7a3ca0438abf236d38a5f23d2c8c9414895550b0bd603e68e3610f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/sddm-kcm-5.27.11.tar.xz">sddm-kcm-5.27.11</a></td>
   <td align="right">92kB</td>
   <td><tt>3b9bfe81359be12eb7aeee492160877bf29d1a6ff6ed381c6afcbd0c8b7874c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/systemsettings-5.27.11.tar.xz">systemsettings-5.27.11</a></td>
   <td align="right">225kB</td>
   <td><tt>0f5f24279e44ad567f1ad3f2f9368f0e5c13c29f9f3de8078afcdae1181f924a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.11/xdg-desktop-portal-kde-5.27.11.tar.xz">xdg-desktop-portal-kde-5.27.11</a></td>
   <td align="right">140kB</td>
   <td><tt>3676898b1e145447a5e2d26fbe95a6b2f75c323e7e5e8645077db72c9916d9b3</tt></td>
</tr>

</table>
