// SPDX-FileCopyrightText: 2019 Carl Schwan <carl@carlschwan.eu>
// SPDX-FileCopyrightText: GPL-3.0-or-later

// Feature tabs

.tab-content-feature {
  margin-left: auto;
  margin-right: auto;
}

.nav-features {
  margin-top: 10px;
}

.nav-features .nav-link {
  border-top: 3px solid rgba(77, 77, 77, 0.8);
  margin-left: 1px;
  margin-right: 1px;

  @media (prefers-color-scheme: dark) {
    color: #73c7ff;
  }
}

.nav-features .nav-link.active {
  border-top: 3px solid rgba(61, 174, 233, 0.8);

  @media (prefers-color-scheme: dark) {
    color: #73c7ff;
  }
}
