{{ define "head-import" }}
  <link href="https://cdn.kde.org/breeze-icons/icons.css" />
{{ end }}
{{ define "main" }}
<main>
  <div class="container bluefriday">
    <div class="row">
      <div class="col-lg-8 col-12">
        <h1><span class="blue">Blue</span> Friday is here</h1>
        {{ .Content }}
        <img class="bluefriday-image d-none d-lg-block" alt="" src="/images/konqie-bluefriday.png">
      </div>
      <div class="col-lg-4">
        <img src="/stuff/clipart/logo/kde-logo-white-blue-source.svg" alt="" class="kde-logo-rotate d-none d-lg-block" />
        <script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
        <iframe class="donnorbox" src="https://donorbox.org/embed/kde-community" name="donorbox" width="100%" height="600px" frameborder="0" scrolling="no" seamless="seamless"></iframe>
      </div>
    </div>
    <img class="bluefriday-image d-block d-lg-none" alt="" src="/images/konqie-bluefriday.png">
  </div>
</main>
{{ end }}
