{{ define "main" }}
<main>
  <div class="container bluefriday">
    <div class="row">
      <div class="col-lg-8 col-12">
        <h1>{{ i18n "support-plasma6" }}</h1>
        {{ .Content }}
        <img class="d-none d-lg-block" style="width: 100%; max-width: 1500px;" alt="" src="/fundraisers/konqi-katie-donation.jpg">
      </div>
      <div class="col-lg-4">
        <script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
        <div class="donorbox">
          <iframe style="border-radius: 8px;" src="https://donorbox.org/embed/kde-become-a-member" name="donorbox" width="100%" height="600px" frameborder="0" scrolling="no" seamless="seamless"></iframe>
          <div class="p-4">{{ .Params.more | markdownify }}</div>
          <br />
          <br />
        </div>
        <div class="hof mt-5 p-4">
          <h2 class="mt-0">{{ i18n "hall-of-fame" }}</h2>
	        <p>Jérémy Friche ⭐ Dave X ⭐ Mario Loik ⭐ Arian Wichmann ⭐ Renārs Ceļapīters ⭐ Tobias Brunner ⭐ Matt Milliman ⭐ Jakob Rath ⭐ Eduard Nikoleisen ⭐ Chrismettal Binary-6 ⭐ Aljosha Papsch ⭐ Rhys Jones ⭐ David Roth ⭐ Jeroen Tor ⭐ Michael Winters ⭐ Cass Midkiff ⭐ Asim Shrestha ⭐ Willow Aran ⭐ Mateusz Brdoń ⭐ Semen Sobolev ⭐ Matthew Brunelle ⭐ Paul Worrall ⭐ Antoni Aloy Torrens ⭐ Adam Szopa ⭐ Ralf Hein ⭐ Linus Karl ⭐ Julian Wefers ⭐ Dmitry Misharov ⭐ Luis Alvarado ⭐ Moritz Niesen ⭐ Cory Adkins ⭐ Robert Wolniak ⭐ Jonatan Rosenius ⭐ Aroun Clément Baudouin-van Os ⭐ Brian Aberts ⭐ Diego Saavedra Aguirre ⭐ Janis Bundschu ⭐ Stewart Webb ⭐ Rob Goris ⭐ Alexander Ypema ⭐ Felix Knecht ⭐ Henning Sextro ⭐ Achilleas Koutsou ⭐ José Couto ⭐ Alejandro Cholaquidis ⭐ Henri Michael ⭐ Simon Österle ⭐ Lorenzo Bicci ⭐ Tim Blomme ⭐ Dennis Schumann ⭐ Ulrich Schreiner ⭐ Valerio Pilo ⭐ Florian Stadler ⭐ Andrija Jovanovic ⭐ OC Blanco ⭐ Hennie Marais ⭐ Florian RICHER ⭐ Ismar Kunic ⭐ Stefan Zurucker-Burda ⭐ Rob Hasselbaum ⭐ Jonas Mutke ⭐ Patrick David ⭐ Alessio Adamo ⭐ Samuel Allen ⭐ Brian Marsh ⭐ Petr Kadlec ⭐ Linda Polman ⭐ Mateusz Dytkowski ⭐ Daniel Lloyd-Miller ⭐ Keelan Jones ⭐ Christoph Hümbert ⭐ Mehrad Mahmoudian ⭐ Oliver Rasche ⭐ Byron Fröhlich ⭐ Ramón Cahenzli ⭐ ILIOPOULOS IOANNIS ⭐ Michael Bolleininger ⭐ Shingo Ishida ⭐ Aleksei Liudskoi ⭐ Reid Wiggins ⭐ Justus Tartz ⭐ Sebastian Löw ⭐ Emil Larsson ⭐ Tristan Remy ⭐ Nicola Mingotti ⭐ Vincent Delor ⭐ Brett Hagen ⭐ ADAM K BIERMAN ⭐ Gernot Schiller ⭐ Ryan McCullough ⭐ Frank Mankel ⭐ Alejandro Muñoz Fernández ⭐ Dylan Taylor ⭐ Grider Li ⭐ Hendrik Richter ⭐ Leander Nachreiner ⭐ Dino Čobo ⭐ Luke Renaud ⭐ Boji Tony ⭐ scaine uk ⭐ Dirk Ziegelmeier ⭐ Moritz Lammerich ⭐ Grégoire Duvauchelle ⭐ Shuyuan Liu ⭐ Thomas ROBIN ⭐ Brandon Clark ⭐ David Germain ⭐ Philipp Lohnes ⭐ Johann Jacobsohn ⭐ Rebecca Müller ⭐ Denis Jovic ⭐ Erik Naprstek ⭐ Rodney Lorimor ⭐ Moritz Schulte ⭐ Alexander Reimelt ⭐ Lizoblyud Lika ⭐ Tubo Shi ⭐ Gabriel Morell ⭐ Sahan Fernando ⭐ Nathan Pennington ⭐ Julio Moya ⭐ Jim Helm ⭐ Sacha Schutz ⭐ Benjamin Xiao ⭐ E. Mau. ⭐ Anthony Beninati ⭐ Harry A ⭐ Andrea Panontin ⭐ José Guardado ⭐ Lauren Howe ⭐ Baptiste Rajaut ⭐ Michel Filipe ⭐ your mom ⭐ Philipp Reichmuth ⭐ Jarkko Torvinen ⭐ Marco Julian Solanki ⭐ James Fryman ⭐ Kai-Uwe Uhlitzsch ⭐ Bryan Zaffino ⭐ Daniel Bagge ⭐ Dave Lewis ⭐ Jeroen Huijsman ⭐ Sébastien Monassa ⭐ André Barata ⭐ Joan Aluja Oraá ⭐ Yu Te Wang ⭐ Jimmy Lindsey ⭐ Mustafa Muhammad ⭐ Martin Beck ⭐ Max Schwarz ⭐ Lukas Langrock ⭐ Roger Granrud ⭐ Kristian Kriehl ⭐ Christoffer Jansson ⭐ Jens Erdmann ⭐ Yann Nux ⭐ Sarat Chandra ⭐ Jens Reimann ⭐ Tommy Beauclair-Mariotti ⭐ Àlex Magaz Graça ⭐ Gerhard Dittes ⭐ Milton Hagler ⭐ Björn Aili ⭐ Alishams Hassam ⭐ Teemu Vartiainen ⭐ Cody Harrison ⭐ Jack Case ⭐ Samega 7Cattac ⭐ Dougie Beney ⭐ Patrick Gianelli ⭐ Christian Hartmann ⭐ François-Xavier Thomas ⭐ Wyatt Childers ⭐ Matthew Orr ⭐ Marius Hergel ⭐ David Walluscheck ⭐ Benny Fields ⭐ Mark Hiles ⭐ Samir Nassar ⭐ Jan De Luyck ⭐ Guillaume GAY ⭐ Diego Miguel Lozano ⭐ Logan Rogers-Follis ⭐ Tom Schwarz ⭐ Patrick Nagel ⭐ Jacopo Schiavon ⭐ Linus Fell ⭐ Lasse Danegod ⭐ Gaurav Dasharathe ⭐ Teague Millette ⭐ Frédéric LAURENT ⭐ Titouan Forgeard ⭐ Andrew Keenan Richardson ⭐ Nathan Wolf ⭐ Jeff Cain ⭐ Francesco Sardara ⭐ Yishu Wang ⭐ Jacob Perron ⭐ Mohammad Rawashdeh ⭐ Monica Ayhens-Madon ⭐ Shayne Johnson ⭐ Andrew Rosenwinkel ⭐ Maarten Bijster ⭐ Rainier Ramos ⭐ Will Butler ⭐ Kormos Krisztián ⭐ Gleb Sinyavskiy ⭐ Justin Geigley ⭐ Carl Schwan ⭐ Andrey Melentyev ⭐ David Martinez ⭐ Matthew Cazaly ⭐ Kieren Roberts ⭐ Malte Jürgens ⭐ Mark Marsh ⭐ Eddie Carswell ⭐ Marcin Mikołajczak ⭐ Lukas Skala ⭐ Mukilan Thiyagarajan ⭐ Coty Ternes ⭐ Marcos Gutiérrez Alonso ⭐ Lisardo Sobrino ⭐ Cristian Le ⭐ Michel van Son ⭐ Dennis Zellner ⭐ Andrea Scartazza ⭐ Sam Smucny ⭐ Pascal Mages ⭐ Michael Alexsander ⭐ Sebastian Turzanski ⭐ Aman Chhabra ⭐ Mikołaj Świątek ⭐ Julius Binder ⭐ Carlos Gonzalez Cortes ⭐ Petri Koskimaa ⭐ Davor Grubisa ⭐ Daan Boerlage ⭐ Chris Davis ⭐ Ján Trenčanský ⭐ Jacob Becker ⭐ Simon Berz ⭐ Titouan Fuchs ⭐ Sergi Navas ⭐ Aaron Bockelie ⭐ Xuetian Weng ⭐ Marco Nelles ⭐ Jakub Judas ⭐ Dima T ⭐ Vladimir Baskakov ⭐ Lars Jose ⭐ Gerbrand van Dieyen ⭐ Jed Baldwin ⭐ Florian Dittmer ⭐ Victor Castillo ⭐ Stephane Perrin ⭐ Harald Gall ⭐ Nils Martens ⭐ Régis GUYOMARCH ⭐ Ivan Sabourin ⭐ Aurélien COUDERC ⭐ Peter König ⭐ Evan Chang ⭐ Daniel Olson ⭐ Valentin Petzel ⭐ Jacob Ludvigsen ⭐ Alicja Michalska ⭐ Nikolai Eugen Sandvik ⭐ Dennis Malmin ⭐ Stephen Crocker ⭐ Luis Garcia ⭐ Warren Krettek ⭐ Nostre NZ ⭐ George Pchelkin ⭐ Vojtech Kuchar ⭐ Marijo Mustač ⭐ Tomás Duarte ⭐ Simon Hötten ⭐ Witold Sosnowski ⭐ Martin Supan ⭐ Sebastian Fohler ⭐ Störm Poorun ⭐ Nicola Feltrin ⭐ Julian Raschke ⭐ Luis Büchi ⭐ Bart Otten ⭐ Joey Eamigh ⭐ Marcel Pierre Simon ⭐ Elijah Helms ⭐ Andrew Munkres ⭐ Daniel Hurtado ⭐ Fco Javier Bolívar ⭐ Skye Van Valkenburgh ⭐ Joost Cassee ⭐ Burgess Chang ⭐ Riho Kalbus ⭐ Allen Hazen ⭐ Alistair Bain ⭐ Jason Logue ⭐ Tim van Osch ⭐ Nate Coffey ⭐ Lukas Kucerik ⭐ Trey Boyer ⭐ Bob Richter ⭐ Nicholas Harper ⭐ Matheus Ferreira Messias Guedes ⭐ Paul Birkholtz ⭐ Pierre-Alexandre Hamel-Bussières ⭐ Zach B ⭐ Alexey Toklovich ⭐ Niklas Kämper ⭐ Christian Hofstede-Kuhn ⭐ Christoph Vollmer ⭐ Kevin Messer ⭐ Arthur Tadier ⭐ Márton Lente ⭐ Denis Doria ⭐ Bel Lord-Williams ⭐ Christian Gmeiner ⭐ Florentin Rack ⭐ May Doušak ⭐ Jure Repinc ⭐ Arthur Galiullin ⭐ Timothy Carr ⭐ Rahul Ramesh ⭐ bill morin ⭐ Nikita Malgin ⭐ harry loh ⭐ Kevin McCarthy ⭐ Chad McCullough ⭐ Peter Simonsson ⭐ Odin Vex ⭐ Lino Moser ⭐ Zhangzhi Hu ⭐ MD RIDOWAN ⭐ Christoph Singer ⭐ Łukasz Konieczny ⭐ Arne Keller ⭐ Antonio Teixeira ⭐ Thibaud Franchetti ⭐ Matthias Born ⭐ Alonso Mendoza ⭐ Jordi Ferrando ⭐ Gregor Burgeff ⭐ Zacharie Monnet ⭐ Thomas Ludwig ⭐ Anael González Paz ⭐ Fred Dickens ⭐ Jacob Childersmith ⭐ Batuhan Cinar ⭐ Nick Severino ⭐ Helge Bahmann ⭐ ali xyz ⭐ Ryein Goddard ⭐ Florian Dazinger ⭐ Jay Tuckey ⭐ Dennis Körner ⭐ Ami Chayun ⭐ Joshua Mohr ⭐ Dyllan Kobal ⭐ Alexander Gurenko ⭐ Sebastian Goth ⭐ Jonas Büttner ⭐ Achim Bohnet ⭐ Jan Iversen ⭐ David Chocholatý ⭐ Simon Finlay ⭐ Pablo Caballero ⭐ Ondřej Vodáček ⭐ Tamas Kornman ⭐ Étienne Pain ⭐ Bailey Hollis ⭐ Michael Meister ⭐ Zane Godden ⭐ Andre Ramnitz ⭐ Michael Lelli ⭐ Bernie Innocenti ⭐ Michael Niehoff ⭐ Tasuku Suzuki ⭐ Sandy F ⭐ Robert McCarter ⭐ Max R ⭐ Marko Hehl ⭐ Lennart Kroll ⭐ Ole Solbakken ⭐ Benjamin Tzschoppe ⭐ Ivo Marciniak ⭐ Akseli Lahtinen ⭐ Björn Bauer ⭐ Bentleigh Beugelaar ⭐ Teodor Calin Sirbu ⭐ Marián Polťák ⭐ Stefan Neacsu ⭐ Sebastian Krönert ⭐ Brian Lemons ⭐ Dmytro Nezhevenko ⭐ Shawn Dunn ⭐ Brandon Jones ⭐ Miku Hatsune ⭐ Lukas Neubert ⭐ Isaac Patton ⭐ Michael Stemle ⭐ Guruprasad L ⭐ Richard BEOLET ⭐ Edoardo Regni ⭐ Lucas Ji ⭐ Robin Slot ⭐ William Z ⭐ Jim Crawford ⭐ Christopher Mandlbaur ⭐ Stefan Hellwig ⭐ Mischa Zschokke-Gohl ⭐ Berker Şal ⭐ Emanuele Cannizzaro ⭐ Paul Merryfellow ⭐ Michal Hlaváč ⭐ Nathan Westerman ⭐ Dominik Lux ⭐ Yoann LE TOUCHE ⭐ Robert Levine ⭐ Quentin Stuchlik ⭐ Alexandre BROUET ⭐ Angelos Skembris ⭐ Lenno Nagel ⭐ Srikar Gottipati ⭐ Philipp Slusallek ⭐ Steffen Jasper ⭐ Thomas Karpiniec ⭐ Dan Heneise ⭐ Markus Meier ⭐ JIMI ROSS ⭐ Costin-Tiberiu Vasilescu ⭐ Laust Lund Kristensen ⭐ Jarsto van Santen ⭐ Milas Bowman ⭐ Malin Stanescu ⭐ Gerardus Franciscus Maria van Iersel ⭐ Szymon Łągiewka ⭐ Turritopsis Dohrnii Teo En Ming ⭐ Sander Smid-Merlijn ⭐ Paul Porubsky ⭐ Michael Schaffner ⭐ Kim Hayo ⭐ Vincent Wilms ⭐ Roberto Michán Sánchez ⭐ Flori G ⭐ Łukasz Plich ⭐ Michael Brunner ⭐ Pascal Schmidt ⭐ Luciano Barea ⭐ Paul Fleischer ⭐ Peter Permenter ⭐ Jeremy Linton ⭐ Ian Boll ⭐ Mihail Morosan ⭐ Sergei Golimbievsky ⭐ Marcus Harrison ⭐ Antti Luoma ⭐ Eve Carletti ⭐ Iain Cuthbertson ⭐ Douglas Shaw ⭐ TIMOPHEY TSITAVETS ⭐ Travis Suel ⭐ Stanislas Leduc ⭐ Przemysław Romanik ⭐ Piotr Gliźniewicz ⭐ Robert Riemann ⭐ Rocky Cardwell ⭐ Jeremy Winter ⭐ Galin Yordanov ⭐ Peter Nunn ⭐ Andreas Paul ⭐ Paul Elliott ⭐ Jennifer Radtke ⭐ Adrian Friedli ⭐ Radek Nováček ⭐ Manuel Bödder ⭐ Mikle Kerim ⭐ Benjamin Terrier ⭐ Batuhan Taskaya ⭐ Petr Tesarik ⭐ Norbert Spina ⭐ Nicolas Rojas ⭐ Pjol . ⭐ Paxriel Pax ⭐ Wolfgang Kerschbaumer ⭐ Moritz Füssel ⭐ Nicola Jelmorini ⭐ Paul McAuley ⭐ John Kizer ⭐ Florian Edelmann ⭐ Herbert Feiler ⭐ Loïc Bersier ⭐ Jon Stelly ⭐ Johannes Wolf ⭐ Steven Barrett ⭐ David Gow ⭐ Julian Borrero ⭐ Angus Kelsey ⭐ Romain Fleurette ⭐ Tone Milazzo ⭐ Brendan Foote ⭐ Ryan Chambers ⭐ Albert Goncharov ⭐ Martin Bednar ⭐ Bernhard Breinbauer ⭐ Eric NGUYEN ⭐ Muthanna K. ⭐ Jonas Hucklenbroich ⭐ Jason Seville ⭐ Regina Abendroth ⭐ Jens Churchill ⭐ Leif-Jöran Olsson ⭐ Cameron Bosch ⭐ Melissa Autumn ⭐ Mitchel Bone ⭐ Christian Moesgaard ⭐ Matija Šuklje ⭐ Jaroslav Reznik ⭐ Federico Dossena ⭐ Curtis Bullock ⭐ Adam Dymitruk ⭐ Klaus Wagner ⭐ Samuel Jordan Kleinman ⭐ Tony James ⭐ Mark Woltman ⭐ Raphael Pretot ⭐ Marcel Siggelsten ⭐ Cornelius Kluge ⭐ Timo Büttner ⭐ Dmitry Sobolev ⭐ Owen Sessiecq ⭐ Linghai Yan ⭐ R.A. Bijl ⭐ Huw McNamara ⭐ Marco Götze ⭐ Severin Hamader ⭐ Ethan Hussong ⭐ Artur Pieniążek ⭐ Zoran Dimovski ⭐ Petronio Coelho ⭐ Dominik Viskovic ⭐ Sebastian Paul ⭐ Techin Eamrurksiri ⭐ Daniel Noga ⭐ Jonas Gamao ⭐ Dean Bradley ⭐ Will Styler ⭐ edwin vervliet ⭐ Nathaniel Housman ⭐ Wesley Schroth ⭐ Joshua Phelps ⭐ Conny Magnusson ⭐ Andy Meier ⭐ Klemen Košir ⭐ Nicolai Manique ⭐ Solomatin Vladimir ⭐ Blair Thiessen ⭐ Andreas Heinkelein ⭐ Ethan Li ⭐ Markus Ebner ⭐ Bjørnar Hausken ⭐ Alexander Verweinen ⭐ William Wojciechowski ⭐ Kiril Vladimirov ⭐ Jaspal Chauhan ⭐ Archie Lamb ⭐ Thomas Eckart ⭐ Long Vu ⭐ Lukas Hannawald ⭐ Fabian Niepelt ⭐ Neal Gompa ⭐ Rob Hyndman ⭐ Christopher Clarke ⭐ Alexey Andreyev ⭐ D Ennis ⭐ Igor Stojkovic ⭐ Artem Puzikov ⭐ Ivan Nack ⭐ Mikko Mensonen ⭐ Mike Dawson ⭐ Chris Niewiarowski ⭐ Christian Strebel ⭐ Paulo Dias ⭐ Lee Courington ⭐ Max Buchholz ⭐ Nina Wanca ⭐ Dirk Holsopple ⭐ Tapio Metsälä
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
