<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/akonadi-16.03.90.tar.xz">akonadi-16.03.90</a></td>
   <td align="right">996kB</td>
   <td><tt>e284a2dee6ae8f278e75a38139bf2f261e566e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/akonadi-calendar-16.03.90.tar.xz">akonadi-calendar-16.03.90</a></td>
   <td align="right">112kB</td>
   <td><tt>e53509414ee8031d52388dac8aec7ba92bfd180a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/akonadi-search-16.03.90.tar.xz">akonadi-search-16.03.90</a></td>
   <td align="right">68kB</td>
   <td><tt>51bc39afcf29a87965de10a3592315459998123a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/analitza-16.03.90.tar.xz">analitza-16.03.90</a></td>
   <td align="right">228kB</td>
   <td><tt>a6d104e897f0031225fb102c3a57544200ffdab6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ark-16.03.90.tar.xz">ark-16.03.90</a></td>
   <td align="right">887kB</td>
   <td><tt>084628637ff4038eba1b7c7eb9c8a783812defc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/artikulate-16.03.90.tar.xz">artikulate-16.03.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>e53d4f42a264c11db485d3b7a99331e12b2477b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/audiocd-kio-16.03.90.tar.xz">audiocd-kio-16.03.90</a></td>
   <td align="right">50kB</td>
   <td><tt>4559ba07c926eb8196cc34c7d0651e4eda951635</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/baloo-widgets-16.03.90.tar.xz">baloo-widgets-16.03.90</a></td>
   <td align="right">55kB</td>
   <td><tt>83699aa939787eb3ee60c892587632050dd916e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/blinken-16.03.90.tar.xz">blinken-16.03.90</a></td>
   <td align="right">554kB</td>
   <td><tt>278f07f453d8bdcbcd6cfcaa9aa60d8ced1c426b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/bomber-16.03.90.tar.xz">bomber-16.03.90</a></td>
   <td align="right">384kB</td>
   <td><tt>ad4efd8b543e0d99626b6e7522c399a9ae42d6a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/bovo-16.03.90.tar.xz">bovo-16.03.90</a></td>
   <td align="right">103kB</td>
   <td><tt>7667ab1942c29d97fd533f4a5f4de242334fc2f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/calendarsupport-16.03.90.tar.xz">calendarsupport-16.03.90</a></td>
   <td align="right">87kB</td>
   <td><tt>1a177cc661646a4f3e5ef108215b86af309f44e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/cantor-16.03.90.tar.xz">cantor-16.03.90</a></td>
   <td align="right">342kB</td>
   <td><tt>f45ce896f979821d9eb9799696a9569438e8dae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/cervisia-16.03.90.tar.xz">cervisia-16.03.90</a></td>
   <td align="right">365kB</td>
   <td><tt>d8e3132cf63d9b74c588a632a4038ffe84b947e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/dolphin-16.03.90.tar.xz">dolphin-16.03.90</a></td>
   <td align="right">644kB</td>
   <td><tt>3d1515e9a2659fae20e4f42784277d4b2a2b9aae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/dolphin-plugins-16.03.90.tar.xz">dolphin-plugins-16.03.90</a></td>
   <td align="right">59kB</td>
   <td><tt>2c9d4d457b4e0c6bfbe212958b3249d73fe88899</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/dragon-16.03.90.tar.xz">dragon-16.03.90</a></td>
   <td align="right">394kB</td>
   <td><tt>3c2f4c91523c9f7640c9ab453f8f5b3b896e8742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/eventviews-16.03.90.tar.xz">eventviews-16.03.90</a></td>
   <td align="right">133kB</td>
   <td><tt>8437288b49ae810dd1a225641457b6f7297b9d31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ffmpegthumbs-16.03.90.tar.xz">ffmpegthumbs-16.03.90</a></td>
   <td align="right">19kB</td>
   <td><tt>d7ab30e61d74420fc9ac02614a5d92f319845cb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/filelight-16.03.90.tar.xz">filelight-16.03.90</a></td>
   <td align="right">280kB</td>
   <td><tt>986f3b32fcf6e97645a1face2a2c556b3c2facef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/gpgmepp-16.03.90.tar.xz">gpgmepp-16.03.90</a></td>
   <td align="right">66kB</td>
   <td><tt>356a8db52bb68a9b56b898be5e52668cc22623db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/granatier-16.03.90.tar.xz">granatier-16.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4ae7c2fcba300977e25b588dc26684d8b29fe1aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/grantleetheme-16.03.90.tar.xz">grantleetheme-16.03.90</a></td>
   <td align="right">30kB</td>
   <td><tt>fd94a0669c8ac2937b8e1295233345819080a4f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/gwenview-16.03.90.tar.xz">gwenview-16.03.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>ba72f575466bf454f319c21955483dc68723fa43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/incidenceeditor-16.03.90.tar.xz">incidenceeditor-16.03.90</a></td>
   <td align="right">107kB</td>
   <td><tt>bfbc2ba0dc0f4a800060e1cb4a6aebdacef23692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/jovie-16.03.90.tar.xz">jovie-16.03.90</a></td>
   <td align="right">384kB</td>
   <td><tt>5a769910c527e9947e3f25c0a101a74dd8de8315</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/juk-16.03.90.tar.xz">juk-16.03.90</a></td>
   <td align="right">435kB</td>
   <td><tt>01c47a9447dc4867521e4c8eded35e8b3fb2ec32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kaccessible-16.03.90.tar.xz">kaccessible-16.03.90</a></td>
   <td align="right">20kB</td>
   <td><tt>dad68880bedf735b4ae2f86c4455270c1b65b525</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kaccounts-integration-16.03.90.tar.xz">kaccounts-integration-16.03.90</a></td>
   <td align="right">44kB</td>
   <td><tt>30ab9bdfa40e2da0ff1aaab89855e2f70f7e9045</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kaccounts-providers-16.03.90.tar.xz">kaccounts-providers-16.03.90</a></td>
   <td align="right">16kB</td>
   <td><tt>2b0d9483fa2b8b8bed1d2dc8133ff473edb71a36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kajongg-16.03.90.tar.xz">kajongg-16.03.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>122cac9aa9f9efa2b31790f04cab34c40c0a2643</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kalarmcal-16.03.90.tar.xz">kalarmcal-16.03.90</a></td>
   <td align="right">85kB</td>
   <td><tt>cf9119e9e8aae580cd41041bfed916f773896fd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kalgebra-16.03.90.tar.xz">kalgebra-16.03.90</a></td>
   <td align="right">250kB</td>
   <td><tt>44072433434a4556d0bb8966cfa11ca9e327f53e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kalzium-16.03.90.tar.xz">kalzium-16.03.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>b35f28fb32d99a663eee11790eeee21a144e42e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kamera-16.03.90.tar.xz">kamera-16.03.90</a></td>
   <td align="right">36kB</td>
   <td><tt>5355325cb2da40579b62af9154dbdd4a11a7418f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kanagram-16.03.90.tar.xz">kanagram-16.03.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>140352f7b718fedb0237db870904f549c57d640a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kapman-16.03.90.tar.xz">kapman-16.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6d52339710bda41c56e2dd2d88e8bdf5b193ce50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kapptemplate-16.03.90.tar.xz">kapptemplate-16.03.90</a></td>
   <td align="right">463kB</td>
   <td><tt>bce0514092886037ef21ae1a06fb495eb924beef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kate-16.03.90.tar.xz">kate-16.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0122aa10e5518d413854bab9dc734c5bd4ba00ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/katomic-16.03.90.tar.xz">katomic-16.03.90</a></td>
   <td align="right">645kB</td>
   <td><tt>64584228a2953c719f68e5ace2ecf525eaf1c571</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kblackbox-16.03.90.tar.xz">kblackbox-16.03.90</a></td>
   <td align="right">255kB</td>
   <td><tt>7898bc29f77bc4bf955695f5155f81102b41a040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kblocks-16.03.90.tar.xz">kblocks-16.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>bede6dde4d39da4c776cdb3ae698c73a621ef3fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kblog-16.03.90.tar.xz">kblog-16.03.90</a></td>
   <td align="right">42kB</td>
   <td><tt>739aa3444e44318471a2f2c6bea727796b44a845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kbounce-16.03.90.tar.xz">kbounce-16.03.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>a1d8dd74dd544816cd48c02bd63735f1aff75ce2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kbreakout-16.03.90.tar.xz">kbreakout-16.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6cd58e089cf7f7a7b3acf4280504187a750382b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kbruch-16.03.90.tar.xz">kbruch-16.03.90</a></td>
   <td align="right">884kB</td>
   <td><tt>d3ba73de677d672c28689a93b5e899be2e2a463e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kcachegrind-16.03.90.tar.xz">kcachegrind-16.03.90</a></td>
   <td align="right">232kB</td>
   <td><tt>56e4c2ef17beb9540eeabf54b4a5141fc4a9419f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kcalc-16.03.90.tar.xz">kcalc-16.03.90</a></td>
   <td align="right">81kB</td>
   <td><tt>3ce71874162a77357a754bbd38e92fa060a4b343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kcalcore-16.03.90.tar.xz">kcalcore-16.03.90</a></td>
   <td align="right">287kB</td>
   <td><tt>c5149b57d6b75da8842d7388dd6aae313fd43322</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kcalutils-16.03.90.tar.xz">kcalutils-16.03.90</a></td>
   <td align="right">68kB</td>
   <td><tt>1e277bed34dabe00469ecb2c95752dd34d84ce53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kcharselect-16.03.90.tar.xz">kcharselect-16.03.90</a></td>
   <td align="right">70kB</td>
   <td><tt>a73506f54d5c614d55d2067b81f12ae129b5b869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kcolorchooser-16.03.90.tar.xz">kcolorchooser-16.03.90</a></td>
   <td align="right">4kB</td>
   <td><tt>abd21a55ddaf762d6cfe72bab8af9977febc85a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kcontacts-16.03.90.tar.xz">kcontacts-16.03.90</a></td>
   <td align="right">132kB</td>
   <td><tt>89491ace46525688b9945b3fd2e73d41745ef3f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kcron-16.03.90.tar.xz">kcron-16.03.90</a></td>
   <td align="right">136kB</td>
   <td><tt>46354c18467213d2e7d1367508afe08eb2952a97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-baseapps-16.03.90.tar.xz">kde-baseapps-16.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3873be25620e7fc45fbab6375786fffb014066c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdebugsettings-16.03.90.tar.xz">kdebugsettings-16.03.90</a></td>
   <td align="right">22kB</td>
   <td><tt>8e15b50a467997a0b960dd839158f99e12fdc1b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-dev-scripts-16.03.90.tar.xz">kde-dev-scripts-16.03.90</a></td>
   <td align="right">302kB</td>
   <td><tt>d2d2927bc0e07e913266bdf3863486ffb161e569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-dev-utils-16.03.90.tar.xz">kde-dev-utils-16.03.90</a></td>
   <td align="right">50kB</td>
   <td><tt>8674546bdc47ec9646ce0302959f2369c8a44979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdeedu-data-16.03.90.tar.xz">kdeedu-data-16.03.90</a></td>
   <td align="right">94kB</td>
   <td><tt>55d1b75d29fe99c0e3c9b6bfd4fcf51f45558299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdegraphics-mobipocket-16.03.90.tar.xz">kdegraphics-mobipocket-16.03.90</a></td>
   <td align="right">14kB</td>
   <td><tt>e4bd16e55927d517e9d4badc412eae145ff09051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdegraphics-strigi-analyzer-16.03.90.tar.xz">kdegraphics-strigi-analyzer-16.03.90</a></td>
   <td align="right">39kB</td>
   <td><tt>7b97f93f6ca31fea82bbc2d2b1a12cb8cb05014d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdegraphics-thumbnailers-16.03.90.tar.xz">kdegraphics-thumbnailers-16.03.90</a></td>
   <td align="right">40kB</td>
   <td><tt>d89ae04571c11b50d0ae41a9eb1c1addbaea279b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdenetwork-filesharing-16.03.90.tar.xz">kdenetwork-filesharing-16.03.90</a></td>
   <td align="right">27kB</td>
   <td><tt>0bfb7e70b04c96f5233f60683d495c88c3d50880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdenetwork-strigi-analyzers-16.03.90.tar.xz">kdenetwork-strigi-analyzers-16.03.90</a></td>
   <td align="right">14kB</td>
   <td><tt>8b18efa9fc93ca925869a4246cab4c602f019612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdenlive-16.03.90.tar.xz">kdenlive-16.03.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d8f6fde92ebf5238983d7f18cb2b764936262475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdepim-16.03.90.tar.xz">kdepim-16.03.90</a></td>
   <td align="right">5.7MB</td>
   <td><tt>f130136e77262edf620117f915241a29b5edcb03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdepim-addons-16.03.90.tar.xz">kdepim-addons-16.03.90</a></td>
   <td align="right">206kB</td>
   <td><tt>4a37f46f807eb647749af567a82013c0792dd1e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdepim-apps-libs-16.03.90.tar.xz">kdepim-apps-libs-16.03.90</a></td>
   <td align="right">59kB</td>
   <td><tt>5894b0abfb0dc0312920a73922df729b0cf43a97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdepimlibs-16.03.90.tar.xz">kdepimlibs-16.03.90</a></td>
   <td align="right">286kB</td>
   <td><tt>bd7a64986b55477933256b22e8e4d41590dcb4ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdepim-runtime-16.03.90.tar.xz">kdepim-runtime-16.03.90</a></td>
   <td align="right">685kB</td>
   <td><tt>74652572a1d4beae84474e978c491303cb6c07d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-runtime-16.03.90.tar.xz">kde-runtime-16.03.90</a></td>
   <td align="right">7.5MB</td>
   <td><tt>b19fedd13e5dfd11d81b17351f7995903a50f648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdesdk-kioslaves-16.03.90.tar.xz">kdesdk-kioslaves-16.03.90</a></td>
   <td align="right">353kB</td>
   <td><tt>c9bef905effe886024e0b7a8dcc1407649775d0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdesdk-strigi-analyzers-16.03.90.tar.xz">kdesdk-strigi-analyzers-16.03.90</a></td>
   <td align="right">17kB</td>
   <td><tt>02a2765f56b2af8e5b791854e1043a5c7f326de0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdesdk-thumbnailers-16.03.90.tar.xz">kdesdk-thumbnailers-16.03.90</a></td>
   <td align="right">11kB</td>
   <td><tt>f3c7a776feeff2ba1680dd09ba775a3673d4040a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdewebdev-16.03.90.tar.xz">kdewebdev-16.03.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>a06b99dfb6d1b5fecf8f81a57c687672873c3a16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdf-16.03.90.tar.xz">kdf-16.03.90</a></td>
   <td align="right">145kB</td>
   <td><tt>14497be41db5d8f7c866f2eaddb0493889795522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdgantt2-16.03.90.tar.xz">kdgantt2-16.03.90</a></td>
   <td align="right">43kB</td>
   <td><tt>98f2b2e55de60d1dcbcdbe58bf4827b10709172a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kdiamond-16.03.90.tar.xz">kdiamond-16.03.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>c47f175b4e7ff024fda5fd29b74cb20d9f9f246a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kfloppy-16.03.90.tar.xz">kfloppy-16.03.90</a></td>
   <td align="right">52kB</td>
   <td><tt>c266c8aa41ee4e7505d3ed439430348258c5b462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kfourinline-16.03.90.tar.xz">kfourinline-16.03.90</a></td>
   <td align="right">274kB</td>
   <td><tt>3de31d499054a88708aca8a5670ae04cdf611503</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kgeography-16.03.90.tar.xz">kgeography-16.03.90</a></td>
   <td align="right">6.4MB</td>
   <td><tt>5f8f53b66a00ec37c4acacc1f7bf431bf14461fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kget-16.03.90.tar.xz">kget-16.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>13a202eb4f177968fd5b6f5c3725ef7696149810</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kgoldrunner-16.03.90.tar.xz">kgoldrunner-16.03.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>dc5bf46db99818c4fc266de659b6239d7fe73ba7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kgpg-16.03.90.tar.xz">kgpg-16.03.90</a></td>
   <td align="right">790kB</td>
   <td><tt>1af4d6c2ef8c4a932eec76d1079f27e84685822c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/khangman-16.03.90.tar.xz">khangman-16.03.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>b473207ec47e77c795e73c45b401c2949b88c724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/khelpcenter-16.03.90.tar.xz">khelpcenter-16.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>520f9c15727d8c28b6ad41208e9ca1d68dadf963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kholidays-16.03.90.tar.xz">kholidays-16.03.90</a></td>
   <td align="right">171kB</td>
   <td><tt>4cdd6f8768ce0bf9891470fcdb28d2980fc39cbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kidentitymanagement-16.03.90.tar.xz">kidentitymanagement-16.03.90</a></td>
   <td align="right">35kB</td>
   <td><tt>7ac5fd11f974f3b65e5583247d101c253d2f57c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kig-16.03.90.tar.xz">kig-16.03.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>9048262ea99e59fd93d5c31f1eb63186ed242dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kigo-16.03.90.tar.xz">kigo-16.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>663b75d8d55181223222ef2690e866b3c8cdd501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/killbots-16.03.90.tar.xz">killbots-16.03.90</a></td>
   <td align="right">940kB</td>
   <td><tt>f0fb2c15fe5f3935e1544843d2e345d9345ad43d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kimap-16.03.90.tar.xz">kimap-16.03.90</a></td>
   <td align="right">88kB</td>
   <td><tt>bd2cfe109f3b1555a24f20ee049cfb913077fc32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kio-extras-16.03.90.tar.xz">kio-extras-16.03.90</a></td>
   <td align="right">271kB</td>
   <td><tt>ea401bb55c5bf28a22ce0c1144da8cfb83e8ef58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kiriki-16.03.90.tar.xz">kiriki-16.03.90</a></td>
   <td align="right">117kB</td>
   <td><tt>8af03f6ff28255fadcf6c068b987934e7cc74769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kiten-16.03.90.tar.xz">kiten-16.03.90</a></td>
   <td align="right">11MB</td>
   <td><tt>96286caecdd54a114b9226dc3c9af112b4ec8fe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kjumpingcube-16.03.90.tar.xz">kjumpingcube-16.03.90</a></td>
   <td align="right">161kB</td>
   <td><tt>add76572817f1f2e64483e7df8a89edd3898855a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kldap-16.03.90.tar.xz">kldap-16.03.90</a></td>
   <td align="right">52kB</td>
   <td><tt>76edf468649996aa056da3231fc8a3e6b91a2aef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kleopatra-16.03.90.tar.xz">kleopatra-16.03.90</a></td>
   <td align="right">695kB</td>
   <td><tt>de8e2e128c6875f32ce1bcf370eeaee19fb64aa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/klettres-16.03.90.tar.xz">klettres-16.03.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>1f4108bae70a448b7af0571d76b42b1698502697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/klickety-16.03.90.tar.xz">klickety-16.03.90</a></td>
   <td align="right">804kB</td>
   <td><tt>4a97e69a7f230377435b0175d07e9bcc08d6f27c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/klines-16.03.90.tar.xz">klines-16.03.90</a></td>
   <td align="right">985kB</td>
   <td><tt>fb31264a0b7c28849276974335c9151b9a5ba988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kmag-16.03.90.tar.xz">kmag-16.03.90</a></td>
   <td align="right">84kB</td>
   <td><tt>2a93da6f812cd6c8b5a83e5b7af3ac2036e19084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kmahjongg-16.03.90.tar.xz">kmahjongg-16.03.90</a></td>
   <td align="right">988kB</td>
   <td><tt>c33c76125188b51c72b5bc4da6461ffd52827e09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kmailtransport-16.03.90.tar.xz">kmailtransport-16.03.90</a></td>
   <td align="right">63kB</td>
   <td><tt>5adba59b844e273a406ac56e4705c61fa5b3e775</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kmbox-16.03.90.tar.xz">kmbox-16.03.90</a></td>
   <td align="right">23kB</td>
   <td><tt>c6fed4ed183b6a6db41191a4929542afb3d61e55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kmime-16.03.90.tar.xz">kmime-16.03.90</a></td>
   <td align="right">119kB</td>
   <td><tt>295c3b283f0132bd4fdf370e09f0abaf82b0723b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kmines-16.03.90.tar.xz">kmines-16.03.90</a></td>
   <td align="right">608kB</td>
   <td><tt>5134810e255ac634e5296cec2565203c39c9f471</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kmix-16.03.90.tar.xz">kmix-16.03.90</a></td>
   <td align="right">380kB</td>
   <td><tt>6cc78ce0d6032b21b51096b994ea218972232ca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kmousetool-16.03.90.tar.xz">kmousetool-16.03.90</a></td>
   <td align="right">35kB</td>
   <td><tt>ab613e7b770e0c909d3b838032151ab865c5d9f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kmouth-16.03.90.tar.xz">kmouth-16.03.90</a></td>
   <td align="right">270kB</td>
   <td><tt>6f7ffcdaf6fc557d4d46bf15105b712815591a9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kmplot-16.03.90.tar.xz">kmplot-16.03.90</a></td>
   <td align="right">647kB</td>
   <td><tt>7c5b174206d84bd44b5f4448008b546c59bbd8d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/knavalbattle-16.03.90.tar.xz">knavalbattle-16.03.90</a></td>
   <td align="right">889kB</td>
   <td><tt>d9950f0f21fcfc10c6d92b4b574ebaccc185f8c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/knetwalk-16.03.90.tar.xz">knetwalk-16.03.90</a></td>
   <td align="right">764kB</td>
   <td><tt>b46eb31f43ef6205d28159eb2bc2e3cb65fa51a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kolf-16.03.90.tar.xz">kolf-16.03.90</a></td>
   <td align="right">748kB</td>
   <td><tt>ead51249a3b2d815a1d0d88c0eb18a9722eac153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kollision-16.03.90.tar.xz">kollision-16.03.90</a></td>
   <td align="right">204kB</td>
   <td><tt>f798ee1d0e651f1a1c788b7559d143a857103dad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kolourpaint-16.03.90.tar.xz">kolourpaint-16.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0294540216016777c3829a292c6a304b013684a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kompare-16.03.90.tar.xz">kompare-16.03.90</a></td>
   <td align="right">336kB</td>
   <td><tt>d9d8af148c4d58c4cf7f41bd39b8039f857cb10c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/konquest-16.03.90.tar.xz">konquest-16.03.90</a></td>
   <td align="right">396kB</td>
   <td><tt>2f7dbad1a712ccdfafb04fd3153415f46db20955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/konsole-16.03.90.tar.xz">konsole-16.03.90</a></td>
   <td align="right">449kB</td>
   <td><tt>efd2a649bc4e8eb0e19586535c2d2aa16039ba04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kontactinterface-16.03.90.tar.xz">kontactinterface-16.03.90</a></td>
   <td align="right">24kB</td>
   <td><tt>1fa38bd286fadf69c96dac99a85022b2eed81d7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kopete-16.03.90.tar.xz">kopete-16.03.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>94703259df4b4554325727bf1cc503efc04c72a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kpat-16.03.90.tar.xz">kpat-16.03.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>3be121ec42bfdd121fd28cbbed65edbd54ffff67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kpimtextedit-16.03.90.tar.xz">kpimtextedit-16.03.90</a></td>
   <td align="right">76kB</td>
   <td><tt>88d9120ad4d3f93300500d381edd7655959b24b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kppp-16.03.90.tar.xz">kppp-16.03.90</a></td>
   <td align="right">683kB</td>
   <td><tt>8374727a814f8cb5dd92dde3f4fe45e972d6c8c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kqtquickcharts-16.03.90.tar.xz">kqtquickcharts-16.03.90</a></td>
   <td align="right">20kB</td>
   <td><tt>5cd616dcbd4910a913dba72d474d99b2dea553f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/krdc-16.03.90.tar.xz">krdc-16.03.90</a></td>
   <td align="right">388kB</td>
   <td><tt>4b3c5d291091791c53efae0be1f08df23a0e4393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kremotecontrol-16.03.90.tar.xz">kremotecontrol-16.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f6176d729e85561deedb01115e3f36f08a9e72e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kreversi-16.03.90.tar.xz">kreversi-16.03.90</a></td>
   <td align="right">464kB</td>
   <td><tt>cc5a10a346edef8a4eb0e3c0bf0acbb05743a2a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/krfb-16.03.90.tar.xz">krfb-16.03.90</a></td>
   <td align="right">317kB</td>
   <td><tt>34e27c0648ae2eb711059c4b55b92a1973da0f37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kross-interpreters-16.03.90.tar.xz">kross-interpreters-16.03.90</a></td>
   <td align="right">129kB</td>
   <td><tt>f7b213f9bdc84c50de8bea2320fe423f282e6add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kruler-16.03.90.tar.xz">kruler-16.03.90</a></td>
   <td align="right">120kB</td>
   <td><tt>6859b8d91138666aed06d6988d2b4da8c798ab41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ksaneplugin-16.03.90.tar.xz">ksaneplugin-16.03.90</a></td>
   <td align="right">12kB</td>
   <td><tt>c5f387c02d56ba90cdd442502d5d26659ddeb5a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kscd-16.03.90.tar.xz">kscd-16.03.90</a></td>
   <td align="right">90kB</td>
   <td><tt>2db217a21b1470b68bd821689394882cf79b745e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kshisen-16.03.90.tar.xz">kshisen-16.03.90</a></td>
   <td align="right">135kB</td>
   <td><tt>9b17a034acf27a1a76a50c6c5a0ad4941139f377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ksirk-16.03.90.tar.xz">ksirk-16.03.90</a></td>
   <td align="right">4.7MB</td>
   <td><tt>3a67fb2c6d6d3c0623121ab694012400e348e8f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ksnakeduel-16.03.90.tar.xz">ksnakeduel-16.03.90</a></td>
   <td align="right">290kB</td>
   <td><tt>dacd72b3d45a076cd85ded974d5b6f524ee72b9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kspaceduel-16.03.90.tar.xz">kspaceduel-16.03.90</a></td>
   <td align="right">247kB</td>
   <td><tt>07fe8b5ef9539663db173e51d0466d78d4c1175a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ksquares-16.03.90.tar.xz">ksquares-16.03.90</a></td>
   <td align="right">78kB</td>
   <td><tt>ac867e102f3989813e9ea924ca773ef728273409</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kstars-16.03.90.tar.xz">kstars-16.03.90</a></td>
   <td align="right">16MB</td>
   <td><tt>3e3178fea1040249edc57576dd20c9c9f7b7ad71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ksudoku-16.03.90.tar.xz">ksudoku-16.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>cf3f61abaf19f0159670ea3cbf392cf8f7f222d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ksystemlog-16.03.90.tar.xz">ksystemlog-16.03.90</a></td>
   <td align="right">386kB</td>
   <td><tt>1eb51ceef8e6decddb7845c7fe8ac895d50ee62e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kteatime-16.03.90.tar.xz">kteatime-16.03.90</a></td>
   <td align="right">102kB</td>
   <td><tt>75bb737921f1f7b99a10d4af8a13601e85891b53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktimer-16.03.90.tar.xz">ktimer-16.03.90</a></td>
   <td align="right">157kB</td>
   <td><tt>adf2bc53a538cc5486d32aa3563a2061a7886b0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktnef-16.03.90.tar.xz">ktnef-16.03.90</a></td>
   <td align="right">227kB</td>
   <td><tt>e50301fe9fb700e6553afd7a537d97fd14b5d848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktouch-16.03.90.tar.xz">ktouch-16.03.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e907913d56584f3a41caa98ded93491dd501bb9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktp-accounts-kcm-16.03.90.tar.xz">ktp-accounts-kcm-16.03.90</a></td>
   <td align="right">86kB</td>
   <td><tt>0fd6ee4374ceb8afd2d97b88018a77f89da363d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktp-approver-16.03.90.tar.xz">ktp-approver-16.03.90</a></td>
   <td align="right">20kB</td>
   <td><tt>e9b6a9dcfe8bbf8b359ad75f6d54e239d31a33c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktp-auth-handler-16.03.90.tar.xz">ktp-auth-handler-16.03.90</a></td>
   <td align="right">25kB</td>
   <td><tt>b82fe195fcba2c8987200f1a7ef5942ab1b8ee90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktp-call-ui-16.03.90.tar.xz">ktp-call-ui-16.03.90</a></td>
   <td align="right">44kB</td>
   <td><tt>b07961620e6418096c13f980232d3a989f76a4ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktp-common-internals-16.03.90.tar.xz">ktp-common-internals-16.03.90</a></td>
   <td align="right">308kB</td>
   <td><tt>64f383d4a6558f86ab2f61eaf3ec475a64e3b0ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktp-contact-list-16.03.90.tar.xz">ktp-contact-list-16.03.90</a></td>
   <td align="right">47kB</td>
   <td><tt>37e06dbd6fe0da54b3d292aabe3223e9e22677e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktp-contact-runner-16.03.90.tar.xz">ktp-contact-runner-16.03.90</a></td>
   <td align="right">16kB</td>
   <td><tt>a4eaf42337e41ac23e6e5fadd701856920832124</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktp-desktop-applets-16.03.90.tar.xz">ktp-desktop-applets-16.03.90</a></td>
   <td align="right">25kB</td>
   <td><tt>cfc24b10a3b8c86bf74f7f1869f5875e364b98da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktp-filetransfer-handler-16.03.90.tar.xz">ktp-filetransfer-handler-16.03.90</a></td>
   <td align="right">22kB</td>
   <td><tt>971d64710ee4fa9ade3b02a40e0fb75e5701a3be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktp-kded-module-16.03.90.tar.xz">ktp-kded-module-16.03.90</a></td>
   <td align="right">37kB</td>
   <td><tt>7b5f83c4377dcb250932a870f0265200e70e16bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktp-send-file-16.03.90.tar.xz">ktp-send-file-16.03.90</a></td>
   <td align="right">14kB</td>
   <td><tt>8be24cb9c79bca12cce94c178b355b30a95172a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktp-text-ui-16.03.90.tar.xz">ktp-text-ui-16.03.90</a></td>
   <td align="right">287kB</td>
   <td><tt>1958be08c6608f1f7142798a98a5d95aa3752298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/ktuberling-16.03.90.tar.xz">ktuberling-16.03.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>6dd4f32f15acc27d9add1a6efc6317ee272b949c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kturtle-16.03.90.tar.xz">kturtle-16.03.90</a></td>
   <td align="right">189kB</td>
   <td><tt>edc6540b3889ae5df5cef7ce57042b512ce8aa36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kubrick-16.03.90.tar.xz">kubrick-16.03.90</a></td>
   <td align="right">104kB</td>
   <td><tt>dcda0765ba042d980ac06889da076bdcf81bfaa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kuser-16.03.90.tar.xz">kuser-16.03.90</a></td>
   <td align="right">132kB</td>
   <td><tt>a8534920a5f1d78ed570308f903199f8363bbe7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kwalletmanager-16.03.90.tar.xz">kwalletmanager-16.03.90</a></td>
   <td align="right">446kB</td>
   <td><tt>7d438db708e9fd41693d7e44f9e009cef1b9d529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kwordquiz-16.03.90.tar.xz">kwordquiz-16.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>4cbdde37c7a3f3499ab5081939b39198b0b9dabf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libgravatar-16.03.90.tar.xz">libgravatar-16.03.90</a></td>
   <td align="right">10kB</td>
   <td><tt>c657620eac8562ea29087d87faf4948f155daff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libkcddb-16.03.90.tar.xz">libkcddb-16.03.90</a></td>
   <td align="right">154kB</td>
   <td><tt>1641866df6dbb68a31570c077f17e51ce492c2c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libkcompactdisc-16.03.90.tar.xz">libkcompactdisc-16.03.90</a></td>
   <td align="right">74kB</td>
   <td><tt>bbf9844fff21e51fd117e852649543621ca5577b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libkdcraw-16.03.90.tar.xz">libkdcraw-16.03.90</a></td>
   <td align="right">41kB</td>
   <td><tt>2909f09c9e60d1b39b2547e79fca54daaebfc3a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libkdeedu-16.03.90.tar.xz">libkdeedu-16.03.90</a></td>
   <td align="right">128kB</td>
   <td><tt>8adce07577720001ff449e7de5f9b81168b311a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libkdegames-16.03.90.tar.xz">libkdegames-16.03.90</a></td>
   <td align="right">5.5MB</td>
   <td><tt>aaf0efec2a2b96702e0d0a1483997dffc03fe1f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libkdepim-16.03.90.tar.xz">libkdepim-16.03.90</a></td>
   <td align="right">101kB</td>
   <td><tt>e062bcd7c2723fa83cd2be28971dde109e31ba6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libkeduvocdocument-16.03.90.tar.xz">libkeduvocdocument-16.03.90</a></td>
   <td align="right">87kB</td>
   <td><tt>a265e4ae3a4853cb1bc21010a1a46db17d46ffec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libkexiv2-16.03.90.tar.xz">libkexiv2-16.03.90</a></td>
   <td align="right">63kB</td>
   <td><tt>66e1f96afe555eb6587b85e7f2395af6c09e5f6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libkface-16.03.90.tar.xz">libkface-16.03.90</a></td>
   <td align="right">8.5MB</td>
   <td><tt>c107e4ab9c1230cb1fad1cc1e3f74f09bd8b3a51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libkgeomap-16.03.90.tar.xz">libkgeomap-16.03.90</a></td>
   <td align="right">122kB</td>
   <td><tt>c6cb6953b4f00374188431c44dfb538c8af66cba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libkipi-16.03.90.tar.xz">libkipi-16.03.90</a></td>
   <td align="right">101kB</td>
   <td><tt>e45360ddd1568c41e3d5e43b2c787efa94ea1572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libkleo-16.03.90.tar.xz">libkleo-16.03.90</a></td>
   <td align="right">127kB</td>
   <td><tt>e8e89dddd0879af4f56a6e25c50d40b045014641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libkmahjongg-16.03.90.tar.xz">libkmahjongg-16.03.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>734e07c8182612b2b8962ee14968a234aef146a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libkomparediff2-16.03.90.tar.xz">libkomparediff2-16.03.90</a></td>
   <td align="right">55kB</td>
   <td><tt>f427cb46f8b2ac453db3a18c6c9e182135452025</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libksane-16.03.90.tar.xz">libksane-16.03.90</a></td>
   <td align="right">79kB</td>
   <td><tt>4ca32cbe12fdde291b1890b30500e0d4aa10c96e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/libksieve-16.03.90.tar.xz">libksieve-16.03.90</a></td>
   <td align="right">136kB</td>
   <td><tt>2dbafac655d650a962fbe9347dd6605a1a6f798e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/lokalize-16.03.90.tar.xz">lokalize-16.03.90</a></td>
   <td align="right">934kB</td>
   <td><tt>2d43718375292c581c54ed03e9c7b1ba3c2ebef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/lskat-16.03.90.tar.xz">lskat-16.03.90</a></td>
   <td align="right">906kB</td>
   <td><tt>310be1ff52c8ee0cb3aa3f864661cbda5549e363</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/mailcommon-16.03.90.tar.xz">mailcommon-16.03.90</a></td>
   <td align="right">168kB</td>
   <td><tt>db8871417040758e940c7b0031e5d0b2647f5ce1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/mailimporter-16.03.90.tar.xz">mailimporter-16.03.90</a></td>
   <td align="right">363kB</td>
   <td><tt>cce0e509711ce28d32e2c27d05d4c10cb3bcc065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/marble-16.03.90.tar.xz">marble-16.03.90</a></td>
   <td align="right">22MB</td>
   <td><tt>da3361c3b55085b4fad5069d351c5a3d6fa8456e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/messagelib-16.03.90.tar.xz">messagelib-16.03.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>b9ed0faf3d5804606c45d82c6e3e7ae7d003ce89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/minuet-16.03.90.tar.xz">minuet-16.03.90</a></td>
   <td align="right">498kB</td>
   <td><tt>efdd0ec7602fbd75a3bc556d68af8f6ebe1f86ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/mplayerthumbs-16.03.90.tar.xz">mplayerthumbs-16.03.90</a></td>
   <td align="right">26kB</td>
   <td><tt>357e6778367bec581c7f8ab80093d36cfd799c98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/okteta-16.03.90.tar.xz">okteta-16.03.90</a></td>
   <td align="right">492kB</td>
   <td><tt>ff917cc633190c8cdeccad0263ef3e9ff911d2d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/okular-16.03.90.tar.xz">okular-16.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c99564a28ba3e9f323bf96e10c3fd8bfc295c715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/palapeli-16.03.90.tar.xz">palapeli-16.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c3b4747d86795ecd4dde4ceb07ca2070ba0184a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/parley-16.03.90.tar.xz">parley-16.03.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>e1fb76841ae4f2fa213f247324f5c0024a0497d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/picmi-16.03.90.tar.xz">picmi-16.03.90</a></td>
   <td align="right">717kB</td>
   <td><tt>7f2ae7a5f8a313e9a62821c8ee891aef65e0b8c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/pimcommon-16.03.90.tar.xz">pimcommon-16.03.90</a></td>
   <td align="right">140kB</td>
   <td><tt>300aa99e2c57c2d221cc505df42755f8fbccbc43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/poxml-16.03.90.tar.xz">poxml-16.03.90</a></td>
   <td align="right">31kB</td>
   <td><tt>c3e630f5d0e3cdede23fb93fed96fcdd002d1d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/print-manager-16.03.90.tar.xz">print-manager-16.03.90</a></td>
   <td align="right">91kB</td>
   <td><tt>85b84ea6db6278894c06856f39dc69f680dd5e90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/rocs-16.03.90.tar.xz">rocs-16.03.90</a></td>
   <td align="right">521kB</td>
   <td><tt>781caa3215982da2d6cd2f2c0ed8d7cbc4270b98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/signon-kwallet-extension-16.03.90.tar.xz">signon-kwallet-extension-16.03.90</a></td>
   <td align="right">10kB</td>
   <td><tt>9e06faf58debb77a727df2e752db032f9018efe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/spectacle-16.03.90.tar.xz">spectacle-16.03.90</a></td>
   <td align="right">971kB</td>
   <td><tt>94da59453b987c46856807cca1cc3f25f9d6ed2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/step-16.03.90.tar.xz">step-16.03.90</a></td>
   <td align="right">379kB</td>
   <td><tt>8580eaafddd89f3fce427d10fefcf4e0b36dcc17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/svgpart-16.03.90.tar.xz">svgpart-16.03.90</a></td>
   <td align="right">8kB</td>
   <td><tt>63c19546e904b1c380d86868743b3852e9eeda3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/sweeper-16.03.90.tar.xz">sweeper-16.03.90</a></td>
   <td align="right">80kB</td>
   <td><tt>ad8a63e0b9ccb10f1701d2ed3dcfac685a7b0c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/syndication-16.03.90.tar.xz">syndication-16.03.90</a></td>
   <td align="right">156kB</td>
   <td><tt>7eb8b720aa6ad025acbab7c09898fe21dbc1a434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/umbrello-16.03.90.tar.xz">umbrello-16.03.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>6ec85d4a8d233ffae31e7a6104bbd8f642b91b71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/zeroconf-ioslave-16.03.90.tar.xz">zeroconf-ioslave-16.03.90</a></td>
   <td align="right">25kB</td>
   <td><tt>f2fc43f8e30814af286e3f268e381bbf0ad1a0e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-ar-16.03.90.tar.xz">kde-l10n-ar-16.03.90</a></td>
   <td align="right">3.2MB</td>
   <td><tt>8e5d0293c319376490aef3d70728a52a0c5c6e28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-ast-16.03.90.tar.xz">kde-l10n-ast-16.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>622e998820ed03f4a39240e85f99ddc43ac9918e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-bg-16.03.90.tar.xz">kde-l10n-bg-16.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>854a723d7bf20f96ce30aa6f45a28cb6b4b6ef29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-bs-16.03.90.tar.xz">kde-l10n-bs-16.03.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>40ee183b16e5c3d799219e1ad7893dbb51ad7f4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-ca-16.03.90.tar.xz">kde-l10n-ca-16.03.90</a></td>
   <td align="right">11MB</td>
   <td><tt>6987ca0b8d240c4fdd302dd4c25159dc69649da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-ca@valencia-16.03.90.tar.xz">kde-l10n-ca@valencia-16.03.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>88b539aa9ad523229976f72400e258a2293de152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-cs-16.03.90.tar.xz">kde-l10n-cs-16.03.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>7dad9da3f976cc8a93cacdf23ef2a0cd930b981d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-da-16.03.90.tar.xz">kde-l10n-da-16.03.90</a></td>
   <td align="right">12MB</td>
   <td><tt>fc16ca2bea2859105f22f8cf74c0a80e9cd62496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-de-16.03.90.tar.xz">kde-l10n-de-16.03.90</a></td>
   <td align="right">34MB</td>
   <td><tt>de31ec0dccd8c9177e08f09f5cbc341a17196412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-el-16.03.90.tar.xz">kde-l10n-el-16.03.90</a></td>
   <td align="right">4.6MB</td>
   <td><tt>5bacdf52730b33412c367aa900aefcc2e8d5af84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-en_GB-16.03.90.tar.xz">kde-l10n-en_GB-16.03.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d055a9ec901598b8f3958435a4ca682f92fde8c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-eo-16.03.90.tar.xz">kde-l10n-eo-16.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0f6ffb004e8f4698aec9a7acc9e0f722c9062901</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-es-16.03.90.tar.xz">kde-l10n-es-16.03.90</a></td>
   <td align="right">20MB</td>
   <td><tt>e88219632237ec9e383c4d1182ac688385ca8739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-et-16.03.90.tar.xz">kde-l10n-et-16.03.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>a2502ff8997de5b2aa7af395fd134d0261ad0c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-eu-16.03.90.tar.xz">kde-l10n-eu-16.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>79f541a0f6350a81ba5b4f711191694b0d136684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-fa-16.03.90.tar.xz">kde-l10n-fa-16.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a589d33afb48dc1e529db9ae6d5b67a3a42f062b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-fi-16.03.90.tar.xz">kde-l10n-fi-16.03.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ec3818d98d153c89c269a52fe3fdb880137aad67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-fr-16.03.90.tar.xz">kde-l10n-fr-16.03.90</a></td>
   <td align="right">45MB</td>
   <td><tt>dbf03139b8a62bb05738a4e7e6efc5762546abbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-ga-16.03.90.tar.xz">kde-l10n-ga-16.03.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>06471a26f63e29744a9595351067023e27e7630f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-gl-16.03.90.tar.xz">kde-l10n-gl-16.03.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>4a817ec285acd7f0b8c4a896e22f2b237914285e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-he-16.03.90.tar.xz">kde-l10n-he-16.03.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5acf5e50af5e0a14e2cc00634a7e6a2b00b81d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-hi-16.03.90.tar.xz">kde-l10n-hi-16.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8563aa6d49e622b850a4a342c7a4af99df2b3658</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-hr-16.03.90.tar.xz">kde-l10n-hr-16.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>8dff3421196ceee20b871598b4a1ee3302a5eb72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-hu-16.03.90.tar.xz">kde-l10n-hu-16.03.90</a></td>
   <td align="right">4.1MB</td>
   <td><tt>10133681eeca1281fbe2c122c24e4d2e6a759c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-ia-16.03.90.tar.xz">kde-l10n-ia-16.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e69342adc3a386643d5c2be4c04e399d31111832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-id-16.03.90.tar.xz">kde-l10n-id-16.03.90</a></td>
   <td align="right">547kB</td>
   <td><tt>3d4e4261bef48a3177a1e4afa47dbe8e18046e99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-is-16.03.90.tar.xz">kde-l10n-is-16.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>025df7fa596211f7814f9ced3ecaed98e3a2c29a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-it-16.03.90.tar.xz">kde-l10n-it-16.03.90</a></td>
   <td align="right">8.3MB</td>
   <td><tt>435b13c194dc1233507675831595f4bc666e5d76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-ja-16.03.90.tar.xz">kde-l10n-ja-16.03.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>32e62d30c855583b755b7ef515ada109f321c100</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-kk-16.03.90.tar.xz">kde-l10n-kk-16.03.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>dee0d9a94916d67fbb163192a4cd55e8e44306f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-km-16.03.90.tar.xz">kde-l10n-km-16.03.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>7959e42180e13b5e9bf2adbfa6b54b15667b87bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-ko-16.03.90.tar.xz">kde-l10n-ko-16.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>157dd7aaa846ef6990b53efcffdedddf7401d5c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-lt-16.03.90.tar.xz">kde-l10n-lt-16.03.90</a></td>
   <td align="right">12MB</td>
   <td><tt>93c400380ab003e396ae080d4800a8fb19d0c8a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-lv-16.03.90.tar.xz">kde-l10n-lv-16.03.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>f5a3f6cd4d112fe9b60dfe20b74a7440db8624e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-mr-16.03.90.tar.xz">kde-l10n-mr-16.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6406389490185a79fb50eeec627b345123b5611e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-nb-16.03.90.tar.xz">kde-l10n-nb-16.03.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>153905b30418dd3cf2cfb03a4917a4131b00c24c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-nds-16.03.90.tar.xz">kde-l10n-nds-16.03.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>83f5e3ed0ca97b4cd32fb1e8b38aba919957c0f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-nl-16.03.90.tar.xz">kde-l10n-nl-16.03.90</a></td>
   <td align="right">13MB</td>
   <td><tt>c699bcd2d0b14576f766aa9cbf20e80ece37d0a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-nn-16.03.90.tar.xz">kde-l10n-nn-16.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2ae4b7bc30b66fdd5856b433b155056cc382fbea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-pa-16.03.90.tar.xz">kde-l10n-pa-16.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>434c04eef5d8a1fd395fc241b2711fcf838a5252</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-pl-16.03.90.tar.xz">kde-l10n-pl-16.03.90</a></td>
   <td align="right">18MB</td>
   <td><tt>395beeddfead0e28cbfd90de67867033550b12a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-pt-16.03.90.tar.xz">kde-l10n-pt-16.03.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>e57e44f2575b7baaa781ec8fc4db11f1bae69a0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-pt_BR-16.03.90.tar.xz">kde-l10n-pt_BR-16.03.90</a></td>
   <td align="right">20MB</td>
   <td><tt>6deb0f9dafb43c3fadf1a36b7bbdb6f632f4c549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-ro-16.03.90.tar.xz">kde-l10n-ro-16.03.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>a487ed333e551cfd7502bf858f8c00412b49acc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-ru-16.03.90.tar.xz">kde-l10n-ru-16.03.90</a></td>
   <td align="right">22MB</td>
   <td><tt>5e2d8694490d6d1cc035c805ad6189bcde313f9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-sk-16.03.90.tar.xz">kde-l10n-sk-16.03.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>9639fd393de5b3db20a1b09709f26f6f5f0309de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-sl-16.03.90.tar.xz">kde-l10n-sl-16.03.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>234b7b3f7ca8f84867f1be6ef44288135e610e80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-sr-16.03.90.tar.xz">kde-l10n-sr-16.03.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>322a2cf2eed2913c3818089ca8b9ab1e58b64036</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-sv-16.03.90.tar.xz">kde-l10n-sv-16.03.90</a></td>
   <td align="right">11MB</td>
   <td><tt>ca9051d0900cccc66410eed5a74ea1f4cdd2925b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-tr-16.03.90.tar.xz">kde-l10n-tr-16.03.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>505ce02546079676efc876bdf4dab730d22e6ada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-ug-16.03.90.tar.xz">kde-l10n-ug-16.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a42b30275a925f1f22c6b03a7dc2df6fb782665f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-uk-16.03.90.tar.xz">kde-l10n-uk-16.03.90</a></td>
   <td align="right">25MB</td>
   <td><tt>f2d8f1a2298c2ec1352ca08b33c5c418d477155f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-wa-16.03.90.tar.xz">kde-l10n-wa-16.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>25f488b88d5438efe3c30e2996278aab6dab9358</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-zh_CN-16.03.90.tar.xz">kde-l10n-zh_CN-16.03.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>634751154f4167936ba3189e9191184a89a1ce6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.90/src/kde-l10n/kde-l10n-zh_TW-16.03.90.tar.xz">kde-l10n-zh_TW-16.03.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>8603d2cdf077736c6d1c5a8575149975c0c6a25b</tt></td>
</tr>

</table>
